<section class="calendar">
    <h3 class="fz36">Select a Time</h3>
    <div class="calendar__container">
        
        {{!-- Columns of dates --}}
            {{!-- First Slot is date --}}
            {{!-- Container of slots in date --}}
                {{!-- Slots --}}
    </div>
    <div class="arrow left">
        <div> &#60; </div>
    </div>
    <div class="arrow right">
        <div> &#62; </div>
    </div>
    <div class="loading" id="load-screen" style="display: none">
        <div class="loading__spinner">
            <div class="loading__bounce loading__bounce1"></div>
            <div class="loading__bounce loading__bounce2"></div>
            <div class="loading__bounce loading__bounce3"></div>
        </div>
    </div>
    {{> templateScripts/calendar/slot }}
    {{> templateScripts/calendar/dateColumn }}
</section>