<div class="wrapper">
  <div class="community-tabs">
    <div class="tab is-active" data-tab="0">
      <h1>Small Green Shoots</h1>
    </div>
    <div class="tab" data-tab="1">
       <h1>Age UK Camden</h1>
    </div>
        <div class="tab" data-tab="2">
       <h1>Urban Development</h1>
    </div>
  </div>
  <div class="community-events">
    <div class="event is-active" data-tab="0">
      <img src="https://images.samsung.com/is/image/samsung/p5/uk/explore/kings-cross/discover/KX-DiscoverPage-community_Small-green-shoots-391x200.jpg" alt="" >
      <div class='event__copy'>
        <h2>Small Green Shoots is a youth-led charity that provides opportunities in music and the arts to young people from disadvantaged backgrounds. </h2>
        <p>Funded by Comic Relief, their ‘FundaMentals’ workshops aim to destigmatise  mental health by providing a safe space for discussion. They’ve seen great success, engaging with over 750 young people during Mental Health Awareness Week 2019 and a further 123 young people at their recent World Mental Health Day event at Samsung KX. The event included a showcase of work by young people, performances from Big Tobz, Suli Breaks and Lateshia Howell and a panel discussion with these artists.</p>
      </div>
    </div>
     <div class="event" data-tab="1">
      <img src="https://images.samsung.com/is/image/samsung/p5/uk/explore/kings-cross/discover/KX-DiscoverPage-community_Age-UK-391x200.jpg" alt="" >
      <div class='event__copy'>
         <h2>Age UK Camden is a local independent charity that supports and empowers older people to stay active, connected and get the most out of their later life and community. </h2>
         <p>They’ve been working in the local community to support older people for over 50 years and have 60 dedicated staff and over 200 volunteers who help them deliver high-quality, innovative services and activities for older people in Camden. In partnership, we ran a Digital Photography Masterclass at Samsung KX. The event also included a tour of the new building and the latest technologies offered by Samsung.</p>
      </div>
    </div>
    <div class="event" data-tab="2">
      <img src="https://images.samsung.com/is/image/samsung/p5/uk/explore/kings-cross/discover/KX-DiscoverPage-community_Urban-Dev-391x200.jpg" alt="" >
      <div class='event__copy'>
         <h2>Urban Development are a music development organisation based in Tileyard Studios, King's Cross.</h2>
         <p> They play an integral role in the growth of urban music in the UK. For the past 12 years, they’ve provided support and advice to young people trying to make it in underground music.</p>
         <p>They’ve teamed up with us to hold a series of six Industry Take Over seminars within Samsung KX. So far, we’ve welcomed Universal Music’s Island Records to learn about crafting the perfect new act, and we’ve held a panel with Sentric Music to talk about music publishing.</p>
      </div>
    </div>
  </div>
</div>