<section class="section findkx">
	<div class="line"></div><br />
	<div class="section__inner">
		<h3 class="findkx__title findkx__title--mobile fz40">Find Samsung KX</h3>


		<div class="findkx__content">
			<h3 class="findkx__title findkx__title--desktop fz40">Find Samsung KX</h3>

			<div class="findkx__block-1">
				<div class="findkx__location">
					<h4 class="fz18">Location</h4>
					<p class="fz18">Coal Drops Yard</p>
					<p class="fz18">King's Cross, London</p>
					<p class="fz18">N1C 4DQ</p>
				</div>
				<a ga-ca="microsite" ga-ac="feature" ga-la="kings-cross:find-samsung-kx_getting-here-with-public-transport" data-omni-type="microsite" data-omni="uk:kings-cross:find-kx:getting-here-with-public-transport" href="https://goo.gl/maps/bXxejJeVh77GYLGY8" target="_blank" class="fz18 blue-link">Getting Here with
					Public Transport</a>
				<div class="findkx__call">
					<h4 class="fz18">Give Us a Call</h4>
					<a class="fz18" href="tel:+443307260059">0330 726 0059</a>
				</div>
			</div>
			<div class="findkx__block-2">
					<h4 class="fz18">Give Us a Call</h4>
					<a class="fz18" href="tel:+443307260059">0330 726 0059</a>
				</div>
			<div class="findkx__block-3">
				<div class="findkx__openings">
					<h4 class="fz18">Opening Hours*:</h4>
					<p><span class="fz18">Monday - Saturday</span></p>
					<p class="fz18">10am - 10pm</p>
					<p><span class="fz18">Sunday</span></p>
					<p class="fz18">12pm - 6pm</p>
					{{!-- <br>
					<p>*Samsung KX will be closed on 3<sup>rd</sup> of September</p> --}}
				</div>
			</div>

		</div>

		<div class="findkx__map">
			<img class="findkx__map--desktop" src="{{ @root.config.imgPath }}map1.png" alt="Map of Samsung King's Cross Store">
			<img class="findkx__map--mobile" src="{{ @root.config.imgPath }}map-mobile1.png" alt="Map of Samsung King's Cross Store">
		</div>

	</div>
</section>
