<section class="section findkx">
	<div class="section__inner">

		<div class="findkx__content content">
			<h2>Find KX</h2>
			<div class="copy">
				<div class="copy__location">
					<span>Location</span>
					<address>
						Stable St, Kings Cross
						London </br>
						N1C 4DQ
					</address>
					<a href="https://www.google.com/maps?saddr=My+Location&daddr=Three+Pancras+Square,+3+Pancras+Square,+Kings+Cross,+London" target="_blank" class="blue-link">Getting Here with Public Transport</a>
				</div>
				<div class="copy__call">
					<span>Give us a Call</span>
					<span>020 7638 8891</span>
				</div>
				<div class="copy__store">
					<span>Our Store is Open</span>
					<span>Every day, 10am to 10pm</span>
				</div>
			</div>
		</div>

		<div class="findkx__map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2447.550852797164!2d-0.1260877269342252!3d51.53670426265611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b16272ee59d%3A0x4a5b97bd2b93fd91!2sStable+St%2C+Kings+Cross%2C+London!5e0!3m2!1sen!2suk!4v1558353589663!5m2!1sen!2suk" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>

	</div>
</section>
