<section class="section findkx">
	<div class="line"></div><br />
	<div class="section__inner">
		<h3 class="findkx__title findkx__title--mobile fz50">Find Samsung KX</h3>


		<div class="findkx__content">
			<h3 class="findkx__title findkx__title--desktop fz50">Find KX</h3>
			
			<div class="findkx__block-1">
				<div class="findkx__location">
					<h4 class="fz18">Location</h4>
					<p class="fz18">Samsung KX</p>
					<p class="fz18">Coal Drops Yard</p>
					<p class="fz18">King's Cross, London</p>
					<p class="fz18">N1C 4DQ</p>
				</div>
				<a href="https://www.google.com/maps?saddr=My+Location&daddr=Stable+St,+Kings+Cross,+London" target="_blank"
					class="fz18 blue-link">Getting Here with Public Transport</a>
				
			</div>
			<div class="findkx__block-2">
				<div class="findkx__call">
					<h4 class="fz18">Give us a Call</h4>
					<a class="fz18" href="tel:+443307260059">0330 726 0059</a>
				</div>
				<div class="findkx__openings">
					<h4 class="fz18">Opening Hours:</h4>
					<p><span class="fz18">Monday - Saturday</span></p>
					<p class="fz18">10am - 10pm</p><br/>
					<p><span class="fz18">Sunday</span></p>
					<p class="fz18">12am - 6pm</p>
				</div>
			</div>

		</div>

		<div class="findkx__map">
			<img src="{{ @root.config.imgPath }}map.png">
		</div>

	</div>
</section>