<section class="section findkx">
	<div class="line"></div><br/>
	<div class="section__inner">
		<div class="findkx__content">
			<h3 class="findkx__title fz50">Find KX</h3>
			<div class="findkx__location">
				<h4>Location</h4>
				<p>Stable St,</p>
				<p>Kings Cross</p>
				<p>London N1C 4DQ</p>
			</div>
			<a href="https://www.google.com/maps?saddr=My+Location&daddr=Three+Pancras+Square,+3+Pancras+Square,+Kings+Cross,+London"
				target="_blank" class="blue-link">Getting Here with Public Transport</a>
			<div class="findkx__call">
				<h4>Give us a Call</h4>
				<a href="tel:+442076388891">020 7638 8891 </a>
			</div>
			<div class="findkx__openings">
				<h4>KX is Open</h4>
				<p>Every Day</p>
				<p>10am - 10pm</p>
			</div>
		</div>

		<div class="findkx__map">
			<img src="{{ @root.config.imgPath }}map.jpg">
		</div>

	</div>
</section>