<!--script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu9auy0x9Og1YGPl__MkoxswdFd6vxB7M&libraries=places"></script--> 

<section class="section findkx">
	<div class="line"></div><br />
	<div class="section__inner">
		<h3 class="findkx__title findkx__title--mobile fz40">Find Samsung KX</h3>


		<div class="findkx__content desktop">
			<h3 class="findkx__title findkx__title--desktop fz40">Find Samsung KX</h3>

			<div class="findkx__block-1">
				<div class="findkx__location">
					<h4 class="fz16">Location</h4>
					<p class="fz16">Coal Drops Yard</p>
					<p class="fz16">King's Cross, London</p>
					<p class="fz16">N1C 4DQ</p>
				</div>
				<a ga-ca="microsite" ga-ac="feature" ga-la="kings-cross:find-samsung-kx_getting-here-with-public-transport" data-omni-type="microsite" data-omni="uk:kings-cross:find-kx:getting-here-with-public-transport" href="https://goo.gl/maps/bXxejJeVh77GYLGY8" target="_blank" class="fz16 blue-link">Getting Here with
					Public Transport</a>
			</div>
			<div class="findkx__block-2">
					<h4 class="fz16">Give Us a Call</h4>
					<a class="fz16" href="tel:+44333 000 0333">0333 000 0333</a>
				</div>
			<div class="findkx__block-3">
				<div class="findkx__openings findkx__openings__standard" id="openingHours">
					<!-- Below details are populated from google Places Api by places.js file -->
					<h4 class="fz16">Opening Hours:</h4>
					<p><span class="fz16">Monday - Saturday</span></p>
					<p class="fz16">10am - 10pm</p>
					<p><span class="fz16">Sunday</span></p>
					<p class="fz16">12pm - 6pm</p>
					<br>
				</div>
				<!--div class="findkx__openings findkx__openings__special">
					<!-- Below details are populated from google Places Api by places.js file -->
					<!--h4 class="fz16">Special Hours:</h4>
					<p><span class="fz16 bold">2nd Dec: </span><span class="fz16">2pm – 6:30pm</span></p>
					<p><span class="fz16 bold">3rd Dec: </span><span class="fz16">2pm – 10pm</span></p>
					<p><span class="fz16 bold">4th Dec: </span><span class="fz16">2pm – 10pm</span></p>
					<p><span class="fz16 bold">5th Dec: </span><span class="fz16">2pm – 10pm</span></p>
					<p><span class="fz16 bold">6th Dec: </span><span class="fz16">2pm – 10pm</span></p>
					<p><span class="fz16 bold">20th Dec: </span><span class="fz16">12pm – 10pm</span></p>
					<br>
				</div-->
			</div>
			<div class="find_kx__block-4 desktop">
				<div class="findkx__openings__cny accordian accordian__collapsed">
					<div class="accordianHeader">
						<h4 class="fz18 ">Christmas and New Year<br> Opening Hours</h4>
						<div class="accordianIcon accordianIcon__expand"></div>
					</div>
					
					<div class="accordianContent">
						<div class="accordianContent__left">
							<p><span class="fz16 bold">Fri 20th Dec: </span><br><span class="fz16">12pm - 10pm</span></p>
							<p><span class="fz16 bold">Mon 23 Dec: </span><br><span class="fz16">10am – 8pm</span></p>
							<p><span class="fz16 bold">Tues 24 Dec: </span><br><span class="fz16">10am – 6pm</span></p>
							<p><span class="fz16 bold">Wed 25 Dec: </span><br><span class="fz16" style="color: #c32aa3">Closed</span></p>
							<p><span class="fz16 bold">Thurs 26 Dec: </span><br><span class="fz16">10am – 6pm</span></p>
							<p><span class="fz16 bold">Fri 27 Dec: </span><br><span class="fz16">10am – 8pm</span></p>
							<p><span class="fz16 bold">Sat 28 Dec: </span><br><span class="fz16">10am – 8pm</span></p>
							<p><span class="fz16 bold">Sun 29 Dec: </span><br><span class="fz16">12pm – 6pm</span></p>
						</div>
						<div class="accordianContent__right">
							<p><span class="fz16 bold">Mon 30 Dec: </span><br><span class="fz16">10am – 8pm</span></p>
							<p><span class="fz16 bold">Tues 31 Dec: </span><br><span class="fz16">10am – 6pm</span></p>
							<p><span class="fz16 bold">Wed 1 Jan: </span><br><span class="fz16">10am - 6pm</span></p>
							<p><span class="fz16 bold">Thurs 2 Jan: </span><br><span class="fz16">10am – 8pm</span></p>
							<p><span class="fz16 bold">Fri 3 Jan: </span><br><span class="fz16">10am – 8pm</span></p>
							<p><span class="fz16 bold">Sat 4 Jan: </span><br><span class="fz16">10am – 8pm</span></p>
							<p><span class="fz16 bold">Sun 5 Jan: </span><br><span class="fz16">12pm – 6pm</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="findkx__content mobile">
			<h3 class="findkx__title findkx__title--desktop fz40">Find Samsung KX</h3>

			<div class="findkx__block-1">
				<div class="findkx__location">
					<h4 class="fz18">Location</h4>
					<p class="fz18">Coal Drops Yard</p>
					<p class="fz18">King's Cross, London</p>
					<p class="fz18">N1C 4DQ</p>
					<a ga-ca="microsite" ga-ac="feature" ga-la="kings-cross:find-samsung-kx_getting-here-with-public-transport" data-omni-type="microsite" data-omni="uk:kings-cross:find-kx:getting-here-with-public-transport" href="https://goo.gl/maps/bXxejJeVh77GYLGY8" target="_blank" class="fz16 blue-link">Getting Here with
					Public Transport</a>
				</div>
				
				<div class="findkx__call " style="width: 50%; padding: 2em;">
					<h4 class="fz18">Give Us a Call</h4>
					<a class="fz18" href="tel:+44333 000 0333">0333 000 0333</a>
				</div>
			</div>
			<div class="findkx__block-3">
				<div class="findkx__openings findkx__openings__standard" id="openingHours">
					<!-- Below details are populated from google Places Api by places.js file -->
					<h4 class="fz16">Opening Hours:</h4>
					<p><span class="fz18">Monday - Saturday</span></p>
					<p class="fz18">10am - 10pm</p>
					<p><span class="fz18">Sunday</span></p>
					<p class="fz18">12pm - 6pm</p>
					<br>
				</div>
				<!--div class="findkx__openings findkx__openings__special">
					
					<h4 class="fz16">Special Hours:</h4>
					<p><span class="fz16 bold">2nd Dec: </span><span class="fz16">2pm – 6:30pm</span></p>
					<p><span class="fz16 bold">3rd Dec: </span><span class="fz16">2pm – 10pm</span></p>
					<p><span class="fz16 bold">4th Dec: </span><span class="fz16">2pm – 10pm</span></p>
					<p><span class="fz16 bold">5th Dec: </span><span class="fz16">2pm – 10pm</span></p>
					<p><span class="fz16 bold">6th Dec: </span><span class="fz16">2pm – 10pm</span></p>
					<br>
				</div-->
			</div>
			<div class="find_kx__block-4 desktop">
				<div class="findkx__openings__cny accordian accordian__collapsed">
					<div class="accordianHeader">
						<h4 class="fz18 ">Christmas and New Year<br> Opening Hours</h4>
						<div class="accordianIcon accordianIcon__expand"></div>
					</div>
					
					<div class="accordianContent">
						<div class="accordianContent__left">
							<p><span class="fz16 bold">Fri 20th Dec: </span><br><span class="fz16">12pm - 10pm</span></p>
							<p><span class="fz16 bold">Mon 23 Dec: </span><br><span class="fz16">10am – 8pm</span></p>
							<p><span class="fz16 bold">Tues 24 Dec: </span><br><span class="fz16">10am – 6pm</span></p>
							<p><span class="fz16 bold">Wed 25 Dec: </span><br><span class="fz16" style="color: #c32aa3">Closed</span></p>
							<p><span class="fz16 bold">Thurs 26 Dec: </span><br><span class="fz16">10am – 6pm</span></p>
							<p><span class="fz16 bold">Fri 27 Dec: </span><br><span class="fz16">10am – 8pm</span></p>
							<p><span class="fz16 bold">Sat 28 Dec: </span><br><span class="fz16">10am – 8pm</span></p>
							<p><span class="fz16 bold">Sun 29 Dec: </span><br><span class="fz16">12pm – 6pm</span></p>
						</div>
						<div class="accordianContent__right">
							<p><span class="fz16 bold">Mon 30 Dec: </span><br><span class="fz16">10am – 8pm</span></p>
							<p><span class="fz16 bold">Tues 31 Dec: </span><br><span class="fz16">10am – 6pm</span></p>
							<p><span class="fz16 bold">Wed 1 Jan: </span><br><span class="fz16">10am - 6pm</span></p>
							<p><span class="fz16 bold">Thurs 2 Jan: </span><br><span class="fz16">10am – 8pm</span></p>
							<p><span class="fz16 bold">Fri 3 Jan: </span><br><span class="fz16">10am – 8pm</span></p>
							<p><span class="fz16 bold">Sat 4 Jan: </span><br><span class="fz16">10am – 8pm</span></p>
							<p><span class="fz16 bold">Sun 5 Jan: </span><br><span class="fz16">12pm – 6pm</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="findkx__map">
			<img class="findkx__map--desktop" src="{{ @root.config.imgPath }}map1.png" alt="Map of Samsung King's Cross Store">
			<img class="findkx__map--mobile" src="{{ @root.config.imgPath }}map-mobile1.png" alt="Map of Samsung King's Cross Store">
		</div>

	
	</div>
	<div class="find_kx__block-4 mobile">
				<div class="findkx__openings__cny accordian accordian__collapsed">
					<div class="accordianHeader">
						<h4 class="fz18 ">Christmas and New Years Opening Hours</h4>
						<div class="accordianIcon accordianIcon__expand"></div>
					</div>
					<div class="accordianContent">
						<div class="accordianContent__left">
							<p><span class="fz16 bold">Friday 20 December: </span><br><span class="fz16">12pm - 10pm</span></p>
							<p><span class="fz16 bold">Monday, 23 December 2019: </span><br><span class="fz16">10am – 8pm</span></p>
							<p><span class="fz16 bold">Tuesday, 24 December 2019: </span><br><span class="fz16">10am – 6pm</span></p>
							<p><span class="fz16 bold">Wednesday, 25 December 2019: </span><br><span class="fz16" style="color: #c32aa3">Closed</span></p>
							<p><span class="fz16 bold">Thursday, 26 December 2019: </span><br><span class="fz16">10am – 6pm</span></p>
							<p><span class="fz16 bold">Friday, 27 December 2019: </span><br><span class="fz16">10am – 8pm</span></p>
							<p><span class="fz16 bold">Saturday, 28 December 2019: </span><br><span class="fz16">10am – 8pm</span></p>
							<p><span class="fz16 bold">Sunday, 29 December 2019: </span><br><span class="fz16">12pm – 6pm</span></p>
						</div>
						<div class="accordianContent__right">
							<p><span class="fz16 bold">Monday, 30 December 2019: </span><br><span class="fz16">10am – 8pm</span></p>
							<p><span class="fz16 bold">Tuesday, 31 December 2019: </span><br><span class="fz16">10am – 6pm</span></p>
							<p><span class="fz16 bold">Wednesday, 1 January 2020: </span><br><span class="fz16">10am - 6pm</span></p>
							<p><span class="fz16 bold">Thursday, 2 January 2020: </span><br><span class="fz16">10am – 8pm</span></p>
							<p><span class="fz16 bold">Friday, 3 January 2020: </span><br><span class="fz16">10am – 8pm</span></p>
							<p><span class="fz16 bold">Saturday, 4 January 2020: </span><br><span class="fz16">10am – 8pm</span></p>
							<p><span class="fz16 bold">Sunday, 5 January 2020: </span><br><span class="fz16">12pm – 6pm</span></p>
						</div>
					</div>
				</div>
			</div>
</section>
