<!--script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu9auy0x9Og1YGPl__MkoxswdFd6vxB7M&libraries=places"></script-->

<section class="section findkx">
	<div class="section__inner">
		<h3 class="findkx__title findkx__title--mobile fz50">Find Samsung KX</h3>


		<div class="findkx__content">
			<h3 class="findkx__title findkx__title--desktop fz40">Find Samsung KX</h3>

      <div class="findkx__block">
        <h3 class="findkx__title findkx__title--mobile fz36">Opening Times</h3>
				<div class="findkx__openings">

          <!-- dynamic data (findKX.js )-->
          <div class="findkx__openings__dynamic"></div>

          <!-- fallback opening times data -->
          <div class="findkx__openings__fallback">
            <div class="findkx__openings__line">
              <p><span class="fz18">Monday - Saturday</span></p>
  					  <p class="fz18">11am - 7pm</p>
            </div>
            <div class="findkx__openings__line">
              <p><span class="fz18">Sunday</span></p>
              <p class="fz18">12pm - 6pm</p>
            </div>
          </div>

					<!-- Below details are populated from google Places Api by places.js file -->
					<!-- places() commented out now from Main.js, fallback details below also commented out for temporary coronavirus message -->
					<!-- <h4 class="fz25">Opening hours - Closed</h4> -->
          <!-- <p>Temporarily closed until further notice.</p> -->
					{{!-- <h4 class="fz18">Opening Hours: t</h4>
					<p><span class="fz18">Monday - Saturday</span></p>
					<p class="fz18">10am - 10pm</p>
					<p><span class="fz18">Sunday</span></p>
					<p class="fz18">12pm - 6pm</p> --}}
					<!-- <br> -->
					{{!-- <p>* <span>Wednesday 23rd October - 10am - 2pm</span></p> --}}

					{{!-- <p><span style="visibility: hidden;">* </span><span>Mon 30th September - 4pm - 10pm</span></p> --}}



				</div>
			</div>

      <div class="findkx__mobile_groupA">
        <div class="findkx__block">
          <div class="findkx__location">
  					<h4 class="fz25">Location</h4>
  					<p class="fz18">Coal Drops Yard</p>
  					<p class="fz18">King's Cross, London</p>
  					<p class="fz18">N1C 4DQ</p>
  				</div>
        </div>

        <div class="findkx__mobile_groupB">
          <div class="findkx__block">
            <div class="findkx__transport">
              <h4 class="fz25">Getting Here</h4>
              <a ga-ca="microsite" ga-ac="feature" ga-la="kings-cross:find-samsung-kx_getting-here-with-public-transport" data-omni-type="microsite" data-omni="uk:kings-cross:find-kx:getting-here-with-public-transport" href="https://goo.gl/maps/bXxejJeVh77GYLGY8" target="_blank" class="fz18 blue-link">Public Transport</a>
              <a ga-ca="microsite" ga-ac="feature" ga-la="kings-cross:find-samsung-kx_parking" data-omni-type="microsite" data-omni="uk:kings-cross:find-kx:parking" href="https://www.kingscross.co.uk/kings-cross-car-park" target="_blank" class="fz18 blue-link">Parking</a>
            </div>
          </div>

          <div class="findkx__block">
            <div class="findkx__call">
    					<h4 class="fz25">Give Us a Call</h4>
    					<a class="fz16" href="tel:+44333 000 0333">0333 000 0333</a>
    				</div>
          </div>
        </div>
      </div>

		</div>

		<div class="findkx__map">
			<img class="findkx__map_image" src="https://images.samsung.com/is/image/samsung/p5/uk/explore/kings-cross/map/map.jpg" alt="Map of Samsung King's Cross Store">
		</div>

	</div>
</section>
