<div class="homeKV">
  <div class="homeKV__Header">

    <div class="homeKV__HeaderImage"></div>
    <!-- hidden h1 for seo -->
    <div class="homeKV__Title">
      <h1>Samsung KX</h1>
      <div class="homeKV__Straplines">
        <div class="homeKV__Strapline  homeKV__Strapline--first">
          <p>
            It's not a shop. It's a place you can
            <span>#DoWhatYouCant</span>
          </p>
        </div>
        <div class="homeKV__Strapline  homeKV__Strapline--last">
          <p>Welcome to the Hub of Innovation</p>
        </div>
      </div>
    </div>
    <div class="homeKV__ScrollLink">

    </div>
  </div>

  <a id="#homekv-hub"></a>
  <div class="homeKV__Nav">
    <div class="homeKV__NavItems">

      <div class="homeKV__NavItem">
        <div class="homeKV__NavItemBody">
          <h2>Watch Online Content</h2>
          <div class="homeKV__NavItemBody__Desc">Videos / Podcasts / Articles / Tutorials</div>
          <a
            ga-ca="microsite" ga-ac="feature" ga-la="uk:kings-cross:home:online-content-enter" data-omni-type="microsite" data-omni="uk:kings-cross:home:online-content-enter"
            href="/uk/explore/kings-cross/hub/"
            class="btn btn--primary btn--primary--saffron">
            Watch
          </a>
        </div>
      </div>
      <div class="homeKV__NavItem">
        <div class="homeKV__NavItemBody">
          <h2>Visit Live Events</h2>
          <div class="homeKV__NavItemBody__Desc">Tech / Talks / Shows / Courses / Gigs</div>
          <a
            ga-ca="microsite" ga-ac="feature" ga-la="uk:kings-cross:home:online-content-enter" data-omni-type="microsite" data-omni="uk:kings-cross:home:online-content-enter"
            href="/uk/explore/kings-cross/whats-on/"
            class="btn btn--primary btn--primary--teal">
            Book
          </a>
        </div>
      </div>

    </div>
    <div class="homeKV__CrossSVG">
      <img class="homeKV__CrossPNG" src="https://images.samsung.com/is/image/samsung/assets/uk/explore/kings-cross/homekv/homeKV_fallback.png" />
      {{> svg/homeKV-svg}}
    </div>
  </div>
</div>
