<div class="homeKV">
  <div class="homeKV__Header">
    <!-- hidden h1 for seo -->
    <div class="homeKV__Title">
      <h1>Samsung KX</h1>
      <p>Welcome to the home of innvation</p>
      <a class="homeKV__ScrollLink">Link</a>
    </div>
  </div>

  <div class="homeKV__Nav">
    <div class="homeKV__NavItems">
      <a class="homeKV__NavItem">
        <div class="homeKV__NavItemText">
          <h2>Lifestyle</h2>
        </div>
      </a>
      <a class="homeKV__NavItem">
        <div class="homeKV__NavItemText">
          <h2>Entertainment</h2>
        </div>
      </a>
      <a class="homeKV__NavItem">
        <div class="homeKV__NavItemText">
          <h2>Creativity</h2>
        </div>
      </a>
      <a class="homeKV__NavItem">
        <div class="homeKV__NavItemText">
          <h2>Innovation</h2>
        </div>
      </a>
    </div>
    <div class="homeKV__CrossSVG">
      {{> svg/homeKV-svg}}
    </div>
  </div>
</div>
