<div class="homeKV">
  <div class="homeKV__Header">
    <!-- hidden h1 for seo -->
    <h1 class="h1-hidden">Welcome to Samsung KX</h1>
  </div>

  <div class="homeKV__Nav">
    <div class="homeKV__NavItems">
      <div class="homeKV__NavItem">Item</div>
      <div class="homeKV__NavItem">Item</div>
      <div class="homeKV__NavItem">Item</div>
      <div class="homeKV__NavItem">Item</div>
    </div>
    <div class="homeKV__CrossSVG">
      {{> svg/homeKV-svg}}
    </div>
  </div>
</div>
