<div class="homeKV">
  <div class="homeKV__Header">

    <div class="homeKV__HeaderImage"></div>
    <!-- hidden h1 for seo -->
    <div class="homeKV__Title">
      <h1>Samsung KX</h1>
      <div class="homeKV__Straplines">
        <div class="homeKV__Strapline  homeKV__Strapline--first">
          <p>
            It's not a shop. It's a place you can
            <span>#DoWhatYouCant</span>
          </p>
        </div>
        <div class="homeKV__Strapline  homeKV__Strapline--last">
          <p>Welcome to the Hub of Innovation</p>
        </div>
      </div>
    </div>
    <div class="homeKV__ScrollLink">

    </div>
  </div>

  <a id="#homekv-hub"></a>
  <div class="homeKV__Nav">
    <div class="homeKV__NavItems">
      <div class="homeKV__NavItem">
        <div class="homeKV__NavItemText">
          <h2 class="homeKV__NavItemTitle--mobile">Lifestyle</h2>
          <h2 class="homeKV__NavItemTitle--desktop">Lifestyle & Wellbeing</h2>
          <a ga-ca="microsite" ga-ac="feature" ga-la="uk:kings-cross:home:lifestyle-enter"
					data-omni-type="microsite" data-omni="uk:kings-cross:home:lifestyle-enter" href="/uk/explore/kings-cross/lifestyle/" class="btn btn--small btn--primary btn--primary--saffron">Enter</a>
        </div>
      </div>
      <div class="homeKV__NavItem">
        <div class="homeKV__NavItemText">
          <h2>Entertainment</h2>
          <a ga-ca="microsite" ga-ac="feature" ga-la="uk:kings-cross:home:entertainment-enter"
					data-omni-type="microsite" data-omni="uk:kings-cross:home:entertainment-enter" href="/uk/explore/kings-cross/entertainment/" class="btn btn--small btn--primary btn--primary--skyblue">Enter</a>
        </div>
      </div>
      <div class="homeKV__NavItem">
        <div class="homeKV__NavItemText">
          <h2>Creativity</h2>
          {{!-- <button onclick="setTimeout(function(){ window.location.href='/uk/explore/kings-cross/creativity' }, 200); " ga-ca="microsite" ga-ac="feature" ga-la="uk:kings-cross:home:test-enter"
					data-omni-type="microsite" data-omni="uk:kings-cross:home:test-enter" class="btn btn--small btn--primary btn--primary--coral" >Enter</button>          --}}
          <a ga-ca="microsite" ga-ac="feature" ga-la="uk:kings-cross:home:creativity-enter"
					data-omni-type="microsite" data-omni="uk:kings-cross:home:creativity-enter" href="/uk/explore/kings-cross/creativity" class="btn btn--small btn--primary btn--primary--coral">Enter</a>
        </div>
      </div>
      <div class="homeKV__NavItem">
        <div class="homeKV__NavItemText">
          <h2 class="homeKV__NavItemTitle--mobile">Innovation</h2>
          <h2 class="homeKV__NavItemTitle--desktop">Tech & Innovation</h2>
          <a role="button" ga-ca="microsite" ga-ac="feature" ga-la="uk:kings-cross:home:innovation-enter"
					data-omni-type="microsite" data-omni="uk:kings-cross:home:innovation-enter" href="/uk/explore/kings-cross/innovation" class="btn btn--small btn--primary btn--primary--teal">Enter</a>
        </div>
      </div>
    </div>
    <div class="homeKV__CrossSVG">
      <img class="homeKV__CrossPNG" src="https://images.samsung.com/is/image/samsung/assets/uk/explore/kings-cross/homekv/homeKV_fallback.png" />
      {{> svg/homeKV-svg}}
    </div>
  </div>
</div>
