<section class="section homepage-kv">
	<div class="section__inner homepage-kv">
		<div id="parallax__container">
  <div class="parallax__text"><span>Welcome to</span><h2>Samsung KX</h2></div>
  <div style="background: url(https://images.samsung.com/is/image/samsung/p5/uk/kings-cross/Homepage_Header_KV_02.png?$ORIGIN_PNG$);"></div>
  <div class="parallax__zeroOne" style="background: url(https://images.samsung.com/is/image/samsung/p5/uk/kings-cross/Homepage_Header_KV_03.png?$ORIGIN_PNG$);"></div>
  <div style="background: url(https://images.samsung.com/is/image/samsung/p5/uk/kings-cross/Homepage_Header_KV_00.png?$ORIGIN_PNG$);"></div>
  <div class="parallax__zeroOne" style="background: url(https://images.samsung.com/is/image/samsung/p5/uk/kings-cross/Homepage_Header_KV_01.png?$ORIGIN_PNG$);"></div>
</div>
  
	</div>
</section>
