<section class="section homepage-kv">
	<div class="section__inner homepage-kv">
		<div id="parallax__container">
  <div class="parallax__text para"  data-parallax-speed="-4" ><span>Welcome to</span><h2>Samsung KX</h2></div>
  <div  id="parallax__orangex" class="para" data-parallax-speed="2"   style="background: linear-gradient(to bottom, rgba(12, 12, 12, 0.7) 0%, rgba(12, 12, 12, 0) 25%, rgba(12, 12, 12, 0) 59%, rgba(12, 12, 12, 0.7) 100%),url({{ config.imgPath }}kv_orangex.png);"></div>
  <div id="parallax__building" class="para" data-parallax-speed="3"    style="background:  linear-gradient(to bottom, rgba(12, 12, 12, 0.7) 0%, rgba(12, 12, 12, 0) 25%, rgba(12, 12, 12, 0) 59%, rgba(12, 12, 12, 0.7) 100%),url({{ config.imgPath }}kv_building.png);"></div>
  <div id="parallax__yellowx" class="para" data-parallax-speed="7"  style="background: linear-gradient(to bottom, rgba(12, 12, 12, 0.7) 0%, rgba(12, 12, 12, 0) 25%, rgba(12, 12, 12, 0) 59%, rgba(12, 12, 12, 0.7) 100%),url({{ config.imgPath }}kv_yellowx.png);"></div>
  <div id="parallax__purplex" class="para" data-parallax-speed="11"   style="background: linear-gradient(to bottom, rgba(12, 12, 12, 0.7) 0%, rgba(12, 12, 12, 0) 25%, rgba(12, 12, 12, 0) 59%, rgba(12, 12, 12, 0.7) 100%),url({{ config.imgPath }}kv_purplex.png);"></div>
</div>
  
	</div>
</section>
