<div class="kxClosed">
  <div class="section">
    <div class="kxClosed__wrap">
      <h4 class="fz36">
        Samsung KX is temporarily closed until further notice.
      </h4>
      <p>
        With the wellbeing of our customers and employees as our utmost priority, and in consideration of current recommendations from health and government authorities, Samsung KX is temporarily closed until further notice.
      </p>
      <p>
        Samsung product support remains available at <a href="https://www.samsung.com/uk/support" target="_blank">https://www.samsung.com/uk/support</a>
      </p>
      <p>
        Thank you for your continued loyalty and understanding. Please take care of yourselves, your loved ones and your communities.
      </p>
    </div>
  </div>
</div>
