<div class="loading cm-configurator-loader" id="load-screen" style="display: none">
    <div class="loading__spinner">
        <div class="loading__bounce loading__bounce1"></div>
        <div class="loading__bounce loading__bounce2"></div>
        <div class="loading__bounce loading__bounce3"></div>
    </div>
</div>