<section class="section shopFloorplan">
    <div class="section__inner">
        <div class="shopFloorplan__content content">
            <h2 class="shopFloorplan__content--title">{{ config.discover.shopFloorplan.title }}</h2>

            <span class="shopFloorplan__content--section">{{ config.discover.shopFloorplan.section }}</span>

            <p class="shopFloorplan__content--description">{{ config.discover.shopFloorplan.description }}</p>
        </div>
    </div>
</section>