<div class='sidedrawer'>
    <ul>
        <li>
            <button class='sidedrawer__heading-button fz25' data-open='home'>home of innovation</button>
            <ul data-menu='home' class='sidedrawer__submenu'>
                <li><a href="" class='fz25'>creativity space</a> </li>
                <li><a href="" class='fz25'>entertainment space</a> </li>
                <li><a href="" class='fz25'>health & wellbeing space</a> </li>
                <li><a href="" class='fz25'>giving space</a></li>
            </ul>
        </li>
        <li>
            <button class='sidedrawer__heading-button fz25' data-open='home'>home of innovation</button>
            <ul data-menu='home' class='sidedrawer__submenu'>
                <li><a href="" class='fz25'>creativity space</a> </li>
                <li><a href="" class='fz25'>entertainment space</a> </li>
                <li><a href="" class='fz25'>health & wellbeing space</a> </li>
                <li><a href="" class='fz25'>giving space</a></li>
            </ul>
        </li>
        <li></li>
        <li></li>
    </ul>
    <div class='sidedrawer__footer'>

    </div>
</div>