<section class="section social">
	<div class="section__inner">
  
  <div class="footer__container">

 
    <div class="footer__left">
      <h2>Follow Us On Social Media</h2>

		<ul>
  <li>
    <a ga-ca=“microsite” ga-ac=“feature” ga-la=“kings-cross:sharing_facebook” data-omni-type=“microsite” data-omni=“uk:kings-cross:sharing:facebook” class="facebook" href="https://www.facebook.com/SamsungUK/">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a ga-ca=“microsite” ga-ac=“feature” ga-la=“kings-cross:sharing_twitter” data-omni-type=“microsite” data-omni=“uk:kings-cross:sharing:twitter” class="twitter" href="https://twitter.com/samsunguk?lang=en">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a ga-ca=“microsite” ga-ac=“feature” ga-la=“kings-cross:share_instagram” data-omni-type=“microsite” data-omni=“uk:kings-cross:share:instagram” class="instagram" href="https://www.instagram.com/samsunguk/?hl=en">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
  </li>
</ul>
    </div>
    <div class="spacer"></div>
    <div class="footer__right">
      <h2>Get regular updates</h2>
      <a ga-ca=“microsite” ga-ac=“feature” ga-la=“kings-cross:share_sign up here” data-omni-type=“microsite” data-omni=“uk:kings-cross:share:sign up here” href="https://www.samsung.com/uk/kings-cross/register/" class="button btn btn--secondary">SIGN UP HERE</a>
    </div>
		 </div>
	</div>
</section>

