
      
            {{#each config.discover.spaces}}
            <div class="spaces__space" style="background: url('{{ @root.config.imgPath }}{{ this.image }}')">

                <h4>{{this.title}}</h4>

                <p>{{this.description}}</p>

            </div>
            {{/each}}

