
      
            {{#each config.discover.spaces}}
            <div class="spaces__space">
                {{{this.image}}}
                <h4>{{this.title}}</h4>
                <p>{{this.description}}</p>

            </div>
            {{/each}}

