
      
            {{#each config.discover.spaces}}
            <div class="spaces__space">
                <div class="spaces__space__image">{{{this.image}}}</div>
                <h4>{{this.title}}</h4>
                <p>{{this.description}}</p>

            </div>
            {{/each}}

