<script id='book' type='text/x-handlebars-template'>
<div class="section__inner">

				<div class="book-action">

					<h2>Ticket Options</h2>
                    <span>[[ startTime ]] - [[ endTime ]] | [[ fullDate ]] | Samsung KX</span>
					<div class="book__form">
						<form id='book__form'>
                            <div class="book__form__top">
                                <input class="book__form-name" required placeholder="Name" type="text" />
							<input class="book__form-surname" required placeholder="Surname" type="text" />
							<input class="book__form-tel" required placeholder="Telephone" type="tel" pattern="^\s*\(?(020[7,8]{1}\)?[ ]?[1-9]{1}[0-9{2}[ ]?[0-9]{4})|(0[1-8]{1}[0-9]{3}\)?[ ]?[1-9]{1}[0-9]{2}[ ]?[0-9]{3})\s*$" />
							<input class="book__form-email" required placeholder="Email" type="email" />
                            </div>
							<div class="book__form__middle"> <div class="book__tickets">
						<h3>Tickets Requested</h3>
                        <div class="book__tickets__container">
                                	<div class="book__tickets-minus">-</div>
						<input class="book__tickets-tickets" type="number" min="1" max="10" value="1" />
						<div class="book__tickets-plus">+</div>
                        </div>
					
					</div>
                    <div class="book_tickets_tc"><div class="book_tickets_tc__selector"></div><span class="book_tickets_tc_text">I would like to receive special offers, announcements, push notifications and emails about Samsung’s King’s Cross store and related developments from Samsung Electronics (UK) Ltd.*</span></div>
                     <div class="book_tickets_tc"><div class="book_tickets_tc__selector"></div><span class="book_tickets_tc_text">I am over 13 years old.*</span></div>
                     <div class="book_tickets_tc"><div class="book_tickets_tc__selector"></div><span class="book_tickets_tc_text">I would like to receive special offers, announcements, push notifications and emails about Samsung’s products and services from Samsung Electronics (UK) Ltd.</span></div>
                    </div>
                            <div class="book__form__footer"><input class="book__form-submit" type="submit" value="Get Tickets"></div>
                           

							
						</form>
					</div>
				</div>

				<div class="book-confirmation">
					<div class="book-confirmation__header">
						<h3>We'll see you soon.</h3>
						<p>You will receive an email with your booking details. Thank you for booking tickets for:</p>
					</div>

					<div class="book-confirmation__summary order">
						<div class="order__summary">
							<h4>Order Sumary</h4>
							<span>Reference: <span class="order-reference">xxx</span></span>
							<span>Qty. <span class="order-quantity">xxx</span></span>
							<span class="order-name">xxx</span>
							<span class="order-email">xxx</span>
							<span class="order-tel">xxx</span>
						</div>

						<div class="order__event">
							<h3 class="order__event-title">xxx</h3>
							<p class="order__event-date">xxx</p>
							<p class="order__event-time">xxx</p>
							<p class="order__event-duration"></p>
							<p>Samsung KX Store</p>
							<p>1 Some Address, X, King's Cross</p>
						</div>
					</div>
				</div>

			</div>
</script>
