/* ==========================================================================
  HELPERS
========================================================================== */

.cheil-static {
  // opacity 0 for fades
  .op0 {
    opacity: 0;
    transition: opacity $transitionDefault ease;

    &--fade {
      opacity: 1;
    }
  }

  // This sets the values for each section
  .section {
    width: 100%;
    padding-left: $p-borders-desktop + px;
    padding-right: $p-borders-desktop + px;

    padding-top: $m-borders-desktop + px;
    padding-bottom: $m-borders-desktop + px;

    @media screen and (max-width: $desktop) {
      padding-left: $p-borders-desktop + px;
      padding-right: $p-borders-desktop + px;
      padding-top: get-desktop-vw($m-borders-desktop);
      padding-bottom: get-desktop-vw($m-borders-desktop);
    }

    @media screen and (max-width: $mobile) {
      padding-left: $p-borders-mobile + px;
      padding-right: $p-borders-mobile + px;
      padding-top: get-mobile-vw($m-borders-mobile);
      padding-bottom: get-mobile-vw($m-borders-mobile);
    }

    &__inner {
      position: relative;
      width: 100%;
      max-width: $desktop;
      margin-left: auto;
      margin-right: auto;
      padding-top: $p-borders-desktop + px;
      padding-bottom: $p-borders-desktop + px;

      @media screen and (max-width: $desktop) {
        padding-top: get-desktop-vw($p-borders-desktop);
        padding-bottom: get-desktop-vw($p-borders-desktop);
      }

      @media screen and (max-width: $mobile) {
        padding-top: get-mobile-vw($p-borders-mobile);
        padding-bottom: get-mobile-vw($p-borders-mobile);
      }
    }

  }

  // URL LINKS
  .link {
    color: $blue-link;
    text-decoration: underline;
    font-size: 12px;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 100px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    transition: all $transitionDefault ease;
    width: 200px;
    height: 50px;

    @media screen and (max-width: $desktop) {
      width: get-desktop-vw(240);
      height: get-desktop-vw(60);
      padding: get-desktop-vw(12) get-desktop-vw(23);
    }
    @media screen and (max-width: $mobile) {
      width: get-mobile-vw(240);
      height: get-mobile-vw(60);
      padding: get-mobile-vw(12) get-mobile-vw(23);
    }

    &--primary {
      border-color: $pink;
      background: $pink;
      color: #fff;
      &:hover {
        background: $white;
        border-color: $pink;
        color: $pink;
      }

      &--orange {
        border-color: $orange;
        background-color: $orange;
        color: #fff;
        &:hover {
          background: white;
          color: $orange;
          border-color: $orange;
        }
      }

      &--cyan {
        border-color: $cyan;
        background-color: $cyan;
        color: #fff;
        &:hover {
          background: white;
          color: $cyan;
          border-color: $cyan;
        }
      }

      &-notActive {
        pointer-events: none;
        background: $grey;
        border-color: $grey;
        color: $white;
      }
    }

    &--secondary {
      border-color: $pink;
      color: #fff;
      &:hover {
        border-color: $white;
        color: $pink;
      }

      &-notActive {
        background: $grey;
        border-color: $grey;
        color: $grey;
        pointer-events: none;
      }

      &--orange {
        border-color: $orange;
        color: #fff;
        &:hover {
          color: $orange;
          border-color: $white;
        }
      }

      &--cyan {
        border-color: $cyan;
        color: #fff;
        &:hover {
          background: white;
          color: $cyan;
          border-color: $white;
        }
      }
    }

    &--grey {
      border-color: $grey;
      color: #fff;
      &:hover {
        background: $grey;
      }
    }

    &--blue {
      border-color: $samsungBlue;
      color: #fff;
      &:hover {
        background: $samsungBlue;
      }
    }

    &--pink {
      border-color: $pink;
      color: #fff;
      &:hover {
        background: $pink;
      }
    }
  }

  .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;

    &__container {
      display: block;
      position: relative;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding-left: 35px;
      margin-bottom: 12px;
      width: 100%;

      &.warn,
      &.invalid {
        color: $warning;
      }

      &:hover input ~ .checkbox {
        background-color: #ccc;
      }

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      input:checked ~ .checkbox {
        background-color: $orange;
      }

      input:checked ~ .checkbox__pink {
        background-color: $pink;
      }

      input:checked ~ .checkbox__blue {
        background-color: $samsungBlue;
      }

      input:checked ~ .checkbox__cyan {
        background-color: $cyan;
      }

      input:checked ~ .checkbox:after {
        display: block;
      }

      // .checkbox:after {
      //   left: 9px;
      //   top: 5px;
      //   width: 5px;
      //   height: 10px;
      //   border: solid white;
      //   border-width: 0 3px 3px 0;
      //   -webkit-transform: rotate(45deg);
      //   -ms-transform: rotate(45deg);
      //   transform: rotate(45deg);
      // }
    }

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  @keyframes flash {
    50% {
      background-color: pink;
    }
    100% {
      background-color: white;
    }
  }

  .flash {
    animation: flash 0.5s ease-in-out;
  }

  @keyframes flash__close {
    50% {
      background-color: pink;
    }
    100% {
      background-color: white;
    }
  }

  .close {
    visibility: hidden;
    cursor: pointer;
    position: absolute;
    width: 32px;
    height: 32px;
    z-index: 99;
    right: 128px;
    opacity: 0;
    transition: opacity ease-in-out 0.5s;
    @media screen and (max-width: $desktop) {
      right: get-desktop-vw(32);
      // top: get-desktop-vw(32);
    }

    @media screen and (max-width: $mobile) {
      width: 21px;
      height: 25px;
      right: get-mobile-vw(32);
      // top: get-mobile-vw(32);
    }

    &:hover {
      opacity: 1;
    }

    &:before,
    &:after {
      position: absolute;
      left: 7px;
      content: " ";
      height: 33px;
      width: 2px;
      background-color: white;
      @media screen and (max-width: $mobile) {
        height: 18px;
        width: 3px;
      }
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    &.flash {
      &::before,
      &::after {
        animation: flash__close 1s;
      }
    }
  }

  .pop-up {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;

    &__body {
      position: absolute;
      height: 400px;
      width: 800px;

      @media screen and (max-width: $desktop) {
        height: get-desktop-vw(400);
        width: get-desktop-vw(800);
      }

      @media screen and (max-width: $mobile) {
        height: get-mobile-vw(400);
        width: get-mobile-vw(800);
      }

      padding: 80px 120px;

      @media screen and (max-width: $desktop) {
        padding: get-desktop-vw(80) get-desktop-vw(120);
      }

      @media screen and (max-width: $mobile) {
        padding: get-mobile-vw(80) get-mobile-vw(120);
      }

      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: $background;
      border: 5px solid $pink;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }

    &__title {
      font-size: em(32);
    }

    &__text {
      font-size: em(20);
      margin: 24px 0;
      @media screen and (max-width: $desktop) {
        margin: get-desktop-vw(24) get-desktop-vw(0);
      }

      @media screen and (max-width: $mobile) {
        margin: get-mobile-vw(24) get-mobile-vw(0);
      }
    }

    &__buttons {
      display: flex;
      button {
        margin: 0 20px;
      }
    }

    .close {
      top: 24px;
      right: 24px;
      @media screen and (max-width: $desktop) {
        top: get-desktop-vw(24);
        right: get-desktop-vw(24);
      }

      @media screen and (max-width: $mobile) {
        top: get-mobile-vw(24);
      }
    }
  }

  div.line {
    background-color: #4d4d4f;
    height: 2px;
    width: 100%;
    max-width: $desktop;
    margin: 0 auto;

    &--vertical {
      // height: 100%;
      width: 1px;
      background-color: #dbdbdb;
      margin-right: 32px;
      @media screen and (max-width: $desktop) {
        margin-right: get-desktop-vw(32);
      }
      @media screen and (max-width: $mobile) {
        margin-right: get-mobile-vw(32);
      }
    }
  }

  //Inputs
  input[type="text"].input,
  input[type="email"].input,
  input[type="tel"].input,
  select.input,
  textarea.input {
    background-color: transparent;
    color: white;
    border: 1px solid $grey-form;
    font-size: em(25);

    padding: 12px 30px;
    @media screen and (max-width: $desktop) {
      padding: get-desktop-vw(12) get-desktop-vw(30);
    }
    @media screen and (max-width: $mobile) {
      padding: get-mobile-vw(12) get-mobile-vw(30);
    }

    &.warn {
      color: $warning;
      outline: 2px solid $warning;
    }

    &.warn::placeholder {
      color: $warning;
    }
  }
  input.invalid {
    border-color: #ff4337;
  }

  .no-vert-padding{
    padding-top: 0px;
    padding-bottom: 0px;
  }

}
