.hoiSearch {

}

// reset
.hoiSearch {
  .hoiSearch__header {
    font-size: 13px;
    font-family: $samsung-sharp;
    .hoiSearch__filter label {
      font-size: 13px;
    }
    h3 {
      font-size: 1.875em;
      margin-bottom: 1rem
    }
  }
  a {
    color: white;
  }
}

.hoiSearch__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  background: #191919;
  text-align: center;
  padding: 0 $spacing-desktop;
}

.hoiSearch__header h3 {
  margin-top: auto;
}

.hoiSearch__input {
  width: 300px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  border: 1px solid white;
  background: black;
  background-image: url(https://images.samsung.com/is/content/samsung/assets/uk/explore/kings-cross/icon/magnify-white-fill.svg);
  background-repeat: no-repeat;
  background-position: 15px center;
  color: white;
  padding-left: 50px;
  font-size: 1.3em;
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}

$filter-size: 30px;
.hoiSearch__filters {
  display: flex;
  margin-top: auto;
  margin-bottom: $spacing-desktop;
}
@media screen and (max-width: $mobile) {
  .hoiSearch__filters {
    flex-wrap: wrap;
    .hoiSearch__filter {
      width: 50%;
      label {
        padding-left: 0;
      }
    }
  }
}

.hoiSearch__filter {
  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: $filter-size;
    height: $filter-size;
    position: relative;
  }
  label:before {
    content: '';
    display: inline-block;
    width: $filter-size;
    height: $filter-size;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid white;
    transition: 0.3s;
  }
  label:after {
    content: '';
    display: block;
    position: absolute;
    width: $filter-size;
    height: $filter-size;
    background-image: url(https://images.samsung.com/is/content/samsung/assets/uk/explore/kings-cross/icon/check-white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
    opacity: 0.5;
    transition: 0.3s;
  }
  label:hover:after {
    opacity: 1;
  }
  input:checked {
    & + label:before {
      color: red;
    }
    & + label:after {
      opacity: 1;
    }
  }
}

.hoiSearch__filter:nth-child(1) {
  input:checked + label:before {
    background-color: $saffron;
  }
  label:before {
    border-color: $saffron;
  }
}
.hoiSearch__filter:nth-child(2) {
  input:checked + label:before {
    background-color: $coral;
  }
  label:before {
    border-color: $coral;
  }
}
.hoiSearch__filter:nth-child(3) {
  input:checked + label:before {
    background-color: $skyblue;
  }
  label:before {
    border-color: $skyblue;
  }
}
.hoiSearch__filter:nth-child(4) {
  input:checked + label:before {
    background-color: $teal;
  }
  label:before {
    border-color: $teal;
  }
}

.hoiSearch__panel {
  display: none;
  .hoiList__Item {
    opacity: 1;
  }
}

// show results
.hoiSearch__panel--results {
  display: block;
}
// but hide within wrap (to be animated)
.hoiSearch__results_wrap {
  height: 0;
  transition: 0.3s;
  overflow: hidden;
}

.hoiSearch[search-state="loading"] {
  .hoiSearch__panel--loading {
    display: block;
  }
}

.hoiSearch[search-state="results"] {
  .hoiSearch__panel--results {
    .hoiList__Item {
      opacity: 0;
      animation: search-fade-in 0.3s ease-in-out forwards;
      animation-delay: 0s;
    }
    @for $i from 0 through 12 {
      .hoiList__Item:nth-child(#{$i + 1}) {
        animation-delay: #{($i * 0.05s) + 0.2s};
      }
    }
  }
}

.hoiSearch[search-state="noinput"] {
  .hoiSearch__panel--noinput {
    display: block;
  }
}

.hoiSearch[search-state="noresults"] {
  .hoiSearch__panel--noresults {
    display: block;
  }
}

@keyframes search-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
