// Vars
$kxnav-height: 50px;
$raised-nav-item-zindex: 1200;
$search-link-zindex: 1000;
$search-view-zindex: 1100;
$navigation-zindex: 900;
$mobile-nav-zindex: 800;
$subview-zindex: 700;

// Page Resets
.kxNav {
  a {
    color: white;
  }
  * {
    // font-size: 13px;
    font-family: $samsung-sharp;
  }
}

// Main Block
.kxNav {
  position: relative;
  width: 100vw;
  height: $kxnav-height;
  z-index: 600;
  // overflow: hidden;
}

// Sticky bar (desktop & mobile)
.kxNav__StickyBar {
  height: $kxnav-height;
  width: 100vw;
  top: 0;
  background: rgba(0,0,0,0.8);
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 28%,rgba(0,0,0,0.75) 100%);
  z-index: $navigation-zindex;

  @media screen and (max-width: $mobile) {
    background: rgba(0,0,0,0.9);
  }
}

// Sticky Nav (desktop)
.kxNav__StickyNav {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 4em;
  max-width: 1440px;
  margin: 0 auto;
}

.kxNav__StickyNavLink {
  flex: 1;
  margin-bottom: 0;
  flex-grow: 2;
  flex-shrink: 0;
  height: 100%;
}

// inner link styles
.kxNav__StickyNavLink a {
  text-transform: uppercase;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  font-size: 13px;


}

// pre raised above search view
.kxNav__StickyNavLink--raised {
  position: relative;
  z-index: $raised-nav-item-zindex;
}

.kxNav__StickyNavLink a:not(.btn):hover {
  background-color: rgba(255,255,255,0.1);
}

// Desktop signup link (temp)
.kxNav__StickyNavLink--signup {
  padding: 0.5em 0;
}

// Mobile Nav (sidebar)
.kxNav__MobileNav {
  z-index: $mobile-nav-zindex;
  transform: translate(-110%, 0);
  transition: transform 0.3s ease-in-out;
  background: rgba(0,0,0,0.9);
  width: 100vw !important;
  min-height: 100vh;
  top: 50px !important;
}

// mobile toggle icon
.kxNav__MobileToggle {
  font-size: 0;
  width: $kxnav-height;
  height: $kxnav-height;
  position: relative;
  display: block;
  z-index: $raised-nav-item-zindex;
  a {
    position: relative;
    color: transparent;
  }
  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

// mobile nav links
.kxNav__StickyBar--mobile {
  .kxNav__StickyNavLink {
    height: $kxnav-height;
    text-align: left;
    a {
      justify-content: flex-start;
      padding: 0 2em;
    }
  }
}

// subview styles (mobile sidebar and search)
.kxNav__SubView {
  width: 100%;
  top: $kxnav-height;
  bottom: 0;
  position: fixed;
  position: absolute;
  background: rgba(0,0,0,0.9);
  z-index: $subview-zindex;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

// Desktop/Mobile states
.kxNav__StickyBar--mobile {
  display: none;
}
@media screen and (max-width: $mobile) {
  .kxNav__StickyBar--desktop {
    display: none;
  }
  .kxNav__StickyBar--mobile {
    display: block;
  }
}

// Sticky state
.kxNav[sticky] .kxNav__StickyBar {
  position: fixed;
}

.kxNav[sticky] .kxNav__SubView {
  // position: fixed;
  top: $kxnav-height !important;
  margin-top: 0;
}

// mobile sidebar open
.kxNav[mobile-nav-open] .kxNav__MobileNav {
  transform: translate(0, 0);
}

//////////
// Search
//////////

// search icon link
.kxNav__SearchLink {
  min-width: $kxnav-height;
  max-width: $kxnav-height;
  width: $kxnav-height;
  position: relative;
  a {
    font-size: 0;
    position: relative;
    z-index: $raised-nav-item-zindex;
    cursor: pointer;
  }
}

// search link positioning for sidebar
.kxNav__SearchLink--mobile {
  max-width: 100%;
  width: 100%;
  a {
    display: block;
  }
}

// variables to animate the search view and search nav icon
$nav-icon-animation-duration: 1s;
$search-change-duration: 0.5s;

.kxNav__SearchLink:before {
  content: '';
  display: block;
  background-image: url(https://images.samsung.com/is/content/samsung/assets/uk/explore/kings-cross/icon/magnify-white-fill.svg);
  width: $kxnav-height;
  height: $kxnav-height;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $search-link-zindex + 1;
  position: absolute;
}
// stroked circle element for search animation
.kxNav__SearchLink:after {
  content: '';
  display: block;
  position: absolute;
  width: $kxnav-height - 10;
  height: $kxnav-height - 10;
  top: 50%;
  left: 50%;
  background: black;
  border-radius: 50%;
  border: 1px solid white;
  transform: translate(-50%, -50%);
  transition: $nav-icon-animation-duration ease-in-out;
  will-change: width, height;
  pointer-events: none;
  z-index: $search-link-zindex;
}

// search view initial state
.kxNav__SearchContainer {
  opacity: 0;
  position: fixed;
  pointer-events: none;
  z-index: $search-view-zindex;
  transition: opacity $search-change-duration ease-in-out;
}

// search open state
.kxNav[search-open] {
  .kxNav__SearchLink:before {
    background-image: url(https://images.samsung.com/is/content/samsung/assets/uk/explore/kings-cross/icon/search-close-white.svg);
    transform: translate(-50%, -50%) scale(1.4);
  }
  .kxNav__SearchLink:after {
    // 250 of longest edge should cover it
    width: 250vmax;
    height: 250vmax;
  }
  // transition to show the search view after icon navigation
  .kxNav__SearchContainer {
    pointer-events: all;
    transition: opacity $search-change-duration $nav-icon-animation-duration ease-in-out;
    opacity: 1;
  }
  // animation to fade nav links in after search visibility change
  .kxNav__StickyBar--desktop {
    .kxNav__StickyNavLink--fade {
      animation: raise-link-above-search $search-change-duration $nav-icon-animation-duration ease-in-out forwards;
    }
  }
}

// state only set after first search opening
.kxNav[search-closed] {
  .kxNav__StickyBar--desktop {
    .kxNav__StickyNavLink--fade {
      animation: persist-link-after-search $nav-icon-animation-duration ease-in-out;
    }
  }
}

// used to maintain nav link zindex during search view close
@keyframes persist-link-after-search {
  100% {
    z-index: $raised-nav-item-zindex;
    opacity: 1;
  }
  0% {
    z-index: $raised-nav-item-zindex;
    opacity: 1;
  }
}

// used to animate nav link visibility during search view opening
@keyframes raise-link-above-search {
  0% {
    opacity: 0;
    z-index: $raised-nav-item-zindex;
  }
  100% {
    z-index: $raised-nav-item-zindex;
    opacity: 1;
  }
}
