@import "../../home-of-innovation/vars";
@import "./kxEventTile";

// reset
.kxSearch {
  * {
    font-family: "SamsungSharpSans",arial,sans-serif;
    // font-size: 13px;
  }
  .kxSearch__header {
    font-size: 13px;
    font-family: $samsung-sharp;
    .kxSearch__filter label {
      font-size: 13px;
    }
    h3 {
      font-size: 2.5em;
      margin-bottom: 1rem
    }
  }
  a {
    color: white;
    font-size: 13px;
  }
}

// header
.kxSearch__header {
  height: 500px;
  background: black;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
}
.kxSearch__header_body {
  padding: 0 $spacing-desktop;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  * {
    z-index: 2;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://images.samsung.com/is/image/samsung/assets/uk/explore/kings-cross/home-of-innovation/hub_kv_opt.jpg);
    background-size: cover;
    background-position: bottom center;
    opacity: 0.5;
    z-index: 1;
  }
}
.kxSearch__header h3 {
  // margin-top: auto;
}

// input field
$input-height: 50px;
$input-width: 300px;
.kxSearch__input {
  width: $input-width;
  height: $input-height;
  line-height: $input-height;
  border-radius: 25px;
  border: 1px solid;
  border-color: rgba(255,255,255,0.5);
  background: black;
  background-image: url(https://images.samsung.com/is/content/samsung/assets/uk/explore/kings-cross/icon/magnify-white-fill.svg);
  background-repeat: no-repeat;
  background-position: 15px center;
  color: white;
  padding-left: $input-height;
  font-size: 13px;
  transition: 0.3s;
  // margin-bottom: auto;
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
  &:focus {
    outline: 0;
    border-color: rgba(255,255,255,1);
  }
}

// Search Filters
$filter-size: 30px;
.kxSearch__filters {
  display: flex;
  padding: 0 calc(#{$spacing-desktop} / 2) calc(#{$spacing-desktop} / 2);
  justify-content: center;
  background: black;
  width: 100%;
}
@media screen and (max-width: $mobile) {
  .kxSearch__filters {
    flex-wrap: wrap;
    padding: 0 $spacing-mobile $spacing-mobile $spacing-mobile;
    .kxSearch__filter {
      width: 50%;
      label {
        padding-left: 0;
      }
    }
  }
}

.kxSearch__filter {
  display: block;
  margin: $filter-size / 2 0 0;
  @media screen and (min-width: $mobile + 1) {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    // padding-left: $filter-size;
    height: $filter-size;
    position: relative;
  }
  label:before {
    content: '';
    display: inline-block;
    width: $filter-size;
    height: $filter-size;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid white;
    transition: 0.3s;
  }
  label:after {
    content: '';
    display: block;
    position: absolute;
    width: $filter-size;
    height: $filter-size;
    background-image: url(https://images.samsung.com/is/content/samsung/assets/uk/explore/kings-cross/icon/check-white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
    opacity: 0.5;
    transition: 0.3s;
    top: 0;
    left: 0;
    z-index: 1;
  }
  label:hover:after {
    opacity: 1;
  }
  input {
    opacity: 0;
    appearance: none;
    display:none
  }
  input:checked {
    & + label:before {
      color: red;
    }
    & + label:after {
      opacity: 1;
    }
  }
}

.kxSearch__filter:nth-child(1) {
  input:checked + label:before {
    background-color: $saffron;
  }
  label:before {
    border-color: $saffron;
  }
}
.kxSearch__filter:nth-child(2) {
  input:checked + label:before {
    background-color: $coral;
  }
  label:before {
    border-color: $coral;
  }
}
.kxSearch__filter:nth-child(3) {
  input:checked + label:before {
    background-color: $skyblue;
  }
  label:before {
    border-color: $skyblue;
  }
}
.kxSearch__filter:nth-child(4) {
  input:checked + label:before {
    background-color: $teal;
  }
  label:before {
    border-color: $teal;
  }
}

// body panels visible below header
.kxSearch__panel {
  display: none;
  .hoiList__Item {
    opacity: 1;
  }
  h4 {
    font-size: 2.25em;
    @media screen and (max-width: $mobile) {
      font-size: 2.5em;
    }
  }
}
// always show results panel (used to determine height of wrapper)
.kxSearch__panel--results,
.kxSearch__panel--events {
  display: block;
}
// wrapper will animate to results panel height
.kxSearch__results_wrap {
  height: 0;
  transition: 0.3s;
  overflow: hidden;
}

// SEARCH STATES
// loading
.kxSearch[search-state="loading"] {
  .kxSearch__panel--loading {
    display: flex;
    visibility: visible;
  }
}
// results
.kxSearch[search-state="results"] {
  .kxSearch__panel__header {
    padding: $spacing-mobile 0 $spacing-mobile $spacing-mobile;

    @media screen and (min-width: $mobile + 1) {
      padding: $spacing-desktop $spacing-desktop 0 $spacing-desktop;
    }

  }
  .kxSearch__results_wrap .kxSearch__panel_status {
    display: flex;
    visibility: visible;
  }
  .kxSearch__panel--results {
    padding-bottom: 2.5em;
    .hoiList__Item {
      opacity: 0;
      animation: search-item-fade-in 0.3s ease-in-out forwards;
      animation-delay: 0s;
      @media screen and (max-width: $mobile) {
        width: calc(50% - 2.5em/4);
        margin-bottom: calc(#{$spacing-mobile} / 2);
      }
    }
    @for $i from 0 through 12 {
      .hoiList__Item:nth-child(#{$i + 1}) {
        animation-delay: #{($i * 0.05s) + 0.2s};
      }
    }
  }
}
// no input
.kxSearch[search-state="noinput"] {
  .kxSearch__panel--noinput {
    display: flex;
    visibility: visible;
  }
}
// no results
.kxSearch[search-state="noresults"] {
  .kxSearch__panel--noresults {
    display: flex;
    visibility: visible;
  }
}

.kxSearch__panel_status {
  // height: 50px;
  display: none;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  padding: calc(#{$spacing-mobile} / 2);
  font-size: 2em;
  @media screen and (min-width: $mobile + 1) {
    padding: 2em;
  }
}

.kxSearch__results_wrap[search-results="false"] {
  .kxSearch__panel__header--search {
    display: none;
  }
}

.kxSearch__results_wrap[event-results="false"] {
  .kxSearch__panel__header--events {
    display: none;
  }
}

// COMPONENT ACTIVE STATE
// when active
.kxSearch[active] {
  .kxSearch__header_body {
    opacity: 1;
    transition: 0.7s 0.8s ease-in-out;
  }
  .kxSearch__header h3,
  .kxSearch__input,
  .kxSearch__filters {
    opacity: 1;
    transition: 0.7s 1.3s ease-in-out;
  }
  .kxSearch__input {
    width: $input-width;
    transition: opacity 1s 1.3s ease-in-out, width 0.5s 1.5s ease-in-out;
  }
  .kxSearch__header h3 {
    transition-delay: 1.7s;
  }
  .kxSearch__filters {
    transition-delay: 2.5s;
  }
}

// default/deactivated
.kxSearch {
  .kxSearch__header_body,
  .kxSearch__header_body h3,
  .kxSearch__input,
  .kxSearch__filters {
    opacity: 0;
    transition: 0s 0.5s ease-in-out;
  }
  .kxSearch__input {
    width: $input-height;
  }
}

// styles for event tile within event search results
#event-results {
  display: flex;
  width: 100%;
  .kxEventTile {
    margin: 0;
    max-width: none;
    @extend .hoiList__Item;
  }
}

// Animations
// search item fade in
@keyframes search-item-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
