<section class="discoverKv__slider">
  <div id="discover-kv-slider">
      {{#each items }}
        <div>
            <img src="{{ this.image }}" class="discover__img" alt="{{ this.alt }}">
        </div>
      {{/each}}
  </div>
</section>
