<div class="discoverExperience">

  <div class="discoverExperience__Items">

    {{>
      item
      image="https://images.samsung.com/is/image/samsung/assets/uk/explore/kings-cross/discover/2020-assets/Discover_Experiences_Larger__0000_Wall.jpg"
      title="Galaxy Graffiti"
      description="Embracing the capital’s passion for street art, guests can virtually make their mark on the 10 metre-wide screen across a range of digital London backdrops and share their creations on social media as a memento of their visit."
    }}

    {{>
      item
      image="https://images.samsung.com/is/image/samsung/assets/uk/explore/kings-cross/discover/2020-assets/BTS.png"
      title="BTS XR Snapshot"
      description="Get your selfie taken with your favourite member of BTS."
    }}

    {{>
      item
      image="https://images.samsung.com/is/image/samsung/assets/uk/explore/kings-cross/discover/2020-assets/Discover_Experiences_Larger__0001_Cases.jpg"
      title="Personalised cases"
      description="Give your Samsung device a unique creative flare with a free personalised phone case."
    }}

    {{>
      item
      image="https://images.samsung.com/is/image/samsung/assets/uk/explore/kings-cross/discover/2020-assets/SELFIE.png"
      title="Selfie Me"
      description="Turn your portrait into a beautiful peice of art."
    }}

    {{>
      item
      image="https://images.samsung.com/is/image/samsung/assets/uk/explore/kings-cross/discover/2020-assets/Discover_Experiences_Larger__0003_VR.jpg"
      title="VR Car"
      description="Take your driving skills to the next level with virtual reality racing."
    }}

    {{>
      item
      image="https://images.samsung.com/is/image/samsung/assets/uk/explore/kings-cross/discover/2020-assets/Discover_Experiences_Larger__0002_Bus.jpg"
      title="5G Bus"
      description="Experience the endless capabilities of Samsung 5G technology whilst on the go, in a one-of-a-kind replica of the city's most iconic form of transport."
    }}

  </div>

</div>


{{#*inline 'item'}}
<div
  class="discoverExperience__Item"
  style="background-image: url('{{image}}')">
  <div class="discoverExperience__ItemClose"></div>
  <div class="discoverExperience__ItemBody  discoverExperience__ItemBody--inactive">
    <h3 class="fz24">{{title}}</h3>
  </div>
  <div class="discoverExperience__ItemBody  discoverExperience__ItemBody--active">
    <h3 class="fz36">{{title}}</h3>
    <p class="fz22">
      {{description}}
    </p>
  </div>
</div>
{{/inline}}
