
/*=============================================
=            Book section            =
=============================================*/

.book {
	height: 0;
	overflow: hidden;

	&--active {
		height: auto;
	}

	&-action {
		display: none;
		&--active {
			display: block;
		}
	}

	&-confirmation {
		display: none;
		&--active {
			display: block;
		}
	}
}

/*=====  End of Book section  ======*/

