.calendar {
  //default color scheme

  position: relative;
  margin: 0 auto;
  max-width: 1220px;
  @media screen and (max-width: $desktop) {
    max-width: get-desktop-vw(1220);
  }

  @media screen and (max-width: $mobile) {
    max-width: get-mobile-vw(1220);
  }

  h3 {
    text-align: center;

    margin: 52px 0;

    @media screen and (max-width: $desktop) {
      margin: get-desktop-vw(52) 0;
    }

    @media screen and (max-width: $mobile) {
      margin: get-mobile-vw(52) 0;
    }
  }

  &__container {
    display: flex;
    justify-content: center;

    // min-height: 350px; 

  }

  &__column {
    margin: 0 4px;
    @media screen and (max-width: $desktop) {
      margin: 0 get-desktop-vw(4);
    }

    @media screen and (max-width: $mobile) {
      margin: 0 get-mobile-vw(4);
      &:last-of-type{
        display: none;
      }
    }

    &__date {
      text-align: center;
    }
  }

  &__choices {
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;
    max-height: 267px;
    @media screen and (max-width: $desktop) {
      max-height: get-desktop-vw(287);
    }

    @media screen and (max-width: $mobile) {
      max-height: get-mobile-vw(387);
    }
  }

  &__choice {
    // transition: background-color 0.2s ease-in;
    text-align: center;
    border: 3px solid $pink;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;

    margin: 7px 20px;
    padding: 10px 40px;

    max-width: 160px;

    @media screen and (max-width: $desktop) {
      margin: get-desktop-vw(7) auto;
      padding: get-desktop-vw(12) get-desktop-vw(46);
    }

    @media screen and (max-width: $mobile) {
      margin: get-mobile-vw(7) auto;
      padding: get-mobile-vw(24) get-mobile-vw(24);
    }

    &:hover {
      background-color: rgba($color: $pink, $alpha: 0.5);
    }
  }

  &--selected {
    background-color: $pink;
    &:hover {
      background-color: $pink;
    }
  }

  &--unavailable {
    border: 1px solid $grey !important;
    & > h4 {
      font-size: em(18);
    }
    & > p {
      display: none;
    }
  }

  .load {
    font-size: 4em;
    line-height: 0.6em;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transform: translateY(60%);

    &--bot {
      transform: scaleY(-1) translateY(60%);
    }
  }

  .arrow {
    position: absolute;
    top: 50%;

    & > div {
      font-size: 5em;
      user-select: none;
      cursor: pointer;
    }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    @media screen and (max-width: $mobile){
      top: 7.5%;

      &.left{
        left: -10px;
      }
      &.right{
        right: -10px;
      }
    }

  }

}

.calendar.orange{

  .calendar__choice{
    border: 3px solid $orange;
    &:hover{
      background-color: rgba($color: $orange, $alpha: 0.5);
    }
  }
  .calendar--selected{
    background-color: $orange;
    &:hover {
      background-color: $orange;
    }
  }
  .loading__bounce{
    border: 2px solid $orange;
  }
}

.calendar.cyan{
  .calendar__choice{
    border: 3px solid $cyan;
    &:hover{
      background-color: rgba($color: $cyan, $alpha: 0.5);
    }
  }
  .calendar--selected{
    background-color: $cyan;
    &:hover {
      background-color: $cyan;
    }
  }
  .loading__bounce{
    border: 2px solid $cyan;
  }
}