/*=============================================
=            Find KX            =
=============================================*/

.findkx {
  background: $background;
  position: relative;
  .section__inner {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $mobile) {
		flex-direction: column;
		align-items: center;
	  }

    span {
      font-weight: bold;
    }

    .findkx__content {
      flex-basis: 25%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h4 {
        margin: 12px 0;
	  }

	  @media screen and (max-width: $mobile) {
		order: 1;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
	  }
    }
    .findkx__map {
	  max-width: 70%;
	  @media screen and (max-width: $mobile) {
		max-width: unset;
		width: 100%;
		margin: get-mobile-vw(32) 0;
	  }
    }
  }

  &__block-1{
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
  }

  &__title {
	&--desktop {
	  @media screen and (max-width: $mobile) {
		display: none;
	  }
	}
	&--mobile {
	  display: none;
	  @media screen and (max-width: $mobile) {
		display: block;
		align-self: flex-start;
	  }
	}
  }
}

/*=====  End of Find KX  ======*/
