.kxSignposts {
  display: flex;
  padding: $spacing-mobile;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.kxSignposts__Item {
  width: 100%;
  margin-bottom: 1rem;
  .kxSignposts__Item_Image {
    width: 100%;
    padding-top: 35.5%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
  }
  .kxSignposts__Item_Body {
    padding: 1.5rem;
    h4 {
      font-size: 1.75em;
      margin-bottom: 0.5rem;
    }
    p {
      letter-spacing: 0.5px;
      font-size: 1em;
      line-height: 2;
      margin-bottom: 1.5rem;
    }
    .btn {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .kxSignposts__Item .kxSignposts__Item_Body {
    padding: 1rem;
    h4 {
      font-size: 3em;
    }
    p {
      font-size: 1.5em;
      line-height: 1.8;
    }
  }
}
@media screen and (min-width: $mobile + 1) {
  .kxSignposts {
    padding: $spacing-desktop;
    flex-wrap: nowrap;
  }
  .kxSignposts__Item {
    margin-bottom: 0;
    width: calc(50% - #{$spacing-desktop / 3});
  }
}
