/* ==========================================================================
	Legal
==============================================================================*/

.legal {
	display: flex;
	align-items: center;
	justify-content: space-between;
    height: 100%;
  
  @media screen and ( max-width: $media-tablet), screen and ( max-height: $media-tablet ) {
    font-size: 10px; 
  }

  .link {
    color: #292929;
  }

}