.sidedrawer {
  position: absolute;
  // top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.9);
  transform: translateX(-100%);
  display: flex;
  flex-flow: column;
  z-index: 20;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

  @media (min-width: $mobile + 1) {
    display: none;
  }

  &.opened {
    transform: translateX(0);
  }



  a {
    font-weight: bold;
    text-transform: uppercase;
  }

  &__heading-button {
    width: 100%;
    text-align: left;
    padding: get-mobile-vw(30) get-mobile-vw(60);
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    color: $white;


    // &[data-open]:after {
    //   content: "";
    //   width: 10px;
    //   height: 10px;
    //   border-bottom: 2px solid white;
    //   border-right: 2px solid white;
    //   position: absolute;
    //   top: 35%;
    //   left: 80%;
    //   transform: rotate(45deg);
    //   transition: transform 0.3s ease-in-out;
    // }

    // &.opened:after {
    //   transform: rotate(-135deg);
    // }
  }

  &__submenu {
    // display: none;
    background: $black;
    padding: 0 get-mobile-vw(60);

    li {
      padding: get-mobile-vw(30) get-mobile-vw(60);

      a {
        color: white;
      }
    }
  }
}

.nav.nav--sticky + .sidedrawer {
  position: fixed;
  top: 0;
  & > ul {
    top: $nav-mobile-height;
    position: relative;
  }
}
