.sidedrawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 260px;
  background: black;
  transform: translateX(-100%);
  display: flex;
  flex-flow: column;
  z-index: 10;
  background: linear-gradient(to bottom, #444444, #939393);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

  @media (min-width: $mobile) {
    display: none;
  }

  &.opened {
    transform: translateX(0);
  }

  &__heading-button {
    width: 100%;
    text-align: left;
    padding: 16px 32px;
    position: relative;
    text-transform: uppercase;

    &:after {
      content: "";
      width: 10px;
      height: 10px;
      border-bottom: 2px solid white;
      border-right: 2px solid white;
      position: absolute;
      top: 35%;
      left: 80%;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out;
    }

    &.opened:after {
      transform: rotate(-135deg);
    }
  }

  &__submenu {
    display: none;
    background: #383838;
    padding: 16px 32px;

    li {
      padding: 1rem 0;

      a {
        color: white;
      }
    }
  }
}
