
/*=============================================
=            Social icons            =
=============================================*/

.social {
	text-align: center;

	ul {
		display: flex;
		justify-content: center;
	}
}

/*=====  End of Social icons  ======*/

