{{#if config.staging}}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
{{else}}
  <!--#include virtual="/uk/aem/header-pdp.html"-->
{{/if}}


<section class="cheil-static home-of-innovation">

  <style>
    .cheil-static.home-of-innovation .hoiContent a:not(.btn) {
      color: {{ themeColor }}
    }
  </style>

	{{> home-of-innovation/stylesheet}}

	{{> components/common/kxNav/main hideSearchNav=hideSearchNav }}

  <div class="hoiContent">

    {{#if hideBreadcrumbs}}
    {{else}}
      {{> home-of-innovation/hoiBreadcrumbs }}
    {{/if}}
    {{!-- {{> home-of-innovation/hoiFindOutMore }} --}}

    {{> home-of-innovation/components }}

  </div>

  {{>components/common/findKx }}

  {{> components/socialMedia }}

  {{> home-of-innovation/scripts }}

</section>

{{#if config.staging}}
  </body>
</html>
{{else}}
<!--#include virtual="/uk/aem/footer-pdp.html"-->
{{/if}}
