{{#if config.staging}}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" defer></script>
  </head>
  <body>
{{else}}
  <!--#include virtual="/uk/aem/header-pdp.html"-->
{{/if}}


<section class="cheil-static home-of-innovation">

	{{> home-of-innovation/stylesheet}}

	{{> components/nav }}

  <div class="hoiContent">
    {{> home-of-innovation/hoiBreadcrumbs }}
  	{{!-- {{> home-of-innovation/hoiFindOutMore }} --}}
  </div>

	{{> home-of-innovation/components }}

	</section>

	{{!-->components/findKx--}}
	{{>components/socialMedia}}

	{{> scripts }}
  {{> home-of-innovation/scripts }}

</section>

{{#if config.staging}}
  </body>
</html>
{{else}}
<!--#include virtual="/uk/aem/footer-pdp.html"-->
{{/if}}
