{{> bootstrap/header}}

<section class="cheil-static home-of-innovation">

  <style>
    .cheil-static.home-of-innovation .hoiContent a:not(.btn) {
      color: {{ themeColor }}
    }
  </style>

	{{> home-of-innovation/stylesheet}}

	{{> components/common/kxNav/main hideSearchNav=hideSearchNav }}

  <div class="hoiContent">

    {{#if hideBreadcrumbs}}
    {{else}}
      {{> home-of-innovation/hoiBreadcrumbs }}
    {{/if}}
    {{!-- {{> home-of-innovation/hoiFindOutMore }} --}}

    {{> home-of-innovation/components }}

  </div>

  {{>components/common/findKx }}

  {{> components/socialMedia }}

  {{> home-of-innovation/scripts }}

</section>

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script src="/scraper.js"></script>

{{> bootstrap/footer}}
