<script id='eventTile' type='text/x-handlebars-template'>
	<div class="eventTile">
		<a href="/{{ config.site }}/{{ config.subfolder }}/whats-on/event?i=[[ eventId ]]">
			<div class="eventTile__img img">
				<img src="[[ image ]]" alt="">
				<span>[[ startDate ]] / [[ startTime ]]</span>
			</div>

			<div class="eventTile__content tile">
				<span class="tile-title">[[ title ]]</span>
				<span class="tile-passions">[[ passion ]]</span>
				<a href="" class="tile-link">book now</a>
			</div>
		</a>
	</div>
</script>
