<section class="nav">

	<div class="nav__logo">
		<img src="{{ @root.config.imgPath }}kx-logo-white.png" alt="">
	</div>

	<nav class="nav__navigation">
		<ul>
			<li><a href="./">Home</a></li>
			<li><a href="/discover/">Discover</a></li>
			<li><a href="/events/">What's on</a></li>
			<li><a href="/services/">Services</a></li>
			<li><a href="/bookings/">My bookings</a></li>
		</ul>
	</nav>

</section>

