<section class="section social" data-scroll='cafe'>
	<div class="section__inner">
		<h2>Follow Us On Social Media</h2>
		<ul>
			<li>
				<a href="https://www.facebook.com/SamsungUK/" target="_blank">
				<img src="{{ config.imgPath }}logos/facebook.png" alt="facebook logo"></a>
			</li>
			<li>
				<a href="https://www.instagram.com/samsunguk/?hl=en" target="_blank">
				<img src="{{ config.imgPath }}logos/instagram.png" alt="instagram logo"></a>
			</li>
			<li>
				<a href="https://twitter.com/samsunguk?lang=en" target="_blank">
				<img src="{{ config.imgPath }}logos/twitter.png" alt="twitter logo"></a>
			</li>
		</ul>
	</div>
</section>

