<section class="section whatIsKx">
	<div class="section__inner">

		<div class="whatIsKx__item" data-scroll='amazing'>
			<h3>Amazing Events</h3>
		</div>

		<div class="whatIsKx__item" data-scroll='future'>
			<h3>Future Tech</h3>
		</div>

		<div class="whatIsKx__item" data-scroll='support'>
			<h3>Support and Repairs</h3>
		</div>

		<div class="whatIsKx__item" data-scroll='cafe'>
			<h3>Cafe & Workspace</h3>
		</div>

	</div>
</section>
