<nav class="kxNav" role="navigation">

  <div class="kxNav__StickyBar  kxNav__StickyBar--desktop">

  	<ul
      class="kxNav__StickyNav"
      role="menubar"
      aria-label="Samsung Kings Cross Navigation Menu">

      {{> components/common/kxNav/link
        title="Home"
        type="desktop"
        tabindex=0
        raised="true"
        page="/"
      }}

      {{> components/common/kxNav/link
        title="Hub"
        type="desktop"
        fade="true"
        page="/hub"
      }}

      {{> components/common/kxNav/link
        title="What's on"
        type="desktop"
        fade="true"
        page="/whats-on"
      }}

      {{> components/common/kxNav/searchLink
        type="desktop"
      }}

      {{> components/common/kxNav/link
        title="Discover"
        type="desktop"
        fade="true"
        page="/discover"
      }}

      {{> components/common/kxNav/link
        title="Support"
        type="desktop"
        fade="true"
        page="/support"
      }}

      <li
        class="
          kxNav__StickyNavLink
          kxNav__StickyNavLink--signup
          kxNav__StickyNavLink--raised
        "
        role="presentation">
        <a
          class="btn btn--primary btn--primary--coral"
          role="menuitem"
          ga-ca="microsite"
          ga-ac="navigation-desktop"
          ga-la="kings-cross:navigation-desktop:sign-up"
          data-omni-type="microsite"
          data-omni="uk:kings-cross:navigation-desktop:sign-up"
          href="https://a3p.eucdm.samsung.com/webApp/samAPP581?lang=en_GB"
          data-lity>
            Sign Up
        </a>
      </li>

  	</ul>

  </div>

  <div class="kxNav__StickyBar  kxNav__StickyBar--mobile">

    <a
      aria-expanded="false"
      ga-ca="microsite"
      ga-ac="mobile-sidebar"
      ga-la="kings-cross:navigation-mobile:toggle"
      data-omni-type="microsite"
      data-omni="uk:kings-cross:navigation:toggle-mobile-nav"
      class="kxNav__MobileToggle">
      Toggle Mobile Navigation
    </a>

    <ul
      class="kxNav__MobileNav  kxNav__SubView"
      role="menubar"
      aria-label="Samsung Kings Cross Navigation Menu">

      {{> components/common/kxNav/searchLink
        type="mobile"
      }}

      {{> components/common/kxNav/link
        title="Home"
        tabindex=0
        type="mobile"
        page="/"
      }}

      {{> components/common/kxNav/link
        title="Hub"
        type="mobile"
        page="/home"
      }}

      {{> components/common/kxNav/link
        title="What's on"
        type="mobile"
        page="/whats-on"
      }}

      {{> components/common/kxNav/link
        title="Discover"
        type="mobile"
        page="/discover"
      }}

      {{> components/common/kxNav/link
        title="Support"
        type="mobile"
        page="/support"
      }}

    </ul>

  </div>

  <div class="kxNav__SearchContainer  kxNav__SubView">

    {{#if hideSearchNav}}
    {{else}}
      {{> components/common/kxSearch }}
    {{/if}}

  </div>

</nav>
