/* ==========================================================================
  BASE
========================================================================== */

#content {
	background: $background;
}

.cheil-static {
	background: $background;
	color: $white;

	*, *:after, *:before {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

	ul {
	margin: 0;
	padding: 0;
	}

	li {
	list-style-type: none;
	}

	a {
		color: $pink;
	}

	img {
		width: 100%;
	}

	button {
		color: $white;
	}

	div.line{
		background-color: #4D4D4F;
		height: 2px;
		width: 100%;
		max-width: $desktop;
		margin: 0 auto;
	}
}
