/* ==========================================================================
  BASE
========================================================================== */

#content {
	background: $background;
}

.cheil-static {
	background: $background;
	color: $white;

	*, *:after, *:before {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

	ul {
	margin: 0;
	padding: 0;
	}

	li {
	list-style-type: none;
	}

	a {
		color: $pink;
	}

	img {
		width: 100%;
	}

	button {
		color: $white;
	}
	
}
//Important to hide explore menu 
.content-inherited-wrap.parsys.iparsys {
	display: none!important;
}

.lity-iframe .lity-container, .lity-youtube .lity-container, .lity-vimeo .lity-container, .lity-facebookvideo .lity-container, .lity-googlemaps .lity-container {
	width: 100%;
    max-width: 80%;
}

.lity-content {
	height: 80vh;
    display: flex;
    justify-content: center;
}


.lity-iframe-container {
	height: initial;
}

