/* ==========================================================================
	 Fonts - cheil roman
   ========================================================================== */
 
   @font-face {
    font-family: 'cheilromanlight';
    src: url('../assets/fonts/cheilroman/cheilromanl-webfont.eot');
    src: url('../assets/fonts/cheilroman/cheilromanl-webfont.eot?#iefix') format('embedded-opentype'),
          url('../assets/fonts/cheilroman/cheilromanl-webfont.woff2') format('woff2'),
          url('../assets/fonts/cheilroman/cheilromanl-webfont.woff') format('woff'),
          url('../assets/fonts/cheilroman/cheilromanl-webfont.ttf') format('truetype'),
          url('../assets/fonts/cheilroman/cheilromanl-webfont.svg#cheilromanlight') format('svg');
    font-weight: lighter;
    font-style: normal;
    font-display: swap; 
  } 
  
@font-face {
  font-family: 'cheilromanregular';
  src: url('../assets/fonts/cheilroman/cheilromanm-webfont.eot');
  src: url('../assets/fonts/cheilroman/cheilromanm-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/cheilroman/cheilromanm-webfont.woff2') format('woff2'),
        url('../assets/fonts/cheilroman/cheilromanm-webfont.woff') format('woff'),
        url('../assets/fonts/cheilroman/cheilromanm-webfont.ttf') format('truetype'),
        url('../assets/fonts/cheilroman/cheilromanm-webfont.svg#cheilromanregular') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap; 
}  

@font-face {
  font-family: 'cheilromanmedium';
  src: url('../assets/fonts/cheilroman/cheilromanr-webfont.eot');
  src: url('../assets/fonts/cheilroman/cheilromanr-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/cheilroman/cheilromanr-webfont.woff2') format('woff2'),
        url('../assets/fonts/cheilroman/cheilromanr-webfont.woff') format('woff'),
        url('../assets/fonts/cheilroman/cheilromanr-webfont.ttf') format('truetype'),
        url('../assets/fonts/cheilroman/cheilromanr-webfont.svg#cheilromanmedium') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
} 
  
@font-face {
  font-family: 'cheilromanbold';
  src: url('../assets/fonts/cheilroman/cheilromanb-webfont.eot');
  src: url('../assets/fonts/cheilroman/cheilromanb-webfont.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/cheilroman/cheilromanb-webfont.woff2') format('woff2'),
        url('../assets/fonts/cheilroman/cheilromanb-webfont.woff') format('woff'),
        url('../assets/fonts/cheilroman/cheilromanb-webfont.ttf') format('truetype'),
        url('../assets/fonts/cheilroman/cheilromanb-webfont.svg#cheilromanbold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'cheilromanextrabold';
  src: url('../assets/fonts/cheilroman/cheilromaneb-webfont.eot');
  src: url('../assets/fonts/cheilroman/cheilromaneb-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/cheilroman/cheilromaneb-webfont.woff2') format('woff2'),
       url('../assets/fonts/cheilroman/cheilromaneb-webfont.woff') format('woff'),
       url('../assets/fonts/cheilroman/cheilromaneb-webfont.ttf') format('truetype'),
       url('../assets/fonts/cheilroman/cheilromaneb-webfont.svg#cheilromanextrabold') format('svg');
  font-weight: bolder;
  font-style: normal;
  font-display: swap; 
}

