/* ==========================================================================
	 TYPOGRAPHY
   ========================================================================== */

//
// Font sizes
// 14, 16, 18, 24, 30, 36, 55

* {
	font-size: calc(#{$browser-context-desktop}/#{$media-desktop} * 100vw);

	@media screen and ( max-width: #{$media-mobile}px ) {
		font-size: calc(#{$browser-context-mobile}/#{$media-desktop} * 100vw);
	}

	@media screen and ( min-width: #{$media-desktop}px ) {
		font-size: #{$browser-context-desktop}px;
	}

	.fz55 {
		font-size: 12px;
	}

	.fz50 {
		font-size: em(50);
	}

	.fz45 {
		font-size: em(45);
	}

	.fz40 {
		font-size: em(40);
	}

	.fz36 {
		font-size: em(36);
	}

	.fz30 {
		font-size: em(30);
	}

	.fz25 {
		font-size: em(25);
	}

	.fz24 {
		font-size: em(24);
	}

	.fz23 {
		font-size: em(23);
	}

	.fz22 {
		font-size: em(22);
	}

	.fz21 {
		font-size: em(21);
	}

	.fz20 {
		font-size: em(20);
	}

	.fz18 {
		font-size: em(18);
	}

	.fz17 {
		font-size: em(17);
	}

	.fz16 {
		font-size: em(16);
	}

	.fz15 {
		font-size: em(15);
	}

	.fz14 {
		font-size: em(14);
	}

	.fz13 {
		font-size: em(13);
	}

	.fz12 {
		font-size: em(12);
	}

	.fz11 {
		font-size: em(11);
	}

	.fz10 {
		font-size: em(10);
	}

	h1, h2, h3, h4, h5 {
		font-family: "SamsungSharpSans", arial, sans-serif;
		line-height: 1;
	}

	h1.h1-hidden {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    font-size: 2px;
	}
}

/*=====  End of TYPOGRAPHY  ======*/
