/*=============================================
=            Variab;es            =
=============================================*/

/*----------  Colours  ----------*/

$samsungBlue: #172e9f;
$samsungLightBlue: #1584d1;
$offerBlue: #f2faff;
$background: #0C0C0C;

$black: #000000;
$white: #ffffff;
$red: #d93b30;
$green: #098b49;
$pink: #E14D9A;

$grey: #3B3B3B;
$grey-light: #F7F7F7;
$grey-100: #353535;

// Links
$blue-link: #0277C8;

/*----------  Transitions  ----------*/

$transitionDefault: 0.4s;
$transitionFast: 0.5s;
$transitionFaster: 0.6s;
$transitionSpeedy: .2s;

/*=============================================
=            Spacings            =
=============================================*/

/*----------  Paddings  ----------*/

$p-borders-desktop: 40;
$p-borders-mobile: 20;

/*----------  Margins  ----------*/

$m-borders-desktop: 90;
$m-borders-mobile: 30;

/*----------  Media queries  ----------*/

$media-desktop: 1440;
$media-mobile: 768;
$media-mobile-small: 480;

$desktop: 1440px;
$mobile: 768px;
$mobile-small: 480px;

/*=====  End of Variab;es  ======*/
