/*=============================================
=            Variab;es            =
=============================================*/

/*----------  Colours  ----------*/

$samsungBlue: #172e9f;
$samsungLightBlue: #1584d1;
$offerBlue: #f2faff;

$black: #000000;
$white: #ffffff;
$red: #d93b30;
$green: #098b49;
$grey-100: #e5e5e5;
$grey-200: #383838;
$grey-300: #767676;
$grey-400: #1f2324;
$grey-500: #141414;

/*----------  Transitions  ----------*/

$transitionDefault: 0.4s;
$transitionFast: 0.5s;
$transitionFaster: 0.6s;
$transitionSpeedy: .2s;

/*=============================================
=            Spacings            =
=============================================*/

/*----------  Paddings  ----------*/

$paddingDefault: 20px;

/*----------  Margins  ----------*/

$marginDefault: 20px;

/*----------  Media queries  ----------*/

$media-desktop: 1440;
$media-mobile: 768;
$media-mobile-small: 480;

/*=====  End of Variab;es  ======*/
