/*=============================================
=            Variables            =
=============================================*/

/*----------  Colours  ----------*/

$samsungBlue: #172e9f;
$samsungLightBlue: #1584d1;
$offerBlue: #f2faff;
$background: #0C0C0C;

$black: #000000;
$white: #ffffff;
$red: #d93b30;
$green: #098b49;
$pink: #E14D9A;
$purple: #724C9E;
$orange: #F37321;
$cyan: #00B3E2;

$warning: #FF4337;

$grey: #3B3B3B;
$grey-light: #F7F7F7;
$grey-100: #353535;
$grey-form: #4D4D4F;

// Links
$blue-link: #0277C8;

$saffron: #FFB546;
$skyblue: #0077C8;
$coral: #FF4337;
$teal: #00C3B2;


/*----------  Transitions  ----------*/

$transitionDefault: 0.4s;
$transitionFast: 0.5s;
$transitionFaster: 0.6s;
$transitionSpeedy: .2s;

/*----------  Nav  ----------*/

$nav-mobile-height: 44px;

/*=============================================
=            Spacings            =
=============================================*/

/*----------  Paddings  ----------*/

$p-borders-desktop: 40;
$p-borders-mobile: 20;

/*----------  Margins  ----------*/

$m-borders-desktop: 90;
$m-borders-mobile: 30;

/*----------  Media queries  ----------*/

$media-desktop: 1440;
$media-mobile: 768;
$media-mobile-small: 480;

$desktop: 1440px;
$tablet: 1300px;
$mobile: 768px;
$mobile-small: 480px;

/*=====  End of Variab;es  ======*/
