.bookings {
  background-image: url(/content/dam/samsung/uk/explore/kings-cross/header/bookings-header_transparent.png);
  background-position: center center; /* First value is from left and second is from top. You can use use number as well*/
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    padding-right: 45%;
    @media screen and (max-width: $mobile) {
      padding-right: 0;
      margin-top: get-mobile-vw(256);
    }
    &__subtitle,
    &__title,
    &__input,
    &__button {
      margin: 15px 0px;

      @media screen and (max-width: $desktop) {
        margin: get-desktop-vw(15) 0px;
      }

      @media screen and (max-width: $mobile) {
        margin: get-mobile-vw(15) 0px;
      }
    }
    &__invalid{
      display: block;
      opacity: 0;
      margin-left: 8px;
      color: red;
    }
  }

  a {
    display: inline-block;
    white-space: nowrap;
  }
}

.request {
  position: relative;

  &__zone {
    display: none;
  }

  &__mid {
    margin: 14px 0;
    @media screen and (max-width: $desktop) {
      margin: get-desktop-vw(14) 0px;
    }

    @media screen and (max-width: $mobile) {
      margin: get-mobile-vw(14) 0px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;

    @media screen and (max-width: $mobile) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__info {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: $mobile) {
      max-width: unset;
      div {
        margin: get-mobile-vw(32) 0;
      }
      #cancel {
        text-align: center;
      }
    }
  }

  &__summary {
    display: flex;
    @media screen and (max-width: $mobile) {
      order: -1;
    }
  }

  &__cancel {
    font-weight: bold;
  }

  img {
    max-width: 50%;
    min-height: 400px;

    @media screen and (max-width: $desktop) {
      min-height: get-desktop-vw(400);
    }

    @media screen and (max-width: $mobile) {
      min-height: unset;
      max-width: unset;
      width: unset;
      max-height: 50vh;
    }

    object-fit: cover;
  }
}

section#upcoming.relatedEvents{
  display: none;
}