/*=============================================
=            Discover           =
=============================================*/

.kv {
  background: url("https://images.samsung.com/is/image/samsung/p5/uk/kings-cross/discover-kv.png?$ORIGIN_PNG$");
  max-height: 700px;
  height: 57vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;

  h2 {
    font-size: em(74);
    font-weight: bold;
    width: 50%;
    line-height: em(17);
  }
}

.slider {
  padding-top: 0 !important;
  .slick {
    &-next {
      border-right: 4px solid white;
      border-bottom: 4px solid white;
      width: 30px;
      height: 30px;
      transform: rotate(-45deg);
      right: 34px;
      z-index: 999;

      @media screen and (max-width: $mobile) {
          top: 25%;
          right: 17px;
          width: 15px;
      height: 15px;
      }
      
    }
    &-prev {
      border-right: 4px solid white;
      border-bottom: 4px solid white;
      width: 30px;
      height: 30px;
      transform: rotate(-225deg);
      left: 34px;
      z-index: 999;
      @media screen and (max-width: $mobile) {
        top: 25%;
        left: 17px;
        width: 15px;
      height: 15px;
    }
    }
    &-disabled {
        opacity: .25;
    }
    &-next::before,
    &-prev::before {
      content: "";
    }
    &-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      li button:before {
        font-family: slick;
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: "";
        border-radius: 50%;
        border: solid 1px #969696;
        text-align: center;
        opacity: 0.25;
        color: #969696;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        @media screen and (max-width: $mobile) {
           width: 15px;
           height: 15px;
        }
      }
      li.slick-active button:before {
        opacity: 0.75;
        background: #e24c9b;
        border: solid 1px transparent;
      }
    }
  }
  &-discover {
    &__slide {
      &__description {
        font-size: em(24);
        font-weight: 400;
        margin-top: 35px;
        text-align: center;
      }
    }
  }
}

.living {

    background: #fff;
    color: black;
    padding-bottom: 0!important;

    .section__inner {
        padding-bottom: 0!important;


        
    }

    &__copy {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    
        &__title {
          font-size: em(50);
          margin-bottom: 17px;
        }
        &__sub-title {
          font-size: em(30);
          margin-bottom: 22px;
        }
        &__description {
          font-size: em(20);
          font-weight: 400;
          margin-bottom: 30px;
          padding-left: 20%;
          padding-right: 20%;
          @media screen and (max-width: $mobile) {
            padding-left: 0;
            padding-right: 0;
        }
        }
      }

}

.showcase {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4652.066' height='3000.283' viewBox='0 0 4652.066 3000.283'%3E%3Cg transform='matrix(-0.309, -0.951, 0.951, -0.309, 742.617, 3000.283)'%3E%3Cpath d='M340.924,2071.886,0,1730.964,1775.178,0l.009,681.839Z' transform='translate(39.681 2051.645)'/%3E%3Cpath d='M1814.859,2052.315l398.577,187.854,93.608-288.1,39.548-20.994,23.345-71.849,33.224-102.253-588.3,295.339L0,340.816,340.923,0,1814.858,1370.686l.009,681.621' transform='translate(0 0)'/%3E%3C/g%3E%3C/svg%3E"),
    #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  color: black;

  @media screen and (max-width: $mobile) {
    background: #fff;
}

  &__help {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $mobile) {
        flex-direction: column;
    }
    

    &__img {
      max-width: 600px;
    }
  }
  &__copy {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: get-desktop-vw(80);
    @media screen and (max-width: $mobile) {
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 20px;
    }

    &__title {
      font-size: em(50);
      margin-bottom: 17px;
    }
    &__sub-title {
      font-size: em(30);
      margin-bottom: 22px;
    }
    &__description {
      font-size: em(20);
      font-weight: 400;
      margin-bottom: 30px;
      @media screen and (max-width: $mobile) {
        text-align: center;
    }
    }
  }
}

.neighbourhood {
    padding-bottom: 0!important;
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h3 {
      font-size: em(50);
      font-weight: bold;
      margin-bottom: 20px;
    }
    span {
      font-size: em(30);
      font-weight: 700;
      margin-bottom: 25px;
    }
  }
  &__container {
    padding-bottom: em(20);
  }
}

.gallery {
    padding-top: 0!important;
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    h3 {
      font-size: em(50);
      font-weight: bold;
      margin-bottom: 20px;
    }
    span {
      font-size: em(30);
      font-weight: 700;
      margin-bottom: 25px;
    }
  }
}

.spaces {
    padding-top: 0!important;
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    h3 {
      font-size: em(50);
      font-weight: bold;
      margin-bottom: 20px;
    }
    span {
      font-size: em(30);
      font-weight: 700;
      margin-bottom: 25px;
    }
    p {
      font-size: em(20);
      font-weight: 400;
      padding-left: em(150);
      padding-right: em(150);
      @media screen and (max-width: $mobile) {
          padding: 0;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
  }

  &__space {
    max-width: 537px;
    height: 450px;
    flex: 0 0 calc(33.33% - 1%);
    display: flex;
    padding-left: get-desktop-vw(20);
    padding-top: em(50);
    padding-bottom: em(40);
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2%;
    @media screen and (max-width: $mobile) {
        flex: 0 0 calc(50% - 2%);
        height: 170px;
    }

    h4 {
      font-size: em(40);
      font-weight: bold;
    }

    p {
      font-size: em(20);
      font-weight: 700;
    }
  }
}

.copy {
  padding-top: 0 !important;
  p {
    font-size: em(30);
    text-align: center;
    font-weight: 700;
    margin-bottom: 25px;
  }
  &__hashtag {
    font-size: em(12);
    font-weight: 700;
    color: #00b3e2;
  }
}

/*=====  End of Discover  ======*/
