/*=============================================
=            Discover           =
=============================================*/

.kv {
  background: url("https://images.samsung.com/is/image/samsung/p5/uk/explore/kings-cross/Halloween_header.png");
  // max-height: 700px;
  //below height temp for halloween
  max-height: 450px;
  height: 57vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
 
 
  @media screen and (max-width: $mobile) {
  height: 30vh;

  }

  h2 {
    font-size: em(50);
    font-weight: bold;
    width: 80%;
    line-height: em(17);
    text-shadow: 2px 2px 12px #000000;
    margin-bottom: 1%;
    @media screen and (max-width: $mobile) {
      font-size: em(40);
    }
  }
  
  p{
    text-shadow: 2px 2px 12px #000000;
    margin: get-desktop-vw(10) 0px;
    font-size: em(18);
    @media screen and (max-width: $mobile){
      margin: get-mobile-vw(15) 0px;
    }
  }

  a{
    box-shadow: 2px 2px 12px black;
  }
  

}

// .kx-video {
//   position: relative;
//   background: #0C0C0C;
//   padding-top: 0!important;
//   padding-bottom: 20px !important;

  .video__main {
    padding: 0!important;
    margin: 0!important;
    display: block;
    width: 100%;
  }

// }

//   .section__inner {
//       display: flex;
//   justify-content: center;
// }
// }

.slider {
  padding-top: 0 !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  .slick {
    &-next {
      border-right: 4px solid white;
      border-bottom: 4px solid white;
      width: 30px;
      height: 30px;
      transform: rotate(-45deg);
      right: -34px;
      z-index: 999;

      @media screen and (max-width: $mobile) {
        opacity: 0;
      }

    }
    &-prev {
      border-right: 4px solid white;
      border-bottom: 4px solid white;
      width: 30px;
      height: 30px;
      transform: rotate(-225deg);
      left: -34px;
      z-index: 999;
      @media screen and (max-width: $mobile) {
        opacity: 0;
    }
    }
    &-disabled {
        opacity: .25;
        @media screen and (max-width: $mobile) {
          opacity: 0;
      }
    }
    &-next::before,
    &-prev::before {
      content: "";
    }
    &-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      li button:before {
        font-family: slick;
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: "";
        border-radius: 50%;
        border: solid 1px #969696;
        text-align: center;
        opacity: 0.25;
        color: #969696;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        @media screen and (max-width: $mobile) {
           width: 15px;
           height: 15px;
        }
      }
      li.slick-active button:before {
        opacity: 0.75;
        background: #e24c9b;
        border: solid 1px transparent;
      }
    }
  }
  &-discover {
    &__slide {
      &:focus {
        outline: none;
      }
      &__description {
        font-size: em(24);
        font-weight: 400;
        margin-top: 35px;
        text-align: center;
      }
    }
    &__cta{
      margin: 0 auto;
      margin-top: 2vw;
      @media screen and (min-width: calc(#{$mobile} + 1px)){
        margin-top: 0px;
        position: absolute;
        bottom: 25%;
        left: 6.5%;
      }
    }
  }
}

.living {

    background: #fff;
    color: black;
    padding-bottom: 0!important;

    .section__inner {
        padding-bottom: 0!important;



    }

    &__copy {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        &__title {
          font-size: em(50);
          margin-bottom: 17px;
        }
        &__sub-title {
          font-size: em(30);
          margin-bottom: 22px;
        }
        &__description {
          font-size: em(20);
          font-weight: 400;
          margin-bottom: 30px;
          padding-left: 20%;
          padding-right: 20%;
          @media screen and (max-width: $mobile) {
            padding-left: 0;
            padding-right: 0;
        }
        }
      }

}

.showcase {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='300' viewBox='0 0 4652.066 3000.283'%3E%3Cg transform='matrix(-0.309, -0.951, 0.951, -0.309, 742.617, 3000.283)'%3E%3Cpath d='M340.924,2071.886,0,1730.964,1775.178,0l.009,681.839Z' transform='translate(39.681 2051.645)'/%3E%3Cpath d='M1814.859,2052.315l398.577,187.854,93.608-288.1,39.548-20.994,23.345-71.849,33.224-102.253-588.3,295.339L0,340.816,340.923,0,1814.858,1370.686l.009,681.621' transform='translate(0 0)'/%3E%3C/g%3E%3C/svg%3E"),
    #fff;
  background-repeat: no-repeat;
  background-position: center 145%;
  background-size: 100%;
  color: black;

  @media screen and (max-width: $mobile) {
    background: #fff;
}

  &__help {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $mobile) {
        flex-direction: column;
    }


    &__img {
      max-width: 600px;
      flex-shrink: 0;
    }
  }
  &__copy {
    display: flex;
    align-items: flex-start;
              justify-content: space-around;
          justify-content: space-evenly;
    flex-direction: column;
    margin-left: get-desktop-vw(80);
    width: 100%;
    @media screen and (max-width: $mobile) {
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 20px;
    }

    &__title {
      font-size: em(50);
      margin-bottom: 17px;
    }
    &__sub-title {
      font-size: em(30);
      margin-bottom: 22px;
    }
    &__description {
      width: 100%;
      font-size: em(20);
      font-weight: 400;
      margin-bottom: 30px;
      @media screen and (max-width: $mobile) {
        text-align: center;
    }
    }
  }
}

.neighbourhood {
    padding-bottom: 0!important;
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h3 {
      font-size: em(50);
      font-weight: bold;
      margin-bottom: 20px;
    }
    span {
      font-size: em(30);
      font-weight: 700;
      margin-bottom: 25px;
    }
  }
  &__container {
    .slider {
      padding-bottom: 0;
    }
  }
}

.gallery {
    padding-top: 0!important;
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    h3 {
      font-size: em(50);
      font-weight: bold;
      margin-bottom: 20px;
    }
    span {
      font-size: em(30);
      font-weight: 700;
      margin-bottom: 25px;
    }
  }
}

.spaces {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    h3 {
      font-size: em(50);
      font-weight: bold;
      margin-bottom: 20px;
      margin-left: -55%;
    }
    span {
      font-size: em(30);
      font-weight: 700;
      margin-bottom: 25px;
    }
    p {
      font-size: em(20);
      font-weight: 400;
      padding-left: em(150);
      padding-right: em(150);
      @media screen and (max-width: $mobile) {
          padding: 0;
      }    
    }
    a {
      margin-top: 20px;
    }
    // &-sign {
    //   padding-top: 500px;
    // }
    
  }

  &__container {
    display: flex;
              justify-content: space-around;
          justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
  }

  &__space {
    max-width: 537px;
    height: 450px;
    flex: 0 0 calc(33.33% - 1%);
    -ms-flex: 0 0 31%; // just ms prefix to override
    display: flex;
    padding-left: get-desktop-vw(20);
    padding-top: em(50);
    padding-bottom: em(40);
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2%;
    background-position: center!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    @media screen and (max-width: $mobile) {
        flex: 0 0 calc(50% - 2%);
        height: 170px;
    }

    h4 {
      font-size: em(40);
      font-weight: bold;
    }

    p {
      font-size: em(20);
      font-weight: 700;
    }
  }
}

.copy {
  padding-top: 0 !important;
  padding-bottom: 0!important;
  p {
    font-size: em(20);
    text-align: center;
    font-weight: 400;
    margin-bottom: 25px;
    &.copy--last{
      margin-bottom: 0px;
    }
  }
  &__hashtag {
    font-size: em(14);
    font-weight: bold;
    color: #00b3e2;
  }
}

.recently {
  display: flex;
  &__container {
    display: flex;
  }
  &__images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    cursor: pointer;
    img {
      margin-bottom: 10%;
      max-width: 300px;
    }
  }
  &__content {
    position: relative;
    width: 75%;
    img {
      max-width: 300px;
      width: 300px;
    }
  }
}

.floating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__image {
    transform: translate(-20%, 0);
    width: 30%;
  }
  &__content {
    width: 70%;
  }
}

.slick-center {
  transform: scale(1.5);
  transform-origin: 50% 50%;
  transition: all 0.4s ease-in-out;
  img {
    opacity: 1;
  }
}
.slick-slide img {
  display: block;
  padding: 5%;  
  opacity: 1;
  
  
}
// .slick-slide {
//   width:300px;
// }

// .slick-slide img {
//   width: 100%;
// }
.slider {
  // height: 470px!important;
  // width: auto;
  // transform: scale(1.5);
  // transform-origin: 50% 50%;
  // cursor: pointer;
  // opacity: 0.5;
}
// .slider img {
//   height: 370px;
//   width: auto;
// }
.gallery__header {
  margin-bottom: 5%;
}


// .is-active {
//    box-shadow: 0 19px 38px rgba(164,89,156,.30), 0 15px 12px rgba(164,89,156,.22);
// }


.tab-content {
  display: none;
}
.tab-content.is-open {
  display: block;
  // background-color: yellow;
}

.flyout {
  &__on {
    -webkit-animation: flyout 2s!important;
    animation: flyout 2s!important;

  }
}

@-webkit-keyframes flyout{
  0%{
    opacity:1;
    transform: translateX(0);
  }

  50%{
    opacity:0;
    transform: translateX(10px);
  }

  100%{
    opacity:1;
    transform: translateX(0);
  }
}
/*=====  End of Discover  ======*/

.slick-slide > img {
  transform: scale(.5);
  transition: transform .3s cubic-bezier(.4,0,.2,1);
}
.slick-center > img {
  transform: scale(1.5);
}
.slider__item > img {
  width: 100%;
  height: 400px!important
  ;
}