/*=============================================
=            Event Page            =
=============================================*/

.relatedEvents {
	box-shadow: 0px -15px 16px -6px #000;
	padding-top: 0!important;
	&__header {
		display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;

	&__see {
		cursor: pointer;
	}
	
	h2 {
		font-size: em(30);
	}
	}
	&__container {
		display: flex;
		justify-content: space-between;
		.eventTile {
			margin-left: 0;
		}
	}

}

/*=====  End of Event Page  ======*/

