.container {
	display:block;
    overflow:hidden;
    max-width: 200px;
    max-height: 200px;
    padding: 5px;
	background-color:#e0e0e0;
}

._3dme {
	background-color:yellow;
}
._collageme {
	background-color:red;
}
._djgalaxy {
	background-color:green;
}
._galaxygraffiti {
	background-color:blue;
}
._messagetree {
	background-color:orange;
}

img,
video,
audio {
    max-width: 100%;
    height: auto;
}

.download {
	display:block;
    overflow:hidden;
    max-width: 200px;
    max-height: 50px;
}
.download iframe {
	height: 50px;
	width: 100%;
}

.sliders {
	.section__inner{
		display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;

	.expSlider {
		width: get-desktop-vw(600);
		height: get-desktop-vw(600);
		
		&.djgalaxy {

		}
		&.galaxygraffiti {

		}
		&.collageme {

		}
		&.messagetree {

		}
		&.threeDme {

		}
	}
}
}

