/*=============================================
=            WHATSON PAGE            =
=============================================*/
@mixin width {
  width: 100%;
  padding-left: 100px;
}
  
  .school__kv {
    max-height: 450px;
    height: 57vh;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    display: flex;
    background: url(https://images.samsung.com/is/image/samsung/p5/uk/explore/kings-cross/school/Group1624.png);
    align-items: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    
  
    @media screen and (max-width: $mobile) {
      height: 30vh;
    }
  
    h2 {
      font-size: em(50);
      font-weight: bold;
      width: 50%;
      line-height: em(17);
      @media screen and (max-width: $mobile) {
        font-size: em(45);
      }
    }
  }
  .school-icons {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    .icons {
      display: flex;
      justify-content: center;
      @media screen and (max-width: 768px) {
        
        flex-direction: column;
      }
      .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        @media screen and (max-width: 768px) {        
          flex-direction: row;
        }
        .icon-lottie {
          width: 113px;
          margin-bottom: 20px;
        }
        .content {
          display: flex;
          justify-content: center;
          flex-direction: column;

          .title {
            margin-bottom: 20px;
          }
          .sub-copy {
            font-weight: 400;
            width: 80%;
            margin: 0 auto;
            text-align: center;
          }
        }
      }
    }
  }

  .colourline {
    height: 14px;
    width: 100%;
    &.yellow {
      background: yellow;
    }
  }

  .course {
    margin-bottom: 7%;
  }

  .challenge {
    display: flex;
    &__title {

      &__number {
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0;
        margin-bottom: 10px;
      }
      &__cat {

        font-weight: bold;
        letter-spacing: 0;
        margin-bottom: 10px;
      }
      &__date {
        letter-spacing: 0;
        font-weight: 400;
        text-transform: uppercase;
      }


    }
    &__left {
      width: 30%;
    }
    &__right {
      width: 70%;
      p {
        text-align: left;
      }
    }
    &__content {
      @include width;
      &__copy {
        font-weight: 800;
        letter-spacing: 0;
        line-height: 18px;
        margin-top: 11px;

        &--sub {
          font-weight: 400;
          letter-spacing: 0;
        line-height: 18px;
        margin-top: 11px;
        }
      }
    }
  }
  .speakers {
    display: flex;
    @include width;
    &__speaker {
      flex:1 1 auto;
     padding:5px;  /* and that, will result in a 10px gap */
    }
  }

  .leader {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    &__content {
      display: flex;
    }
    &__image {
      width: 30%;
      max-width: 380px;
    }
    &__copy {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 70%;
      &__title {
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      &__name {
        font-weight: bold;

      }
      &__quote {
        font-weight: bold;
        line-height: 38px;

      }
      &__info {
        line-height: 18px;
        font-weight: 400;
      }
      .copy {
        p {
          text-align: left;
        }
      }
    }
  }

  .follow {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__copy {
      width: 50%;
      &__title {
        margin-bottom: 10px;
      }
      &__sub {
        font-weight: 400;
      }
    }
    &__icons {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    &__icon {
      margin-right: 25px;
    }
  }

  .promo-banner {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    &__inner {
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 1px white;
    }
    &__logo {
      padding: 0 5%;
    }
  }