.welcome {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 1920px;
  margin: 0 auto;

  padding: 0 100px;
  @media screen and (max-width: $desktop) {
    padding: 0 get-desktop-vw(100);
  }

  @media screen and (max-width: $mobile) {
    padding: 0 get-mobile-vw(100);
  }

  &__header {
    height: 30vw;
    background-image: url(https://images.samsung.com/is/image/samsung/p5/uk/explore/kings-cross/header/Support_D.jpg);
    background-position: center center; /* First value is from left and second is from top. You can use use number as well*/
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    @media screen and (max-width: $mobile){
      background-image: url(https://images.samsung.com/is/image/samsung/p5/uk/explore/kings-cross/header/support-mobile.jpg);
      height: 92vw;
      background-size: cover;
    }
    display: flex;
    align-items: center;
  }

  &__header_inner {
    width: 100%;

    @media screen and (min-width: $mobile + 1) {
      padding-right: 50%;
    }
    // h1, h2, p {
    //   max-width: 60vw;
    // }
  }

  &__header,
  &__outer {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }


  &__title {
    // margin-top: 300px;
    @media screen and (max-width: $mobile) {
      // margin-top: get-mobile-vw(200);
      text-align: center;
      font-size: get-mobile-vw(54);
    }
  }

  &__notice {
    text-align: center;
    max-width: 740px;
    margin: 0 auto;
    @media screen and (max-width: $mobile) {
      max-width: auto;
    }
    p:first-child {
      font-size: em(24);
      font-weight: bold;
    }
    p {
      font-size: em(20);
      margin-bottom: em(8);
    }
    p a {
      font-size: em(14);
      @media screen and (max-width: $mobile) {
        display: block;
      }
    }
  }

  &__tiles {
    display: flex;
    justify-content: space-between;
    // margin: 100px 0px; // adjustment for coronavirus message
    margin: 50px 0 50px; // adjustment for coronavirus message
    text-align:center;
    @media screen and (max-width: $mobile) {
      flex-direction: column;
      margin: 50px 0 50px; // adjustment for coronavirus message
    }
    .tile {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 30%;
      min-height: 250px;

      @media screen and (max-width: 1024px) {
        min-height: auto; // adjustment for coronavirus message
        // min-height: get-mobile-vw(450);
      }

      &__image,
      &__heading,
      > .btn {
        flex-shrink: 0;
      }

      &__image {
        width: 45%;
        height: 150px;
        margin: 16px auto;
        position: relative;

        @media screen and (max-width: $desktop) {
          height: get-desktop-vw(150);
          margin: get-desktop-vw(16) auto;
        }

        @media screen and (max-width: $mobile) {
          height: get-mobile-vw(200);
          margin: get-mobile-vw(24) auto;
        }

        svg {
          height: 100%;
          position: absolute;
          left: 50%;
          top: 0;
          transform: translate(-50%, 0);
        }
      }

      &:nth-child(2) {
        margin: 0 100px;
        @media screen and (max-width: $desktop) {
          margin: 0 get-desktop-vw(100);
        }

        @media screen and (max-width: $mobile) {
          margin: get-mobile-vw(100) 0;
        }
      }

      @media screen and (max-width: $mobile) {
        text-align: center;
        button {
          margin: 0 auto;
        }
      }

      &__heading {
       /*  flex-basis: 30%; */
      }

      &__desc {
        margin: 24px 0px;
        @media screen and (max-width: $desktop) {
          margin: get-desktop-vw(24) 0px;
        }
        @media screen and (max-width: $mobile) {
          margin: get-mobile-vw(24) 0px;
        }
        flex-basis: 30%;
      }

      .btn {
        margin: 0 auto;
      }
    }
  }
}



.journey {
  padding-top: 0 !important;
  position: relative;

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    flex-basis: 40%;

    margin: 20px 20px;
    padding: 12px 30px;
    @media screen and (max-width: $desktop) {
      margin: get-desktop-vw(20) get-desktop-vw(20);
      padding: get-desktop-vw(12) get-desktop-vw(30);
    }
    @media screen and (max-width: $mobile) {
      margin: get-mobile-vw(8) get-mobile-vw(8);
      padding: get-mobile-vw(12) get-mobile-vw(30);
      flex-basis: unset;
      width: 40%;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  input[type="tel"]:invalid,
  input[type="email"]:invalid {
    color: $warning;
    outline: 2px solid $warning;

    &::placeholder {
      color: $warning;
    }
  }


  & > div,
  & > form {
    display: none;
  }

  .section__inner {
    padding-top: 0 !important;
    &#one-to-one-description {
      text-align: center;
      h4, p {
        margin-bottom: 1em;
      }
      a {
        font-size: 1em;
      }
    }
    &#confirmation {
      position: relative;
      padding: 40px !important;
      text-align: center;

      .time-selected {
        margin-top: 35px;
      }

      .confirmation__reference {
        margin: 70px 0;
        @media screen and (max-width: $desktop) {
          margin: get-desktop-vw(70) 0;
        }
        @media screen and (max-width: $mobile) {
          margin: get-mobile-vw(70) 0;
        }
      }
    }
  }

  .device-info {
    flex-direction: column;
    text-align: center;

    h3 {
      margin: 80px 0;
      @media screen and (max-width: $desktop) {
        margin: get-desktop-vw(80) 0;
      }
      @media screen and (max-width: $mobile) {
        margin: get-mobile-vw(80) 0;
      }
    }

    &__row {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        margin: 0 20px;
        text-align: left;
        @media screen and (max-width: $desktop) {
          margin: 0 get-desktop-vw(20);
        }
        @media screen and (max-width: $mobile) {
          display: none;
        }
        margin: 20px 20px;
        padding: 12px 30px;
        @media screen and (max-width: $desktop) {
          margin: get-desktop-vw(20) get-desktop-vw(20);
          padding: get-desktop-vw(12) get-desktop-vw(30);
        }
        @media screen and (max-width: $mobile) {
          margin: get-mobile-vw(8) get-mobile-vw(8);
          padding: get-mobile-vw(12) get-mobile-vw(30);
          flex-basis: unset;
          width: 40%;
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }

      * {
        flex-basis: 40%;
        @media screen and (max-width: $mobile) {
          flex-basis: unset;
          width: 40%;
          flex-grow: 1;
        }
      }

      select{
        option{
          color: black;
        }
      }
    }

    textarea {
      width: 83%;
      height: 200px;
      margin: 20px auto;
      @media screen and (max-width: $desktop) {
        margin: get-desktop-vw(20) auto;
        height: get-desktop-vw(200);
      }
      @media screen and (max-width: $mobile) {
        margin: get-mobile-vw(8) get-mobile-vw(8);
        height: get-mobile-vw(200);
        width: 100%;
      }
    }
  }

  .device-info__row > * {
    width: 40%;
  }
  .details {
    &__title,
    &__time {
      text-align: center;
    }

    &__time {
      margin: 30px 0;
      @media screen and (max-width: $desktop) {
        margin: get-desktop-vw(30) 0;
      }
      @media screen and (max-width: $mobile) {
        margin: get-mobile-vw(30) 0;
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__fields {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 24px 0;
    }
    &__checkboxes,
    &__disclaimer {
      width: 650px;
      margin: 0 50px;
      @media screen and (max-width: $desktop) {
        width: get-desktop-vw(650);
        margin: 0 get-desktop-vw(50);
      }
      @media screen and (max-width: $mobile) {
        width: get-mobile-vw(650);
        margin: 0 get-mobile-vw(50);
      }
    }

    // Show/Hide Zoom policy. Hide regular disclaimer if one-to-one visible
    &__disclaimer#one-to-one-policy {
      display: none;
      &.visible {
        display: block;
      }
      &.visible + .details__disclaimer {
        display: none;
      }
    }
  }

  &.pink {
    a {
      color: $pink;
    }
    .line {
      background-color: $pink;
    }
    .booking-line {
      background-color: $pink;
    }
  }
  &.coral {
    a {
      color: $coral;
    }
    .line {
      background-color: $coral;
    }
    .booking-line {
      background-color: $coral;
    }
  }
  &.cyan {
    a {
      color: $cyan;
    }
    .line {
      background-color: $cyan;
    }
    .booking-line {
      background-color: $cyan;
    }
  }
  &.orange {
    a {
      color: $orange;
    }
    .line {
      background-color: $orange;
    }
    .booking-line {
      background-color: $orange;
    }
  }

  .booking-line {
    width: 7680px;
    height: 1px;
    position: absolute;
    background-color: $orange;
    left: -3110px;

    &--top {
      top: -20px;
    }

    &--bot {
      bottom: -20px;
    }
  }

  .close{
    display: block !important;
    top: 0px;
    right: 256px;
    @media screen and (max-width: $desktop) {
      right: get-desktop-vw(64);
    }

    @media screen and (max-width: $mobile) {
      right: get-mobile-vw(16);
      top: 0.65em;
    }
  }

  &.progress {
    cursor: progress;
  }
}

@keyframes flash__btn--pink {
  50% {
    border-color: red;
    color: red;
  }
  100% {
    border-color: $pink;
    color: white;
  }
}
@keyframes flash__btn--cyan {
  50% {
    border-color: red;
    color: red;
  }
  100% {
    border-color: $cyan;
    color: white;
  }
}
@keyframes flash__btn--orange {
  50% {
    border-color: red;
    color: red;
  }
  100% {
    border-color: unset;
    color: $orange;
  }
}

#navigation {
  justify-content: center;
  opacity: 0;
  height: 0;
  visibility: hidden;
  display: flex;
  transition: opacity ease-in-out 0.5s;
  button {
    margin: 0 25px;
    @media screen and (max-width: $desktop) {
      margin: get-desktop-vw(0) get-desktop-vw(25);
    }
    @media screen and (max-width: $mobile) {
      margin: get-mobile-vw(0) get-mobile-vw(25);
    }
    &.flash--pink{
      animation: flash__btn--pink 1s;
    }
    &.flash--cyan{
      animation: flash__btn--cyan 1s;
    }
    &.flash--orange{
      animation: flash__btn--orange 1s;
    }
  }
}

.blackFridayBanner {
  background-image: url(https://images.samsung.com/is/image/samsung/p5/uk/explore/kings-cross/header/BlackFridaySupportBanner.jpg);
  background-position: center center; /* First value is from left and second is from top. You can use use number as well*/
  background-repeat: no-repeat;
  background-size: cover;
  padding: em(5);
  max-height: 550px;
  height: 38vw;

  @media screen and (max-width: $mobile){
    background-image: url(https://images.samsung.com/is/image/samsung/p5/uk/explore/kings-cross/header/BlackFridaySupportBannerMobile.jpg);
    max-height: 768px;
    height: 100vw;

    h2 {
      margin-top: 2.3em;
    }
  }

  &__copy {
    margin: 10%;
    width: 60%;

    h2 {
      margin-bottom: 1em;
    }
  }
}
