.welcome {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 0 100px;
  @media screen and (max-width: $desktop) {
    padding: 0 get-desktop-vw(100);
  }

  @media screen and (max-width: $mobile) {
    padding: 0 get-mobile-vw(100);
  }

  &__outer {
    background-image: url(../../../content/dam/samsung/uk/kings-cross/header/support-header.png);
    background-position: center center; /* First value is from left and second is from top. You can use use number as well*/
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  &__title {
    margin-top: 300px;
    @media screen and (max-width: $mobile) {
      margin-top: get-mobile-vw(200);
      text-align: center;
      font-size: get-mobile-vw(54);
    }
  }

  &__tiles {
    display: flex;
    justify-content: space-between;
    margin: 100px 0px;
    @media screen and (max-width: $mobile) {
      flex-direction: column;
    }
  }
}

.tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:nth-child(2) {
    margin: 0 200px;
    @media screen and (max-width: $desktop) {
      margin: 0 get-desktop-vw(200);
    }

    @media screen and (max-width: $mobile) {
      margin: get-mobile-vw(100) 0;
    }
  }

  @media screen and (max-width: $mobile) {
    text-align: center;
    button {
      margin: 0 auto;
    }
  }

  &__heading {
    flex-basis: 30%;
  }

  &__desc {
    margin: 24px 0px;
  }
}

.journey {
  padding-top: 0 !important;
  position: relative;

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    flex-basis: 40%;

    margin: 20px 20px;
    padding: 12px 30px;
    @media screen and (max-width: $desktop) {
      margin: get-desktop-vw(20) get-desktop-vw(20);
      padding: get-desktop-vw(12) get-desktop-vw(30);
    }
    @media screen and (max-width: $mobile) {
      margin: get-mobile-vw(8) get-mobile-vw(8);
      padding: get-mobile-vw(12) get-mobile-vw(30);
      flex-basis: unset;
      width: 40%;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  & > div,
  & > form {
    display: none;
  }
  .section__inner {
    padding-top: 0 !important;
    &#confirmation {
      position: relative;
      padding: 40px !important;
      text-align: center;

      .time-selected {
        margin-top: 35px;
      }

      .confirmation__reference {
        margin: 70px 0;
        @media screen and (max-width: $desktop) {
          margin: get-desktop-vw(70) 0;
        }
        @media screen and (max-width: $mobile) {
          margin: get-mobile-vw(70) 0;
        }
      }
    }
  }

  .device-info {
    flex-direction: column;
    text-align: center;

    h3 {
      margin: 80px 0;
      @media screen and (max-width: $desktop) {
        margin: get-desktop-vw(80) 0;
      }
      @media screen and (max-width: $mobile) {
        margin: get-mobile-vw(80) 0;
      }
    }

    &__row {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        margin: 0 20px;
        text-align: left;
        @media screen and (max-width: $desktop) {
          margin: 0 get-desktop-vw(20);
        }
        @media screen and (max-width: $mobile) {
          display: none;
        }
      }

      * {
        flex-basis: 40%;
        @media screen and (max-width: $mobile) {
          flex-basis: unset;
          width: 40%;
          flex-grow: 1;
        }
      }
    }

    textarea {
      width: 83%;
      height: 200px;
      margin: 20px auto;
      @media screen and (max-width: $desktop) {
        margin: get-desktop-vw(20) auto;
        height: get-desktop-vw(200);
      }
      @media screen and (max-width: $mobile) {
        margin: get-mobile-vw(8) get-mobile-vw(8);
        height: get-mobile-vw(200);
        width: auto;
      }
    }
  }

  .details {
    &__title,
    &__time {
      text-align: center;
    }

    &__time {
      margin: 30px 0;
      @media screen and (max-width: $desktop) {
        margin: get-desktop-vw(30) 0;
      }
      @media screen and (max-width: $mobile) {
        margin: get-mobile-vw(30) 0;
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__fields {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 24px 0;
    }
    &__checkboxes {
      width: 650px;
      margin: 0 50px;
      @media screen and (max-width: $desktop) {
        width: get-desktop-vw(650);
        margin: 0 get-desktop-vw(50);
      }
      @media screen and (max-width: $mobile) {
        width: get-mobile-vw(650);
        margin: 0 get-mobile-vw(50);
      }
    }
  }

  &.pink {
    a {
      color: $pink;
    }
    .line {
      background-color: $pink;
    }
  }
  &.cyan {
    a {
      color: $cyan;
    }
    .line {
      background-color: $cyan;
    }
  }
  &.orange {
    a {
      color: $orange;
    }
    .line {
      background-color: $orange;
    }
  }


  .line {
    width: 7680px;
    height: 1px;
    position: absolute;
    background-color: $orange;
    left: -3110px;

    &--top {
      top: -20px;
    }

    &--bot {
      bottom: -20px;
    }
  }

  &.progress {
    cursor: progress;
  }
}

.navigation {
  justify-content: center;
  button {
    margin: 0 25px;
    @media screen and (max-width: $desktop) {
      margin: get-desktop-vw(0) get-desktop-vw(25);
    }
    @media screen and (max-width: $mobile) {
      margin: get-mobile-vw(0) get-mobile-vw(25);
    }
  }
}
