<script id='singleEvent' type='text/x-handlebars-template'>
	<div class="single-event" data-eventId='[[ eventId ]]' data-maxGroupSize='[[ groupSize ]]'  data-eventIdentifier='[[ identifier ]]'>

		<section class="event__header section__inner">
			<span class="event__header-date">[[ startDate ]] | [[ startTime ]]</span> 
			<h2 class="event__header-title">[[ title ]]</h2>
		</section>

		<div class="event__img" style="background-image:url( [[image]] )">
			{{!-- <img src="[[ image ]]" alt=""> --}}
		</div>

		<div class="section event__content">
			<div class="section__inner">
				<section>
					<div class="tile_container">
						<span class="tile-desc">[[ firstSentence ]]</span>
					<span class="tile-desc--long">[[ description ]]</span>
					</div>
					
					[[#if youtube ]]
						<iframe width="560" height="315" src="https://www.youtube.com/embed/[[ youtube ]]" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					[[/if]]
				</section>
				<section>
					<div class="event__content-book action">
						<span class="action-date">[[ startDate ]] | [[ startTime ]]</span> 
						<span class="action-capacity">Max [[ slotsAvailable ]]</span> 

						[[#if externalbookinglink ]]
							<a href="[[externalbookinglink]]" class="link-book btn btn--primary" target="_blank">book now</a><br><br>
						[[else]]
							<button class="action-btn btn btn--primary">book tickets</button><br><br>
						[[/if]]

						<span class="action-crucial">*I am small print I can display crucial event information</span>
					</div>
					<div class="event__content-share share">
						<div class="share__container">

							<h2>Share Event</h2> <img class="share__icon" src="https://images.samsung.com/is/image/samsung/p5/uk/kings-cross/share-icon.png?$ORIGIN_PNG$" />

						</div>
						



<ul class="share__social">
	<li class="s-share-item s-ico-facebook">
		<a href="javascript:(function(){window.open('http://www.facebook.com/sharer.php?s=100&amp;u=https://samsung-kx.com/uk/kings-cross-sharer/?id=[[ identifier ]]')})();" class="s-share-link" title="Open in a New Window" data-omni="share:facebook">Facebook </a>
	</li>
	<li class="s-share-item s-ico-twitter">
		<a href="javascript:(function(){var displayText = encodeURIComponent('[[ title ]]'); window.open('https://twitter.com/intent/tweet?url=https://samsung-kx.com/uk/kings-cross-sharer/?id=[[ identifier ]]&amp;text='+displayText)})();" class="s-share-link" title="Open in a New Window" data-omni="share:tweeter">Tweet </a>
	</li>
	<li class="s-share-item s-ico-pinterest">
		<a href="javascript:(function(){window.open('http://www.pinterest.com/pin/create/button/?url=https://samsung-kx.com/uk/kings-cross-sharer/?id=[[ identifier ]]&amp;media=[[ image ]]&amp;description=[[ title ]]')})();" class="s-share-link" title="Open in a New Window" data-omni="share:pin it">Pin It </a>
	</li>

	<li class="s-share-item s-ico-linkedin">
		<a href="javascript:(function(){window.open('https://www.linkedin.com/sharing/share-offsite/?url=' + encodeURIComponent('https://samsung-kx.com/uk/kings-cross-sharer/?id=[[ identifier ]]'))})();" class="s-share-link" title="Open in a New Window" data-omni="share:linkedin">LinkedIn </a>
	</li>

</ul>




					</div>

				</section>
			</div>
		</div>
	</div>
</script>
