<div class="kxCountdown">
  <h3>We will be live again in:</h3>
  <div class="kxCountdown__groups">
    <div class="kxCountdown__group" label="Days">
      <div class="kxCountdown__digit" day_0></div>
      <div class="kxCountdown__digit" day_1></div>
    </div>
    <div class="kxCountdown__group kxCountdown__group--spacer"></div>
    <!-- <div class="kxCountdown__digit"><span>:</span></div> -->
    <div class="kxCountdown__group" label="Hours">
      <div class="kxCountdown__digit" hour_0></div>
      <div class="kxCountdown__digit" hour_1></div>
    </div>
    <div class="kxCountdown__group kxCountdown__group--spacer"></div>
    <!-- <div class="kxCountdown__digit"><span>:</span></div> -->
    <div class="kxCountdown__group" label="Minutes">
      <div class="kxCountdown__digit" minute_0></div>
      <div class="kxCountdown__digit" minute_1></div>
    </div>
    <div class="kxCountdown__group kxCountdown__group--spacer"></div>
    <!-- <div class="kxCountdown__digit"><span>:</span></div> -->
    <div class="kxCountdown__group"label="Seconds">
      <div class="kxCountdown__digit" second_0></div>
      <div class="kxCountdown__digit" second_1></div>
    </div>
  </div>
</div>
