<div class="kxCountdownDigit">
  {{#if_defined in}}
    <div class="kxCountdownDigit__figure" in>{{in}}</div>
  {{/if_defined}}
  {{#if_defined out}}
    <div class="kxCountdownDigit__figure" out>{{out}}</div>
  {{/if_defined}}
</div>
