// Import required files from base kx site

@import "../base/variables";

// Mixins
@import "../mixins/clearfix";
@import "../mixins/typography";
@import "../mixins/vw";

// Base
@import "../base/base";
@import "../base/typography";

// Helpers
@import "../helpers/helpers";

@import "../components/nav";
@import "../components/social";

// wrap all components in hoi class

$padding-desktop: $p-borders-desktop * 1px;
$padding-mobile: $p-borders-mobile * 1px;

$margin-desktop: $m-borders-desktop * 1px;
$margin-mobile: $m-borders-mobile * 1px;

.cheil-static.home-of-innovation {

  @import "../components/home-of-innovation/heading";
  
  @import "../components/home-of-innovation/content";
  @import "../components/home-of-innovation/contentBreadcrumbs";
  @import "../components/home-of-innovation/contentFindOutMore";
  @import "../components/home-of-innovation/contentGallery";
  @import "../components/home-of-innovation/contentGroup";
  @import "../components/home-of-innovation/contentHeadline";
  @import "../components/home-of-innovation/contentIntro";
  @import "../components/home-of-innovation/contentItems";
  @import "../components/home-of-innovation/contentKv";
  @import "../components/home-of-innovation/contentPagination";
  @import "../components/home-of-innovation/contentParas";
  @import "../components/home-of-innovation/contentRelated";
  @import "../components/home-of-innovation/contentSpacer";

}
