// Import required files from base kx site

@import "../base/variables";

// Mixins
@import "../mixins/clearfix";
@import "../mixins/typography";
@import "../mixins/vw";

// Hoi vars (after mixins)
@import "vars";

// Base
@import "../base/base";
@import "../base/typography";

// Helpers
@import "../helpers/helpers";

@import "../components/social";
@import "../components/find-kx";



body {
  line-height: 1.32;
}

// wrap all components in hoi class

.cheil-static.home-of-innovation {

  @import "../components/common/kxNav";
  @import "../components/common/kxSearch";
  // @import "../components/nav";
  // @import "../components/sidedrawer";
  @import "../components/home-of-innovation/content";

  @import "../components/home-of-innovation/typography";
  @import "../components/home-of-innovation/hoiLinkList";
  @import "../components/home-of-innovation/list";

  background: black;
  color: white;

  .slick-arrow {
    font-size: 0;
  }

  ol {
    margin: 0 2rem;
    font-size: 1em;
    li {
      list-style: decimal;
    }
  }

  .hoiContent {

    // general styling & containers

    // all pages
    @import "../components/home-of-innovation/hoiBreadcrumbs";

    // used in page
    @import "../components/home-of-innovation/hoiKv";
    @import "../components/home-of-innovation/hoiShare";
    @import "../components/home-of-innovation/hoiButtons";
    @import "../components/home-of-innovation/hoiGroup";
    @import "../components/home-of-innovation/hoiHeadline";
    @import "../components/home-of-innovation/hoiParagraphs";
    @import "../components/home-of-innovation/hoiGallery";
    @import "../components/home-of-innovation/hoiGroupLand";
    @import "../components/home-of-innovation/hoiIframe";
    @import "../components/home-of-innovation/hoiImagePanelLinks";
    @import "../components/home-of-innovation/hoiIconLinks";
    @import "../components/home-of-innovation/hoiHtmlList";
    @import "../components/home-of-innovation/hoiYoutubeLiveChat";
    @import "../components/home-of-innovation/hoiImageBannerLink";

    @import "../components/home-of-innovation/hoiWrapper";
    @import "../components/home-of-innovation/hoiSpacer";
    @import "../components/home-of-innovation/hoiMedia";

    @import "../components/home-of-innovation/hoiCards";

  }

}
