<script id='dateColumn' type='text/x-handlebars-template'>
    <div class="calendar__column">
        <h4 class="calendar__column__date fz18">[[date]]</h4>
        <div id="[[index]]" class="calendar__choices">
            {{!-- Slot insert position --}}
        </div>
        <div class="arrows">
            <div class="arrow"></div>
        </div>
    </div>
</script>