<script id='dateColumn' type='text/x-handlebars-template'>
    <div class="calendar-column">
        <h4 class="calendar-column-date">[[date]]</h4>
        <div id="[[index]]" class="calendar-column-choices">
            {{!-- Slot insert position --}}
        </div>
        <div class="cont">
            <div class="arrow"></div>
        </div>
    </div>
</script>