<script id='slot' type='text/x-handlebars-template'>
    <div class="calendar__choice">
        <h4 class="fz24">[[time]]</h4>
        <p class="fz18">[[#if available]]Available[[else]]Unavailable[[/if]]</p>
    </div>
</script>