<script id='homeKv' type='text/x-handlebars-template'>
	<div>
		<img data-lazy="[[ image ]]" alt="">
		[[ startDate ]] / [[ startTime ]]
		[[ title ]]
		[[ passion ]]
		<a ga-ca="microsite" ga-ac="feature" ga-la="kings-cross:home-kv_book-now" data-omni-type="microsite" data-omni="uk:kings-cross:home-kv:book-now" href="/{{ config.site }}{{ config.subfolder }}/whats-on/event?id=[[ identifier ]]" class="tile-link">book now</a>
	</div>
</script>
