<script id='homeKv' type='text/x-handlebars-template'>
	<div class="homeKv">
		<img data-lazy="[[ image ]]" alt="">
		[[ startDate ]] / [[ startTime ]]
		[[ title ]]
		[[ passion ]]
		<a href="/{{ config.site }}/{{ config.subfolder }}/whats-on/event?id=[[ identifier ]]" class="tile-link">book now</a>
	</div>
</script>
