/* ==========================================================================
	articles
========================================================================== */

.blog {
  background: $light-grey;

  &__section {

    &-inner {
      padding-top: 80px;
        padding-bottom: 80px; 

      
      & > div:first-child { // "Article ---" on the article page 
        width: 200px;
      }

    }
  }
 
  &__articles {
    //margin: 80px 0;
    padding-top: 80px;
    padding-bottom: 80px; 

    @media screen and ( max-width: $media-tablet ) {
        padding-top: 40px;
        padding-bottom: 40px; 
    }

    &-inner {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      position: relative;

      & > div {
        width: 200px;
        position: absolute;
        left: 0;
        top: 0;

        @media screen and ( max-width: 1024px ) {
          position: relative;
          width: auto;
        }

      }
    }

    &:hover {
      .post {
        opacity: 0.7;
        transform: scale(1);
      }
    }

    .post {
      
      &:hover {
        opacity: 1;
        transform: scale(1.1);
      }

      // highlighted article
      &:nth-child(2) {
        transform: scale(1) !important;
        max-width: 100%;
        width: 100%;
        padding-left: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        
        @media screen and ( min-width: 768px ) {
          margin-bottom: 50px;
          flex-direction: row-reverse;
        }

        @media screen and ( min-width: 1024px ) {
          margin-bottom: 100px;
          padding-left: 200px;
          justify-content: space-between;
        }

                
        .post-thumbnail {
          height: auto;
          
          //NEW
          display: block;
          position: relative;
          padding-bottom: 0;
          margin-bottom: 25px;

          @media screen and ( min-width: 768px ) {
            width: 620px;
            margin-bottom: 0;
          }
        }

        .post-content {
          padding-right: 50px;
        }

        img {
          
          width: 100%;
          //height: 384px;
          //max-height: 384px;
          //object-fit: cover;

          //NEW
          position: relative;
          top: 0;
          transform: none;

          @media screen and ( min-width: 768px ) {
            max-width: 625px;
          }

        }

        header {
          max-width: 610px;
        }

        .post {
          &-thumbnail {
            //float: right;
          }

          &-title,
          &-title a{
            font-size: 32px;
          }

          &-copy {
            max-width: 610px; 
            p {
                word-break:break-word;
            }
          }
        }

        
        
      }

     /* &:nth-child(4) {
        margin: 0 1% 50px 1%;
      }*/
    }

  }

  &__article {

    .h4-extra-bold a{
        color: $dark-grey;
    }

    &>.blog__section-inner {
        max-width: 990px;
    }
    
    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
      margin-bottom: 20px;
    }
    //
    // General elements
    // --------------------------------------------------------------------------
    p {
      font-size: 18px;
      margin-bottom: 30px;
      
      @media screen and ( min-width: 768px ) {
        font-size: 20px;
        margin-bottom: 40px;
      }
    }
    
    img {

    }

    figure {
      max-width: 100%;
      margin: 80px 0;

      img {

      }
    }

    figcaption {
      color: $caption-grey;
    }


    blockquote {
      display: block;
      border-width: 2px 0;
      border-style: solid;
      border-color: #eee;
      padding: 1.5em 0;
      margin: 1.5em 0;
      position: relative;

      &:before {
        content: '\201C';
        position: absolute;
        top: 0em;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        width: 3rem;
        height: 2rem;
        font: 6em/1.08em 'PT Sans', sans-serif;
        color: #666;
        text-align: center;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
    
    ul {
      margin: 0;
      padding: 0 0 0 20px;

      li {
        padding-left: 0;
        list-style-type: disc; 
      }
    }

    ol {
      margin: 0;
      padding: 0 0 0 20px;

      li {
        padding-left: 0;
        list-style-type: decimal; 
      }
    } 

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;

      tr {
        &:nth-child(odd) {
          
        }
        &:nth-child(even) {
          background-color: $light-grey;
        }
      }

      td,
      th {
        padding: 20px 10px;
      }
      
      thead {
        tr {
          background-color: $grey;
        }
        th {
          text-align: left;
        }
      }
      tbody {

      }
      tfoot {
        tr {
          background-color: $grey;
        }
        th {
          text-align: left;
        }
      }
    
    }

    code,
    pre {
      background: $light-grey;
      border: 1px solid $grey;
      border-left: 3px solid $orange;
      color: $dark-grey;
      page-break-inside: avoid;
      font-family: monospace;
      font-size: 15px;
      line-height: 1.6;
      margin-bottom: 1.6em;
      max-width: 100%;
      overflow: auto;
      padding: 1em 1.5em;
      display: block;
      word-wrap: break-word;
    }

    iframe {
      border: 0;
      outline: none;
      max-width: 100%;
    }

    audio,
    video,
    meter,
    progress {
      margin-bottom: 20px;
    }

    form {}
    fieldset {
      padding: 0;
      border: 0;
    }
    legend {
      margin-bottom: 20px;
    }
    label {}

    input {
      padding: 10px;
      border: 1px solid $grey; 
      border-radius: 0;
      outline: none;
    }

    input[type="text"] {}
    input[type="password"] {}
    input[type="email"] {}
    input[type="tel"] {}
    input[type="date"] {}
    input[type="month"] {}
    input[type="datetime"] {}
    input[type="datetime-local"] {}
    input[type="search"] {}
    
    input[type="color"] {
      padding: 0;
    }

    input[type="number"] {}
    input[type="url"] {}
    input[type="url"] {}
    input[type="checkbox"] {}
    input[type="radio"] {}
    input[type="range"] {}

    input[type="submit"],
    input[type="button"],
    input[type="reset"] {
      @extend .button;
      @extend .button--black;
      
      &:hover {
        color: $white !important;
        background: $black;
      }

      &:disabled {
        opacity: .5;
        pointer-events: none;
      }
    }

    button {
      @extend .button;
      @extend .button--black;
      
      &:disabled {
        opacity: .5;
        pointer-events: none;
      }
    }

    button[type="submit"] {}
    button[type="button"] {}
    button[type="reset"] {}
    
    select,
    textarea {
      padding: 10px;
      border: 1px solid $grey; 
      border-radius: 0;
      outline: none;
      resize: none;
      //-webkit-appearance: none;
    }

    .video-wrapper {
      position: relative;
      margin-bottom: 20px;

      &:after {
        content: '';
        padding-bottom: 56.25%;
        display: block;
      }
      
      video,
      iframe {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }


    
    // --------------------------------------------------------------------------
    // 
    // 

    .post {

      &-content {
        transform: scale(1) !important;
        max-width: 100%;
        width: 100%;
        padding-left: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        
        @media screen and ( min-width: 768px ) {
          //margin-bottom: 50px;
          flex-direction: row;
        }

        @media screen and ( min-width: 1024px ) {
          //margin-bottom: 100px;
          padding-left: 105px;
          justify-content: space-between;
        }
       

        img {
          max-width: 100%;
          height: auto;
        }

        a {
          color: $pink;
          &:hover {
            color: darken($pink, 30%);
          }

          &.link {
            color: $dark-grey;
            text-decoration: underline;
          }

          &.link:hover {
            color: $caption-grey;
            text-decoration: none;
          }

        }
      }

      &-actions {
        @media screen and ( min-width: 768px ) {
          width: 160px;
        }
      }

      &-copy {
        @media screen and ( min-width: 768px ) {
          width: calc(100% - 160px);
        }
      }
      
    }
  }

  &__navigation {
    background: #e8e8e8;

    .post-copy {
        width: 100%;
        font-size: 16px;
    }

    &-title {
      text-align: center;
      margin-bottom: 70px;
    }

    &-posts {
      display: flex;
      justify-content: space-between;
      overflow-wrap: break-word;
    }

    .post-previous {
      margin-right: 20px;
    }

    .post-previous:last-child {
      margin-right: 0px;
    }

    @media screen and ( max-width: 1024px ) {
      &-posts {
        flex-direction: column;
        align-items: center;
      }

      .post-previous {
        margin-right: 0px;
      }

      .post-previous:last-child {
        margin-right: auto;
      }
    }

    

    .post-next {
      margin-left: 20px;
    }
  }

  
  
article {
  & > .post {

    &-thumbnail { // aspect ratio: 450:200 = 
      overflow: hidden;
      //height: 200px;
      
      //NEW
      display: block;
      position: relative;
      margin-bottom: 25px;

      @media screen and ( min-width: 768px ) {
        padding-bottom: 44.44%;
      }
    }

  }
}
  

  .post {
    max-width: 444px;
    width: calc( 100% / 3 - 50px);
    /*flex: 0 0 25%;*/
    margin-bottom: 50px; 
    transform: scale(1);    
    transition: transform 0.5s, opacity 0.4s;
    
    @media screen and ( max-width: 1024px ) {
      max-width: 100%;
      width: 100%;
      margin: 10px auto;
    }

    &-link {
      color: $black;
    }

    & > .post-link {
      //NEW
      display: block;
      position: relative;
      margin-bottom: 25px;
      overflow: hidden;

      @media screen and ( min-width: 768px ) {
        padding-bottom: 44.44%;
      }
    }
    
    &-thumbnail { // aspect ratio: 450:200 = 
      overflow: hidden;
      
      //NEW
      display: flex;
      position: relative;
      margin-bottom: 25px;

      @media screen and ( min-width: 768px ) {
        //TODO padding-bottom: 44.44%;
      }
    }
    
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      transition: transform 0.4s;
      display: block;
      object-fit: cover;

      //NEW
      @media screen and ( min-width: 768px ) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    
    &-title {
      margin: 0 0 20px 0;
      line-height: 0;
    
      a {
        margin: 0;
        color: $dark-grey;
        transition: color 0.5s;
      }
    } 
    
    &-social-share {
      opacity: 0;
      transform: translateX(-10px);
      transition: all .3s ease-in-out .5s;
      margin-left: -8px;
      margin-bottom: 25px;

      @media screen and ( min-width: 768px ) {
        margin-left: 0;
        margin-bottom: 0;
      }

      &.loaded {
        opacity: 1;
        transform: translateX(0)
      }
    }

    &-copy {
      margin-bottom: 20px;
      transition: color 0.5s;
    }
    
    &-meta {
      margin: 0;
      margin-bottom: 25px;

      @media screen and ( min-width: 768px ) {
        margin-bottom: 50px;
      }
      
      &__date {
        display: block;
        transition: color 0.5s;
      }
    
      &__author {
        display: block;
        transition: color 0.5s;
      }
    }
    
    
    &:hover {
      transform: scale(1.02);
      .post {
    
        &-title a{
          color: lighten( $dark-grey, 50% );
          transition-delay: 0.1s;
        }
    
        &-copy {
          color: lighten( $dark-grey, 50% );
          transition-delay: 0.2s;
        }
    
        &-meta {
          //margin: 0;
          
          &__date {
            color: lighten( $dark-grey, 50% );
          transition-delay: 0.3s;
          }
    
          &__author {
            color: lighten( $dark-grey, 50% );
          transition-delay: 0.4s;
          }
        }
    
      }
    }
    
  }


}

//
// ADD THIS
// --------------------------------------------------------------------------
.addthis {
  &_inline_share_toolbox {
    display: inline-block !important;

    @media screen and ( min-width: 768px ) {
      display: block !important;
    }

  }

  &-smartlayers {
    span {
      display: none;
    }
    

    .at-share-btn {
      display: inline-block !important;
      margin-right: 25px !important;

      @media screen and ( min-width: 768px ) {
        display: block !important;
      }
      

      &-elements {
      }

      &:hover,
      &:focus {
        outline: none !important;
        border: 0;
      }

      &.at-svc-facebook,
      &.at-svc-twitter {
        width: 30px;
        height: 30px;
        display: block;
        margin-bottom: 0;

        @media screen and ( min-width: 768px ) {
          margin-bottom: 30px;
        }
      }

      &.at-svc-facebook {
        background: url(../assets/images/icons/icon_facebook.svg) no-repeat center;
        background-size: 12px 22px;        
      }
      &.at-svc-twitter {
        background: url(../assets/images/icons/icon_twitter.svg) no-repeat center;
        background-size: 27px 22px;
      }
    }
  }


    
}

.add-to-bookmark {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url(../assets/images/icons/icon_bookmark.svg) no-repeat center;
  background-color: transparent !important;
  background-size: 19px 22px;
  transition: all .2s ease-in-out;
  display: inline-block !important;

  @media screen and ( min-width: 768px ) {
    display: block !important;
  }

  &:hover {
    transform: translateY(-4px);
  }
}

