/* ==========================================================================
	Footer
========================================================================== */

.footer {
  background: $black;
  position: relative;
  flex: 1;

  &__inner {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and ( max-width: $media-tablet) {
      padding: 40px 20px; 
    }

    @media screen and ( max-width: 780px ) {
      flex-direction: column;
    }
  }

  &__colm {
    margin-bottom: 30px;
    @media screen and ( max-width: $media-tablet) {
      margin-bottom: 20px;
    }

    &-row {
      margin-bottom: 35px;
    }

    &-item {
      margin-bottom: 5px;
    }

    &-title {
      color: $white;
      margin-top: 0;
      margin-bottom: 15px;
    }

    &-logo {
      @media screen and ( max-width: $media-tablet) {
        flex: 100%;
        margin-bottom: 40px;
      }

      @media screen and ( max-width: 780px ) {
        flex: auto;        
      }
      
    }

    &-newBusiness {
      span {
        display: inline-block;
        margin-bottom: 10px;
      }
    }
  }

  .visit-number,
  span,
  address {
    color: $grey;
  }
  
}