/* ==========================================================================
	Legal
========================================================================== */

.legal-page {
    h3,
    h4 {
        margin-bottom: 5px;
    }

    &:after {
        content: '';
        position: fixed;
        top: 0;
        width: 210px;
        height: 80px;
        background: black;
        transition: height;
        @media screen and ( max-width: $media-tablet), screen and ( max-height: $media-tablet) {
            height: 40px;
        }
    }

    .accordion {
        transition: all 0.2s ease-in-out;
        cursor: pointer;
            &.active {
                color: $pink;
            }
        &.active {
            margin-bottom: 2%;
            &.scrolled {
                margin-top: 20%;
            }
        }
    }

    .legal__container {
        padding-top: 200px;
        padding-bottom: 100px;
        &:after {
            content: '';
            display: table;
            clear: both;
        }
        @media screen and ( max-width: $media-tablet) {
            padding-top: 80px;
            padding-bottom: 20px;
        }
    }
    .legal-title {
        float: left;
    }
    .legal-copy {
        width: 80%;
        max-width: 1200px;
        float: right;
        @media screen and ( max-width: $media-tablet) {
            width: 100%;
            margin-top: 40px;
        }
        &__section {
            &:first-child() {
                margin-bottom: 100px;
                @media screen and ( max-width: $media-tablet) {
                    margin-bottom: 40px;
                }
            }
            &:last-child() {
                h3 {
                    margin-bottom: 20px;
                }
            }
            &-item {
                margin-bottom: 40px;
            }
        }
        .link {
            border-bottom: 1px solid $pink;
            line-height: 1;
        }
        .infowrap {
            counter-reset: outer;
            .info>ol {
                counter-increment: outer;
                margin: 0;
                padding: 0;
            }
            ol {
                counter-reset: item;
            }
            ol li {
                display: flex;
                padding-bottom: 30px;

            }
            ol>li:before {
                 
                padding-right: 30px;
                content: counter(outer)"." counters(item, ".")"  ";
                counter-increment: item;
              
            }
            ol>li.newlist::before {
                padding-right: 38px;
                counter-increment: section;
                content: counter(outer) "  ";
                
            }

        }
        .legal__company a,
        .legal__contact a {
            color: $black;
        }
    }
    table.legal-table {
        border: solid 1px black;
        border-collapse: collapse;
        th  {
            border: 1px solid black;
            padding: 15px;
            text-align: left;
        }
        td {
            border: 1px solid black;
            padding: 15px;
            text-align: left;
        }
    }
    .legal-center {
        text-align: center;
    }
}


