@import '../../bootstrap';

@import '../../home-of-innovation/vars';
@import '../../components/common/kxImageLinkBanner';
@import '../../components/home-of-innovation/list';
@import '../../components/home-of-innovation/hoiLinkList';

.Page {}

.KXtras__wrap {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

.KXtras__section {

}

.KXtras__header {
  text-align: center;
  padding-bottom: 0;
  h2 {
    @extend .fz36;
    max-width: 15em;
    margin: 0 auto 1rem;
    line-height: 1.2;
  }
  p {
    @extend .fz24;
    max-width: 35em;
    margin: 0 auto 2rem;
  }
  .KXtras__header_icon {
    width: 5rem;
    height: 5rem;
    margin: 0 auto 1rem;
  }
}

.KXtras__image {
  width: 100%;
  // background: red;
  position: relative;
  // max-width: 1440px;
  // margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  &:before {
    content: '';
    display: block;
    padding-bottom: 34.7%;
    max-height: 500px;
  }
  @media screen and (max-width: $mobile) {
    &:before {
      padding-bottom: 100%;
    }
  }
  .KXtras__image_body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    h2 {
      margin-bottom: 2rem;
      font-size: 2.5em !important;
      line-height: 1.2;
    }
  }

  // variant
  &--arrows {
    .KXtras__image_arrow {
      position: absolute;
      &:before {
        content: '';
        border: 8vw solid white;
        width: 50vw;
        height: 50vw;
        display: block;
        position: absolute;
        transform-origin: top left;
        border-bottom: none;
        border-right: none;
        @media screen and (min-width: $mobile + 1) {
          border-width: 6em;
          width: 45vw;
          height: 45vw;
        }
      }
    }
    .KXtras__image_arrow--left {
      top: 0;
      left: 22.5vw;
      transform: translate(-50%, -50%);
      &:before {
        transform: rotate(-232deg);
        border-color: $saffron;
      }
      @media screen and (min-width: $mobile + 1) {
        left: 20em;
      }
    }
    .KXtras__image_arrow--right {
      bottom: 0;
      right: 22.5vw;
      transform: translate(50%, 50%);
      &:before {
        transform: rotate(-52deg);
        border-color: $teal;
      }
      @media screen and (min-width: $mobile + 1) {
        right: 20em;
      }
    }
  }
}

// Header
.KXtras__section--header {
  display: flex;
  align-items: center;
  justify-content: center;
  // min-height: 400px;
  // max-width: 1440px;
  // margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  &:before {
    content: '';
    display: block;
    padding-top: 52.7%;
  }
  background-image: url('https://images.samsung.com/is/image/samsung/p5/uk/explore/kings-cross/kxtras/KV_MB.png');
  @media screen and (min-width: $mobile + 1) {
    background-image: url('https://images.samsung.com/is/image/samsung/p5/uk/explore/kings-cross/kxtras/KV.png');
    &:before {
      padding-top: 34.7%;
    }
  }
}

// 5G explore
.KXtras__section--explore {
  .KXtras__header {
    padding-top: 0;
    padding-bottom: 0;
    .KXtras__header_icon {
      width: 7rem;
      height: 7rem;
    }
  }
  .KXtras__collect_banner {
    background: $coral;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    h3, h4 {
      margin-bottom: 0.5rem;
    }
    .KXtras__collect_banner_disclaimer {
      font-size: 0.8em;
    }
  }
  .KXtras__explore_items {
    .hoiList__Item {
      margin-bottom: 0;
      position: relative;
      z-index: 1;
      &:hover,
      &:focus {
        .hoiList__ItemImageWrap {
          border: 0;
          filter: none;
        }
      }
    }
    .hoiList__ItemImageWrap {
      border: 0;
      &:before {
        display: none;
      }
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(27,25,26,1);
        border-radius: 1rem;
        display: block;
        position: absolute;
        z-index: -1;
      }
      padding-bottom: 100%;
      background-size: 75%;
      background-position: center center;
    }
    .hoiList__ItemTitle {
      display: block;
      text-align: center;
      padding: 0.5rem 1rem;
      font-size: 1.2rem;

      @media screen and (min-width: $mobile + 1) {
        font-size: 1.75rem;
        padding: 1rem 2.5rem;
      }
    }
    .hoiLinkList__ScrollArrow {
      color: white;
    }
  }
}

// Setup Section
.KXtras__section--setup {
  // max-width: 1440px;
  // margin: 0 auto;
  .btn {
    margin: 0 auto;
  }
  .KXtras__image {
    background-image: url('https://images.samsung.com/is/image/samsung/p5/uk/explore/kings-cross/kxtras/banner_setup-image-mb.png');
    &:before {
      padding-bottom: 48.6%;
    }
    @media screen and (min-width: $mobile + 1) {
      background-image: url('https://images.samsung.com/is/image/samsung/p5/uk/explore/kings-cross/kxtras/banner_setup-image-pc.png');
      &:before {
        padding-bottom: 34.7%;
      }
    }
  }
}

.KXtras__section--goodies {
  .KXtras__goodies_disclaimer {
    @extend .fz16;
    margin-bottom: 0;
  }
  .KXtras__image {
    background-image: url('https://images.samsung.com/is/image/samsung/p5/uk/explore/kings-cross/kxtras/banner_Phone_case_mb.png');
    &:before {
      padding-bottom: 48.6%;
    }
    @media screen and (min-width: $mobile + 1) {
      background-image: url('https://images.samsung.com/is/image/samsung/p5/uk/explore/kings-cross/kxtras/banner_Phone_case_pc.png');
      &:before {
        padding-bottom: 38.5%;
      }
    }
  }
}


.KXtras__carousel {
  // margin: 0 auto;
  // max-width: 1440px;
  .slick-arrow {
    font-size: 0;
    z-index: 1;
  }
  .slick-next {
    right: 1rem;
  }
  .slick-prev {
    left: 1rem;
  }
  .slick-dots {
    position: absolute;
    bottom: 1rem;
    background: rgba(57,55,56,0.7);
    width: auto;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0 0.5rem;
    border-radius: 1rem;

    li {
      margin: 0;
      button:before {
        color: white;
        font-size: 10px;
        line-height: 22px;
      }
    }
  }
}

.KXtras__carousel_item {
  &:before {
    padding-bottom: 136%;
  }
  @media screen and (min-width: $mobile + 1) {
    &:before {
      padding-bottom: 38.5%;
    }
  }
}

.KXtras__carousel_item--samsung-week {
  background-image: url('https://images.samsung.com/is/image/samsung/p5/uk/explore/kings-cross/kxtras/carousel_samsung_week_mb.jpg');
  @media screen and (min-width: $mobile + 1) {
    background-image: url('https://images.samsung.com/is/image/samsung/p5/uk/explore/kings-cross/kxtras/carousel_samsung_week.jpg');
  }
}

.KXtras__carousel_item--living-color {

  .KXtras__image_body {
    justify-content: flex-start;
    padding: 3rem 1rem 1rem 8rem;
    max-width: 38rem;
    .btn {
      margin: 0 auto 0 0;
    }
    h2, p {
      margin-bottom: 1rem;
    }
    @media screen and (max-width: $mobile + 1) {
      text-align: center;
      padding: 2rem 2rem 2rem;
      h2 {
        font-size: 2.2em !important
      }
      .btn {
        margin: 0 auto;
      }
    }
  }
  background-image: url('https://images.samsung.com/is/image/samsung/p5/uk/explore/kings-cross/kxtras/carousel_living_colour_mp.jpg');
  @media screen and (min-width: $mobile + 1) {
    background-image: url('https://images.samsung.com/is/image/samsung/p5/uk/explore/kings-cross/kxtras/carousel_living_colour.jpg');
  }
}


.KXtras__signup {
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  // max-width: 1440px;
  // margin: 0 auto;

  background-size: auto 150px;
  background-position: top center;

  background-image: url('https://images.samsung.com/is/content/samsung/p5/uk/explore/kings-cross/kxtras/icon-signup.svg');
  margin: 2rem 0;

  &:before {
    content: '';
    display: block;
    max-height: 500px;
    padding-bottom: 100%;
  }

  @media screen and (min-width: $mobile + 1) {
    background-size: auto 90%;
    background-position: left 2rem center;
    &:before {
      padding-bottom: 34.7%;
    }
  }

  .KXtras__signup_body {
    margin-right: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 1rem 1rem 2rem;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;

    @media screen and (max-width: $mobile + 1) {
      padding: 1rem;
      font-size: 1.4em;
      text-align: center;
      justify-content: flex-start;
      margin-top: 140px;
      height: auto;
      left: 0;
      .btn {
        margin: 0 auto;
      }
    }

    @media screen and (min-width: $mobile + 1) {
      width: 50%;
      // height: 32vw;
    }

    h3, p {
      margin-bottom: 1rem;
    }
    h3 {
      line-height: 1.2;
    }
    p {}
  }
}
