{{!--
  end of page template footer elements
  will render samsung global footer if not in staging env
--}}

{{#if config.staging}}
  </body>
</html>
{{else}}
<!--#include virtual="/uk/aem/footer-pdp.html"-->
{{/if}}
