<div class="hoiSearch">

  <div class="hoiSearch__header">
    <h3>Search the home of innovation</h3>
    <input class="hoiSearch__input" />

    <div class="hoiSearch__filters">
      <span class="hoiSearch__filter">
        <input type="checkbox" name="content_filter" id="filter_lifestyle" value="lifestyle">
        <label for="filter_lifestyle">Lifestyle</label>
      </span>
      <span class="hoiSearch__filter">
        <input type="checkbox" name="content_filter" id="filter_creativity" value="creativity">
        <label for="filter_creativity">Creativity</label>
      </span>
      <span class="hoiSearch__filter">
        <input type="checkbox" name="content_filter" id="filter_entertainment" value="entertainment">
        <label for="filter_entertainment">Entertainment</label>
      </span>
      <span class="hoiSearch__filter">
        <input type="checkbox" name="content_filter" id="filter_tech" value="tech">
        <label for="filter_tech">Tech</label>
      </span>
    </div>
  </div>

  <div class="hoiSearch__response">
    <div class="hoiSearch__panel  hoiSearch__panel--noinput  hoiSearch__panel_status">
      Please enter a search term
    </div>
    <div class="hoiSearch__panel  hoiSearch__panel--noresults  hoiSearch__panel_status">
      Could not find any results
    </div>
    <div class="hoiSearch__panel  hoiSearch__panel--loading  hoiSearch__panel_status">
      Loading...
    </div>
    <div class="hoiSearch__results_wrap">
      <div class="hoiSearch__panel_status">
        500 results
      </div>
      <div class="hoiSearch__panel  hoiSearch__panel--results">

      </div>
    </div>
  </div>

</div>
