<div class="kxQudiniBooking">

  <!-- SCREEN 1 - CALENDAR -->
  <div class="kxQudiniBooking__screen" id="calendar">
    {{>components/calendar }}
  </div>

  <!-- SCREEN 2 - DEVICE INFO -->
  <form class="kxQudiniBooking__screen section__inner device-info" id="device-info">
		<h3 class="fz50">Tell us a bit about your device</h3>
		<div class="device-info__row">
			<select class="input" id="model-selector">
				<option>Choose Your Model*</option>
			</select>
			<select class="input" id="color-selector">
				<option value="">Choose Device Colour*</option>
			</select>
		</div>
		<div class="device-info__row" id="imei-row">
			<input class="input" type="text" id="imei" placeholder="Device IMEI Number (Optional)" />
			<a href="https://www.samsung.com/uk/support/mobile-devices/how-do-i-find-the-imei-model-number-and-serial-number-for-samsung-galaxy-device/"
				target="_blank" ga-ca="microsite" ga-ac="feature"
				ga-la="kings-cross:tell-us-a-bit-about-your-device_retrieve-your-imei" data-omni-type="microsite"
				data-omni="uk:kings-cross:support:retrieve your imei">Retrieve
				IMEI number</a>
		</div>
    <h4 class="fz20" id="oneToOne-device-notes-header">What do you need help with?* (30 characters minimum length)</h4>
		<textarea class="input" id="device-notes" placeholder="Additional Information (Optional)"></textarea>
	</form>

  <!-- SCREEN 3 - USER DETAILS -->
  <form class="kxQudiniBooking__screen section__inner" id="details">
    <h3 class="details__title fz50">Appointment Details</h3>
    <p id="slot-selected" class="details__time fz24 time-selected">10:00 - 11:30 | Tuesday 09 November 2019 |
      Samsung KX</p>
    <div class="details__form" id="bookingForm">

      <div class="details__fields">
        <input class="input details__input" autocomplete="given-name" placeholder="Name*" id="name"
          type="text" required>
        <input class="input details__input" autocomplete="family-name" placeholder="Surname*" id="surname"
          type="text" required>
        <br>
        <input class="input details__input" name="telephone" placeholder="Telephone*" id="tel" type="tel"
          pattern="^\s*\(?(020[7,8]{1}\)?[ ]?[1-9]{1}[0-9{2}[ ]?[0-9]{4})|(0[1-8]{1}[0-9]{3}\)?[ ]?[0-9]{1}[0-9]{2}[ ]?[0-9]{3})\s*$"
          required>
        <input class="input details__input" name="email" placeholder="Email*" id="email" type="email"
          required>
      </div>

      <div class="details__checkboxes">

        <label class="checkbox__container fz16">
          <input type="checkbox" name="age" id="age" required>I am over 13 years old.*<span
            class="checkbox"></span>
        </label>

        <label class="checkbox__container fz16">
          <input type="checkbox" name="checkbox" id="kx">I would like to receive special offers,
          announcements,
          push notifications and emails about Samsung’s King’s Cross store and related developments from
          Samsung Electronics (UK) Ltd.<span class="checkbox"></span>
        </label>

        <label class="checkbox__container fz16">
          <input type="checkbox" name="checkbox" id="seuk">I would like to receive special offers,
          announcements,
          push notifications and emails about Samsung’s products and services from Samsung Electronics
          (UK) Ltd.<span class="checkbox"></span>
        </label>
      </div>

      <p class="details__disclaimer" id="one-to-one-policy">
        Samsung offers video meeting calls through Zoom so we can assist with your queries. Personal data you provide to us will be processed by Samsung in accordance with our <a href="https://www.samsung.com/uk/info/privacy/" data-omni-type="microsite" data-omni="121 zoom privacy policy" target="_blank">Privacy Policy</a>.
      </p>
      <p class="details__disclaimer">By submitting this form you acknowledge that your personal data will be
        processed in accordance with our <a ga-ca="microsite" ga-ac="feature"
          ga-la="kings-cross:appointment-details_privacy-policy" data-omni-type="microsite"
          data-omni="uk:kings-cross:support:privacy-policy" target="_blank"
          href="https://www.samsung.com/uk/info/privacy/">Privacy Policy.</a></p>

    </div>

  </form>


  <!-- SCREEN 4 - BOOKING CONFIRMATION -->
  <div class="kxQudiniBooking__screen" id="confirmation">

    <div class="section__inner" id="confirmation">
			<div class="booking-line booking-line--top"></div>

			<h3 id="confirmation-title" class="fz50"></h3>

			<p class="time-selected fz24">Time Slot</p>

			<div class="confirmation__reference">
				<p class="fz24">Reference code</p>
				<p class="reference fz50" id="ref"></p>
			</div>

			<p class="confirmation__disclaimer fz16">
				Thanks for booking an appointment at KX. We have sent your booking information to the email provided.
				Please try to ensure you have a back up of any data stored on a device you wish to service.
			</p>

			<div class="booking-line booking-line--bot"></div>
		</div>

  </div>

  <!-- EXTRAS - CLOSE -->
  <div class="kxQudiniBooking__close close"></div>

  <!-- EXTRAS - NAVIGATION -->
  <div class="navigation" id="navigation">
    <button ga-ca="microsite" ga-ac="feature" ga-la="kings-cross:navigation_back" data-omni-type="microsite"
      data-omni="uk:kings-cross:support:navigation:back" class="btn btn--secondary" id="back">BACK</button>
    <button ga-ca="microsite" ga-ac="feature" ga-la="kings-cross:navigation_next" data-omni-type="microsite"
      data-omni="uk:kings-cross:support:navigation:next" class="btn btn--primary btn--primary-notActive"
      id="next">NEXT</button>
  </div>

  <div class="kxQudiniBooking__style">

  </div>

</div>
