<div class="kxShortBanner">
	<div class="kxShortBanner-img_right">
		<img src="https://images.samsung.com/is/image/samsung/assets/uk/explore/kings-cross/slim-banner/kx-banner-oposite-v1.png" alt="">
	</div>
	<div class="kxShortBanner-logo">
		<img src="https://images.samsung.com/is/image/samsung/assets/uk/explore/kings-cross/slim-banner/galaxy-logo.png">
	</div>
    <div class="kxShortBanner-copy">
    	35 years of the GIF. <a href="https://www.samsung.com/uk/explore/kings-cross/creativity/how-to-create-a-gif-using-galaxy-s22-ultra/">Click here</a> to find out more on the Galaxy GIF Project.
	</div>   

	<div class="kxShortBanner-img_left">
		<img src="https://images.samsung.com/is/image/samsung/assets/uk/explore/kings-cross/slim-banner/kx-banner-v1.png">
	</div>   
	<div class="kxShortBanner-logo_right"> 
		<img src="https://images.samsung.com/is/image/samsung/assets/uk/explore/kings-cross/slim-banner/galaxy-logo.png">
	</div>  
</div>