<div class="kxShortBanner">
	<div class="kxShortBanner-img_right">
		<img src="https://p6-eu-author.samsung.com/content/dam/samsung/kx-banner-oposite.png/_jcr_content/renditions/cq5dam.web.1280.1280.png?ch_ck=1647866174000" alt="">
	</div>
	<div class="kxShortBanner-logo">
		<img src="https://p6-eu-author.samsung.com/content/dam/samsung/galaxy-logo.png/_jcr_content/renditions/cq5dam.web.1280.1280.png?ch_ck=1647863694000">
	</div>
    <div class="kxShortBanner-copy">
    	35 years of the GIF. <a href="https://www.samsung.com/uk/explore/kings-cross/creativity/how-to-create-a-gif-using-galaxy-s22-ultra/">Click here</a> to find out more on the Galaxy GIF Project.
	</div>   

	<div class="kxShortBanner-img_left">
		<img src="https://p6-eu-author.samsung.com/content/dam/samsung/kx-banner.png/_jcr_content/renditions/cq5dam.web.1280.1280.png?ch_ck=1647863694000">
	</div>   
	<div class="kxShortBanner-logo_right">
		<img src="https://p6-eu-author.samsung.com/content/dam/samsung/galaxy-logo.png/_jcr_content/renditions/cq5dam.web.1280.1280.png?ch_ck=1647863694000">
	</div>  
</div>