<div
  class="
    kxSupportLinks
    {{#if noMargin}}kxSupportLinks--no-margin{{/if}}
  ">
  {{#if title}}
    <h2 class="kxSupportLinks__title fz50">{{title}}</h2>
  {{/if}}
  <div class="kxSupportLinks__tiles">

    <div class="kxSupportLinks__tile">
      <div class="kxSupportLinks__tile_image">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 121.77 99.21"><title>One to One</title><defs><style>.a-cls-1{fill:#ff664c;}.a-cls-2{fill:#ffb546;}.a-cls-3{fill:#bf9ee1;}.a-cls-4{fill:#00b3e2;}</style></defs><title>002-chat [Recovered]</title><g id="Layer_2" data-name="Layer 2"><path class="a-cls-1" d="M89.8.28A32,32,0,0,0,67.17,54.84a4.84,4.84,0,0,1,0,6.85L64.7,64.1,89,64.21a34.48,34.48,0,0,0,13.38-2.64,31.69,31.69,0,0,0,17-17.23,31.54,31.54,0,0,0,2.37-12.09A32.06,32.06,0,0,0,89.8.28Zm17,46.19H73a2.83,2.83,0,1,1,0-5.65h33.88a2.83,2.83,0,0,1,0,5.65Zm0-11.3H73a2.82,2.82,0,1,1,0-5.64h33.88a2.82,2.82,0,0,1,0,5.64Zm0-11.29H73a2.83,2.83,0,1,1,0-5.65h33.88a2.83,2.83,0,0,1,0,5.65Z"/><path class="a-cls-2" d="M18.72,26.93a28.71,28.71,0,0,1-9.1,9.15v8.3A17.6,17.6,0,0,0,27.2,62h0A17.6,17.6,0,0,0,44.78,44.38V36.32C29.2,35.37,21.82,30.13,18.72,26.93Zm2.51,18.5a1.75,1.75,0,1,1-3.49,0V41.29h0a1.75,1.75,0,1,1,3.49,0Zm15.07,0a1.75,1.75,0,0,1-3.5,0V41.29a1.75,1.75,0,0,1,3.5,0Z"/><path class="a-cls-2" d="M23.49,66.24V69.8A3.22,3.22,0,0,0,27,72.69a3.18,3.18,0,0,0,3.34-3V66.24A27.63,27.63,0,0,1,23.49,66.24Z"/><path class="a-cls-3" d="M52.88,30.07c2.63-7.95.79-13.28-5.77-16.79-6.87-3.66-15.6-3.23-20.19-2.65a32.19,32.19,0,0,0-9.28,2.52,1.73,1.73,0,0,1-1.49,0A12.53,12.53,0,0,0,10.83,12a10.37,10.37,0,0,0-4.77,1.07C2.74,14.81.83,17.14.23,20.15c-.53,2.62-.14,5.77,1.23,9.92a30.54,30.54,0,0,0,4.61,7.44V34.16a1.75,1.75,0,0,1,.82-1.48,27.83,27.83,0,0,0,8-7.25,11.79,11.79,0,0,0,1.73-3.27,1.77,1.77,0,0,1,.9-1.12,1.74,1.74,0,0,1,2.34.76A15.26,15.26,0,0,0,25,26.48c3.63,2.23,10.32,5,21.56,5.43a1.74,1.74,0,0,1,1.68,1.74v3.86A30.42,30.42,0,0,0,52.88,30.07Z"/><path class="a-cls-4" d="M47,89.59h0c0-7.34-5.32-13.89-13.28-16.39a7,7,0,0,1-4,3.44C26,78,21.62,76.47,20,73.19,12.35,75.58,7.1,81.77,6.77,88.84a.88.88,0,0,1,0,.17v9.54H47Z"/></g></svg>
      </div>
      <h4 class="kxSupportLinks__tile_heading fz30">Virtual One to One</h4>
      <p class="kxSupportLinks__tile_desc fz20">Arrange a virtual video support appointment with one of our Samsung Experts</p>
      {{#if showButtons}}
        <button ga-ca="microsite" ga-ac="feature" ga-la="kings-cross:one-to-one-tutorials_book-now"
          data-omni-type="microsite" data-omni="uk:kings-cross:support:one-to-one-tutorial:book-now"
          class="button btn btn--primary btn--primary--coral" id="btn-oneToOne">BOOK NOW</button>
      {{/if}}
      {{#if showLinks}}
        <a
          ga-ca="microsite" ga-ac="feature" ga-la="kings-cross:one-to-one-tutorials_link"
          data-omni-type="microsite" data-omni="uk:kings-cross:one-to-one-tutorial:link"
          class="button btn btn--primary btn--primary--coral"
          href="/uk/explore/kings-cross/support">
          BOOK NOW
        </a>
      {{/if}}
    </div>

    <div class="kxSupportLinks__tile">
      <div class="kxSupportLinks__tile_image">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.21 99.21"><title>Repair</title><defs><style>.b-cls-1{fill:#ff664c;}.b-cls-2{fill:#ffb546;}</style></defs><title>002-chat [Recovered]</title><g id="Layer_2" data-name="Layer 2"><path id="Path_593" data-name="Path 593" class="b-cls-1" d="M97,42.35a4.51,4.51,0,0,0-3.71-3.06q-3.27-.42-6.54-.65a4.51,4.51,0,0,1-3.85-2.8.08.08,0,0,1,0-.05,4.52,4.52,0,0,1,.74-4.71c1.44-1.64,2.82-3.34,4.16-5.08a4.46,4.46,0,0,0,.46-4.78A23.24,23.24,0,0,0,78,11a4.47,4.47,0,0,0-4.78.46c-1.74,1.34-3.44,2.72-5.08,4.16a4.52,4.52,0,0,1-4.71.74l-.05,0a4.51,4.51,0,0,1-2.8-3.85q-.23-3.27-.65-6.54A4.48,4.48,0,0,0,56.86,2.2a23.39,23.39,0,0,0-14.52,0,4.47,4.47,0,0,0-3.05,3.71q-.42,3.27-.65,6.53a4.53,4.53,0,0,1-2.8,3.86l-.05,0a4.52,4.52,0,0,1-4.71-.74c-1.65-1.44-3.34-2.82-5.08-4.17A4.52,4.52,0,0,0,21.21,11,23.37,23.37,0,0,0,11,21.21,4.48,4.48,0,0,0,11.42,26c1.34,1.74,2.72,3.43,4.16,5.08a4.52,4.52,0,0,1,.74,4.71s0,0,0,.05a4.51,4.51,0,0,1-3.85,2.8c-2.18.15-4.36.36-6.54.65A4.48,4.48,0,0,0,2.2,42.34a23.39,23.39,0,0,0,0,14.52,4.48,4.48,0,0,0,3.71,3c2.18.29,4.36.5,6.54.65a4.53,4.53,0,0,1,3.85,2.8l0,0a4.52,4.52,0,0,1-.74,4.71c-1.44,1.65-2.82,3.34-4.16,5.08A4.48,4.48,0,0,0,11,78,23.29,23.29,0,0,0,21.21,88.26,4.48,4.48,0,0,0,26,87.8q2.61-2,5.08-4.16a4.5,4.5,0,0,1,4.71-.75l.05,0a4.52,4.52,0,0,1,2.8,3.86c.15,2.18.36,4.35.65,6.53A4.46,4.46,0,0,0,42.35,97a23.22,23.22,0,0,0,14.51,0,4.49,4.49,0,0,0,3.06-3.71c.28-2.18.49-4.35.64-6.53a4.54,4.54,0,0,1,2.8-3.86l.06,0a4.49,4.49,0,0,1,4.7.75q2.47,2.14,5.08,4.16a4.48,4.48,0,0,0,4.79.46A23.33,23.33,0,0,0,88.26,78a4.49,4.49,0,0,0-.46-4.78c-1.34-1.74-2.73-3.44-4.16-5.08a4.5,4.5,0,0,1-.75-4.71s0,0,0-.05a4.51,4.51,0,0,1,3.86-2.8q3.26-.23,6.53-.65A4.46,4.46,0,0,0,97,56.86a23.22,23.22,0,0,0,0-14.51Zm-47.4,37.7A30.44,30.44,0,1,1,80.05,49.6h0A30.45,30.45,0,0,1,49.6,80.05Z"/><path class="b-cls-2" d="M69.53,54.63s1.36-13.21-4.89-23.76c0,0-1.75-2.34-7.22-2.34,0,0,1.95,9.79,0,15.83a20.52,20.52,0,0,1-7.81,1.9,20.47,20.47,0,0,1-7.81-1.9c-2-6,0-15.83,0-15.83-5.47,0-7.23,2.34-7.23,2.34-6.25,10.55-4.88,23.76-4.88,23.76,4.49,4.49,12.11,7.68,12.11,7.68V72.87a26.44,26.44,0,0,0,15.62,0V62.31s7.61-3.19,12.1-7.68Z"/></g></svg>
      </div>
      <h4 class="kxSupportLinks__tile_heading fz30">Repair Device</h4>
      <p class="kxSupportLinks__tile_desc fz20">Have your device repaired by one of our qualified technicians.</p>
      {{#if showButtons}}
        <button ga-ca="microsite" ga-ac="feature" ga-la="kings-cross:repair_book-now"
          data-omni-type="microsite" data-omni="uk:kings-cross:support:repair:book-now"
          class="button btn btn--primary btn--primary--saffron" id="btn-repair">BOOK NOW</button>
      {{/if}}
      {{#if showLinks}}
        <a
          ga-ca="microsite" ga-ac="feature" ga-la="kings-cross:repair_link"
          data-omni-type="microsite" data-omni="uk:kings-cross:repair:link"
          class="button btn btn--primary btn--primary--saffron"
          href="/uk/explore/kings-cross/support">
          BOOK NOW
        </a>
      {{/if}}
    </div>

    <div class="kxSupportLinks__tile">
      <div class="kxSupportLinks__tile_image">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 142.773 132"><title>General Support</title><g transform="translate(-1039.38 -2763)"><rect width="60" height="102" rx="5" transform="translate(1077 2793)" fill="#57d54e"/><rect width="52.258" height="92.871" rx="3" transform="translate(1080.5 2797.5)" fill="#fff" stroke="#000" stroke-width="4"/><ellipse cx="2.467" cy="2.467" rx="2.467" ry="2.467" transform="translate(1048.997 2822.064)" fill="#fff"/><g transform="translate(1039.38 2787)"><path d="M52.179,38.9A2.178,2.178,0,0,1,50,36.717V30.179a2.179,2.179,0,0,1,4.358,0v6.537A2.178,2.178,0,0,1,52.179,38.9Z" transform="translate(-39.104 -28)" fill="#fff"/><path d="M52.179,66.9A2.178,2.178,0,0,1,50,64.717V58.179a2.179,2.179,0,0,1,4.358,0v6.537A2.178,2.178,0,0,1,52.179,66.9Z" transform="translate(-39.104 -40.746)" fill="#fff"/><path d="M38.717,52.358H32.179a2.179,2.179,0,1,1,0-4.358h6.538a2.179,2.179,0,1,1,0,4.358Z" transform="translate(-30 -37.104)" fill="#fff"/><path d="M66.717,52.358H60.179a2.179,2.179,0,1,1,0-4.358h6.538a2.179,2.179,0,1,1,0,4.358Z" transform="translate(-42.746 -37.104)" fill="#fff"/></g><g transform="translate(1169 2767)"><g transform="translate(0 0)"><path d="M2.1,13.153A2.411,2.411,0,0,1,0,10.522V2.631A2.411,2.411,0,0,1,2.1,0a2.411,2.411,0,0,1,2.1,2.631v7.892A2.411,2.411,0,0,1,2.1,13.153Z" transform="translate(13.153 4.472) rotate(90)" fill="#fff"/><path d="M2.1,13.153A2.411,2.411,0,0,1,0,10.522V2.631A2.411,2.411,0,0,1,2.1,0a2.411,2.411,0,0,1,2.1,2.631v7.892A2.411,2.411,0,0,1,2.1,13.153Z" transform="translate(13.153 4.472) rotate(90)" fill="#fff"/><path d="M8.418,4.209H2.1A2.1,2.1,0,0,1,2.1,0H8.418a2.1,2.1,0,0,1,0,4.209Z" transform="translate(8.681) rotate(90)" fill="#fff"/><path d="M8.418,4.209H2.1A2.1,2.1,0,0,1,2.1,0H8.418a2.1,2.1,0,0,1,0,4.209Z" transform="translate(8.681 2.631) rotate(90)" fill="#fff"/></g></g><ellipse cx="2.383" cy="2.383" rx="2.383" ry="2.383" transform="translate(1173.148 2788.111)" fill="#fff"/><g transform="translate(1095 2767)" fill="#ffbc4b" stroke="#000" stroke-width="4"><rect width="59" height="111" rx="7" stroke="none"/><rect x="-2" y="-2" width="63" height="115" rx="9" fill="none"/></g><g transform="translate(1098 2771)"><g transform="translate(0 0)" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="7"><rect width="20" height="34" rx="5" stroke="none"/><rect x="3.5" y="3.5" width="13" height="27" rx="1.5" fill="none"/></g><circle cx="3.5" cy="3.5" r="3.5" transform="translate(3 2)" fill="#fff"/><circle cx="3.5" cy="3.5" r="3.5" transform="translate(3 14)" fill="#fff"/><circle cx="2.5" cy="2.5" r="2.5" transform="translate(4 25)" fill="#fff"/><circle cx="2" cy="2" r="2" transform="translate(14 4)" fill="#fff"/><rect width="2" height="7" rx="1" transform="translate(15 14)" fill="#fff"/></g></g></svg>
      </div>
      <h4 class="kxSupportLinks__tile_heading fz30">Exclusive Set Up Service</h4>
      <p class="kxSupportLinks__tile_desc fz20">Skip the stress and let our experts set up your new device so you’re ready to go.</p>
      {{#if showButtons}}
        <button ga-ca="microsite" ga-ac="feature" ga-la="kings-cross:general-support_book-now"
          data-omni-type="microsite" data-omni="uk:kings-cross:support:general-support:book-now"
          class="button btn btn--primary btn--primary--cyan" id="btn-support">BOOK NOW</button>
      {{/if}}
      {{#if showLinks}}
        <a
          ga-ca="microsite" ga-ac="feature" ga-la="kings-cross:general-support_link"
          data-omni-type="microsite" data-omni="uk:kings-cross:general-support:link"
          class="button btn btn--primary btn--primary--cyan"
          href="/uk/explore/kings-cross/support">
          BOOK NOW
        </a>
      {{/if}}
    </div>


  </div>
</div>
