<div class="kxSurvey">

  <div class="kxSurvey__prompt">
    <h4 class="fz24">KX Survey</h4>
    <p class="fz18">Would you like to complete a survey?</p>
    <div class="kxSurvey__prompt_buttons">
      <div id="kxSurvey__prompt--yes" class="btn btn--primary">Yes</div>
      <div id="kxSurvey__prompt--no" class="btn btn--primary">No</div>
    </div>
  </div>

  <div class="kxSurvey__modal">
    <div class="kxSurvey__close"></div>
    <div class="kxSurvey__target">
      <iframe
        src="https://docs.google.com/forms/d/e/{{survey_id}}/viewform?embedded=true"
        frameborder="0"
        marginheight="0"
        marginwidth="0">
        Loading…
      </iframe>
    </div>
  </div>

</div>
