<section class="section slider">
  <div class="section__inner">
    <div class="slider-discover slider-NAS" id={{slider}}>
      {{#each config.discover.sliderNAS }}
        <div class="slider-discover__slide">
          <img src="{{ this.image }}" class="discover__img">
        </div>
      {{/each}}
    </div>
  </div>
</section>
