@import '../../../bootstrap';

@import "../../../mixins/clearfix";
@import "../../../mixins/typography";
@import "../../../mixins/vw";

@import '../../../home-of-innovation/vars';
@import '../../../components/home-of-innovation/content';

.solveForTomorrowPage {

  @import '../../../components/home-of-innovation/typography';
  @import '../../../components/home-of-innovation/hoiKv';
  @import '../../../components/home-of-innovation/hoiShare';
  @import '../../../components/home-of-innovation/hoiHeadline';
  @import '../../../components/home-of-innovation/hoiWrapper';
  @import '../../../components/home-of-innovation/hoiParagraphs';
  @import '../../../components/home-of-innovation/hoiAddToCalendar';
  // @import '../../../components/home-of-innovation/hoiImagePanelLinks';
  // @import '../../../components/home-of-innovation/hoiBambuser';
  @import '../../../components/home-of-innovation/hoiBreadcrumbs';
  // @import '../../../components/common/kxCountdown';
}


/* Probably move to twitch component */
#twitch-embed-target {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  iframe {
    position: absolute;
  }
}

.solveForTomorrowPage {

  .hoiWrapper {
    a:not(.btn) {
      color: #5ADC52;
    }
  }

  .hoiBreadcrumbs {
    height: 50px;
    align-items: center;
    display: flex;
    .hoiBreadcrumbs__Link {
      color: white !important;
      letter-spacing: 1px;
      margin-bottom: 0;
      white-space: nowrap;
    }
  }

  .hoiKV {
    overflow: hidden;
  }

  .hoiKv__Media {
    transition: height 0.4s ease-in-out;
    height: calc(100vw * 0.37878);
    will-change: height;
    &:after {
      display: none;
    }
    &[active] {
      height: calc(100vh - 100px); // minus nav height + breadcrumbs height
      @media screen and (max-width: $mobile) {
        height: calc(60vh - 100px); // minus nav height + breadcrumbs height
      }
      .hoiKv__MediaImage {
        pointer-events: none;
        opacity: 0;
      }
    }

    @media screen and (max-width: $mobile) {
      margin-bottom: 3rem;
    }
  }

  .hoiKv__MediaImage {
    z-index: 1;
    background-color: black;
    position: relative;
    transition: opacity 0.4s ease-in-out;
    video {
      width: 100%;
      height: 100%;
    }
  }

  .hoiKV__UI {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 1rem;
    @media screen and (max-width: $mobile) {
      top: 4rem;
    }
  }

  .discordButton {
    display: inline-block;
    height: 3rem;
    padding: 0.75rem 2rem;
    border-radius: 1.5rem;
    border: 1px solid #5ADC52;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: #5ADC52;
    }
    svg {
      height: 100%;
      width: auto;
    }
    @media screen and (max-width: $mobile) {
      height: 2rem;
      padding: 0.5rem 2rem;
    }
  }

  .hoiKv {
    .btn {
      transition: background-color 0.2s ease-in-out;
      border-color: #5ADC52;
      &:hover {
        background-color: #5ADC52;
      }
    }
  }

}


// misc

strong {
  font-size: 1em !important;
}
