@import '../../bootstrap';

.form {

  .modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 0 5rem;
    display: none;

    #form-target {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    iframe {
      width: 100%;
      height: 100vh;
    }

    #close {
      position: absolute;
      top: 1rem;
      left: 1rem;
      font-size: 1rem;
      z-index: 10000;
    }
  }

  .modal[active],
  .prompt[active] {
    display: block;
  }

  .prompt {
    width: 300px;
    height: 300px;
    background: #222;
    border: 1px solid #eee;
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    button {
      width: 100%;
    }

  }

  button {
    height: 40px;
    font-size: 1rem;
    background: white;
    color: black;
    margin-top: 0.5rem;
    padding: 0.5rem;
  }

}
