{{#each components}}

  {{#if_equals this.type 'kv'}}
    {{> home-of-innovation/hoiKv this }}
  {{/if_equals}}

  {{#if_equals this.type 'share'}}
    {{> home-of-innovation/hoiShare this }}
  {{/if_equals}}

  {{#if_equals this.type 'buttons'}}
    {{> home-of-innovation/hoiButtons this}}
  {{/if_equals}}

  {{#if_equals this.type 'headline'}}
		{{> home-of-innovation/hoiHeadline this }}
	{{/if_equals}}

  {{#if_equals this.type 'wrapper'}}
    {{> home-of-innovation/hoiWrapper this}}
  {{/if_equals}}

  {{#if_equals this.type 'paragraphs'}}
		{{> home-of-innovation/hoiParagraphs this }}
	{{/if_equals}}

  {{#if_equals this.type 'spacer'}}
		{{> home-of-innovation/hoiSpacer this }}
	{{/if_equals}}

  {{#if_equals this.type 'gallery'}}
    {{> home-of-innovation/hoiGallery this }}
  {{/if_equals}}

  {{#if_equals this.type 'group-land'}}
    {{> home-of-innovation/hoiGroupLand this }}
  {{/if_equals}}

  {{#if_equals this.type 'group-land-id'}}
    {{> home-of-innovation/hoiGroupLand this }}
  {{/if_equals}}

  {{#if_equals this.type 'youtube'}}
    {{> home-of-innovation/hoiMediaYoutube this wrap=true}}
  {{/if_equals}}

  {{#if_equals this.type 'youtube-live-chat'}}
    {{> home-of-innovation/hoiYoutubeLiveChat this}}
  {{/if_equals}}

  {{#if_equals this.type 'video'}}
    {{> home-of-innovation/hoiMediaVideo this wrap=true}}
  {{/if_equals}}

  {{#if_equals this.type 'image'}}
    {{> home-of-innovation/hoiMediaImage this}}
  {{/if_equals}}

  {{#if_equals this.type 'iframe'}}
    {{> home-of-innovation/hoiIframe this}}
  {{/if_equals}}

  {{#if_equals this.type 'image-panel-links'}}
    {{> home-of-innovation/hoiImagePanelLinks this}}
  {{/if_equals}}

  {{#if_equals this.type 'image-banner-link'}}
    {{> home-of-innovation/hoiImageBannerLink this}}
  {{/if_equals}}

  {{#if_equals this.type 'icon-links'}}
    {{> home-of-innovation/hoiIconLinks this}}
  {{/if_equals}}

  {{#if_equals this.type 'html-list'}}
    {{> home-of-innovation/hoiHtmlList this}}
  {{/if_equals}}

  {{#if_equals this.type 'class-container'}}
    {{> home-of-innovation/hoiClassContainer this}}
  {{/if_equals}}

  {{!--
    Group, Related & Link list
    All the same components, different method of populating
   --}}

  {{#if_equals this.type 'group'}}
    {{#if (gt this.items.length 0)}}
      {{> home-of-innovation/hoiLinkList this }}
    {{/if}}
  {{/if_equals}}

  {{#if_equals this.type 'related' }}
  	{{> home-of-innovation/hoiLinkList this }}
  {{/if_equals}}

  {{#if_equals this.type 'link-list' }}
  	{{> home-of-innovation/hoiLinkList this }}
  {{/if_equals}}

  {{#if_equals this.type 'link-list-id' }}
    {{> home-of-innovation/hoiLinkList this }}
  {{/if_equals}}

  {{#if_equals this.type 'link-list-group' }}
    {{> home-of-innovation/hoiLinkList this }}
  {{/if_equals}}

  {{#if_equals this.type 'search' }}
    {{> components/common/kxSearch }}
  {{/if_equals}}

  {{!--
    Graduate Fashion Week Special Component
  --}}

  {{#if_equals this.type 'gfw-gallery'}}
    {{> home-of-innovation/hoiGallery (gfw-filter this) }}
  {{/if_equals}}


  {{!--
    Other
  --}}

  {{#if_equals this.type 'css-snippet'}}
  <style>
  {{{this.content}}}
  </style>
  {{/if_equals}}

  {{#if_equals this.type 'hoi-cards'}}
    <div class="hoiCards__hoiContainer">
      {{> home-of-innovation/hoiHeadline level="3" copy="Explore" }}
      {{> components/common/hoiCards style="hoi" current_page=this.current_page}}
    </div>
  {{/if_equals}}



{{/each}}
