<div class="hoiContentFindOutMore">

	<button class="hoiContentFindOutMore__Button">Find out more</button>

	<div class="hoiContentFindOutMore__Items">
		<ul class="hoiContentFindOutMore__List">
			{{#each findoutmore }}
				{{!-- {{#if @index }}&nbsp;|&nbsp;{{/if}} --}}
				<li class="hoiContentFindOutMore__ListItem">
					<a class="hoiContentFindOutMore__Anchor" href="/{{ ../site }}/{{ ../subfolder }}/{{ this.url }}">{{ this.title }}</a>
				</li>
			{{/each}}
		</ul>

	</div>
</div>
