<div class="contentFinfOutMore">

	<button class="contentFinfOutMoreButton">Find out more</button>

	<div class="contentFinfOutMoreItems">
		<ul class="contentFinfOutMoreList">
			{{#each findoutmore }}
				{{!-- {{#if @index }}&nbsp;|&nbsp;{{/if}} --}}
				<li class="contentFinfOutMoreList-item">
					<a class="contentFinfOutMoreAnchor" href="/{{ ../site }}/{{ ../subfolder }}/{{ this.url }}">{{ this.title }}</a>
				</li>
			{{/each}}
		</ul>
		
	</div>
</div>