<div
  class="hoiGroupLand__Container"
  {{#if dynamic}}
    dynamic="{{dynamic}}"
    dynamic-target
  {{/if}}
  >

  {{#if dynamic}}
    <div class="hoiGroupLand__Loader"></div>
  {{ else }}
    {{> home-of-innovation/partials/groupLandLayout items=items}}
  {{/if}}
</div>
