
<div
  class="hoiLinkList
  {{#if style}}
    {{#if style.scroll}}hoiLinkList--scroll{{/if}}
    {{#if style.feature}}hoiLinkList--feature{{/if}}
    {{#if style.size}}hoiLinkList--size-{{style.size}}{{/if}}
    {{#if style.hideIcon}}hoiLinkList--hideIcon{{/if}}
  {{/if}}
  "
  {{#if dynamic}}dynamic="{{dynamic}}"{{/if}}
  >

  {{#if this.title}}
    {{> home-of-innovation/hoiHeadline copy=this.title level='3' link=this.title_link}}
  {{/if}}

  <a class="hoiLinkList__ScrollArrow  hoiLinkList__ScrollArrow--left"></a>
  <a class="hoiLinkList__ScrollArrow  hoiLinkList__ScrollArrow--right"></a>

  <div
    class="hoiList hoiList--grid-4"
    {{#if dynamic}}dynamic-target {{/if}}
    >

    {{#if dynamic}}

    {{else}}

      {{#each items}}
        {{> home-of-innovation/partials/listItem}}
      {{/each}}

      {{#if (eq style.scroll true)}}
      {{else}}
        {{#spacerElements items 4}}
          {{> home-of-innovation/partials/listItemSpacer}}
        {{/spacerElements}}
      {{/if}}

    {{/if}}


  </div>

</div>
