{{#if wrap}}
<div class="hoiMedia__Wrap">
{{/if}}

  <div class="hoiMedia hoiMedia--youtube {{class}}"
    data-youtube-embed-type="{{embedType}}"
    data-youtube-id="{{content}}"></div>

{{#if wrap}}
</div>
{{/if}}
