{{#if wrap}}
<div class="hoiMedia__Wrap">
{{/if}}

  <video
    class="hoiMedia hoiMedia--video {{class}}"
    src="{{content}}"
    poster="{{poster}}"
    playsinline
    {{#if loop}}
      loop
    {{/if}}
    {{#if autoplay}}
      autoplay muted
    {{/if}}
    {{#if_defined controls }}
      {{#if controls}}
        controls
      {{/if}}
    {{else}}
      controls
    {{/if_defined}}
  >
  </video>

{{#if wrap}}
</div>
{{/if}}
