<div class="hoiMedia__State"
  {{#if poster}}
    style="background-image:url({{poster}})"
  {{/if}}
  >

  <div class="hoiMedia__StateIcon  hoiMedia__StateIcon--load"></div>

  <div class="hoiMedia__StateIcon  hoiMedia__StateIcon--play" role="button" aria-label="Play Video">
    {{>svg/play}}
  </div>

</div>
