<div class="hoiParagraphs
  {{#if this.style}}
    {{#if this.style.align}}
      hoiParagraphs--align-{{ this.style.align }}
    {{/if}}
    {{#if this.style.large}}
      hoiParagraphs--large
    {{/if}}
    {{#if this.style.small}}
      hoiParagraphs--small
    {{/if}}
  {{/if}}
">
	{{#each text}}
		<p>{{{ addInlineLinkTracking this @root.title ../manualTitle }}}</p>
	{{/each}}
</div>
