<div class="hoiShare">

  <a class="hoiShare__Link" id="twitter" href="#" target="_blank">
    {{> svg/twitter }}
  </a>

  <a class="hoiShare__Link" id="facebook" href="#" target="_blank">
    {{> svg/facebook }}
  </a>

  <button class="hoiShare__Link" id="share" href="#" target="_blank">
    {{> svg/share }}
  </button>

  <p class="hoiShare__Feedback">
    Link copied to clipboard
  </p>

</div>
