<div class="hoiWrapper
  {{#if this.style}}
    {{#if this.style.align}}
      hoiWrapper--align-{{ this.style.align }}
    {{/if}}

    {{#if this.style.full}}
      hoiWrapper--full
    {{/if}}
  {{/if}}
  ">

  {{> home-of-innovation/components this }}

</div>
