<div
  class="hoiYoutubeLiveChat"
  data-youtube-id="{{content}}">

  <div class="hoiYoutubeLiveChat__embed"></div>

  <div class="hoiYoutubeLiveChat__mobile">

    <div class="hoiYoutubeLiveChat__mobile_cover">

      <a
        show-instructions
        class="btn btn--primary btn--primary--coral">
        Live Chat on Mobile
      </a>

    </div>


    <div class="hoiYoutubeLiveChat__mobile_instructions">

      <h3>Live Chat in the YouTube App</h3>
      <p>
        You can live chat with this stream on the YouTube mobile app.
      </p>

      <h4>Instructions</h4>
      <p>
        If you do not have the YouTube mobile app, please download it first:
      </p>

      <a
        download-app
        class="btn btn--primary btn--primary--coral">
        Download YouTube App
      </a>

      <p>
        If you have the YouTube app installed, click below to watch and use live chat
      </p>

      <a
        href="vnd.youtube://{{content}}"
        class="btn btn--primary btn--primary--coral">
        Live Chat in YouTube App
      </a>

    </div>

  </div>


</div>
