
/*=============================================
=            SingleEvent            =
=============================================*/

.single-event {

	* {
		color: $white;
	}

	.event {
		&__header {

		}

		&__img {
			width: 100%;
			height: 650px;
			overflow: hidden;

			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;

			@media screen and ( max-width: $desktop ) {
				height: get-desktop-vw(650);
			}

			@media screen and ( max-width: $mobile ) {
				height: get-mobile-vw(250);
			}

			img {
				width: 100%;
			}
		}

		&__content {
			&>div {
				display: flex;
				justify-content: space-between;
			}


			.tile-desc {
				width: 100%;
				max-width: 500px;
				display: inline-block;
			}

		}
	}

}

/*=====  End of SingleEvent  ======*/

