/*=============================================
=            SingleEvent            =
=============================================*/
.event__content {
  padding-bottom: 0 !important;
  padding-top: 20px;
  @media screen and (max-width: $desktop) {
    padding-top: get-desktop-vw(20);
  }
  @media screen and (max-width: $mobile) {
    padding-top: get-mobile-vw(10);
  }

  .section__inner {
    padding-bottom: 0px !important;
    .event__section_detail {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}
.single-event {
  * {
    color: $white;
  }

  .event {
    &__section {
      flex-shrink: 0;
      @media screen and (max-width: $mobile) {
        width: 100%;
      }
    }
    &__header {
      display: none;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 40px;
      &__buttons {
        display: flex;
        flex-direction: column;
        @media screen and (max-width: $mobile) {
          display: none;
          button:last-of-type {
            margin-top: get-mobile-vw(4);
          }
        }
      }

      @media screen and (max-width: $mobile) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column-reverse;
        .event__header-title {
          margin-bottom: get-mobile-vw(8);
        }
      }

      &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        // @media screen and (max-width: $mobile) {
        //   margin-bottom: 17px;
        // }

        .action-btn {
          display: none;
          @media screen and (max-width: $mobile) {
            display: block;
          }
        }

        &__left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          @media screen and (max-width: $mobile) {
            height: 100%;
            justify-content: flex-start;
          }
          .action-capacity {
            display: none;
            @media screen and (max-width: $mobile) {
              display: block;
              font-size: em(16);
            }
          }
        }
      }

      &-date {
        font-size: em(20);
        font-weight: bold;
        @media screen and (max-width: $mobile) {
          font-size: em(20);
          &:last-of-type {
            display: none;
          }
        }
      }

      &-sponsor,
      .event__header__top {
        img {
          height: 60px;
          width: auto;
          @media screen and (max-width: $desktop) {
            height: get-desktop-vw(60);
          }
          @media screen and (max-width: $mobile) {
            height: get-mobile-vw(60);
          }
        }
      }

      &-title {
        font-size: em(50);
        line-height: 1.2;
        // margin-top: 10px;
        @media screen and (max-width: $mobile) {
          font-size: em(25);
          margin-top: 0;
          // &:last-of-type {
          //   display: none;
          // }
        }
      }
    }

    &__img {
      width: 100%;
      height: 450px;
      overflow: hidden;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      @media screen and (max-width: $mobile) {
        height: get-mobile-vw(250);
      }

      img {
        width: 100%;
      }
    }

    &__content {
      & > div {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @media screen and (max-width: $mobile) {
          align-items: center;
          justify-content: center;
        }
      }

      .tile_container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        flex-basis: 75%;
        @media screen and (max-width: $mobile) {
          flex-basis: 100%;

          .event__header-title {
            display: none;
          }
        }
      }

      .event_details {
        text-align: right;
        @media screen and (max-width: $mobile) {
          display: none;
        }

        .event__header-date {
          margin-top: 0px;
        }

        .event__header-sponsor ~ .event__header-date {
          margin-top: 30px;

          @media screen and (max-width: $desktop) {
            margin-top: calc(#{em(36)} + #{get-desktop-vw(40)} - #{get-desktop-vw(60)});
          }
          @media screen and (max-width: $mobile) {
            margin-top: 0;
          }
        }
      }

      .tile-desc {
        width: 100%;
        display: inline-block;
        font-size: em(20);
        font-weight: 400;
        // margin-top: 8%;
        margin-top: 40px;
        @media screen and (max-width: $desktop) {
          margin-top: get-desktop-vw(40);
        }
        @media screen and (max-width: $mobile) {
          margin-top: 0;
        }

        &--long {
          margin-top: 15px;
          font-size: em(20);
          font-weight: 400;
          a {
            font-size: inherit;
            font-weight: 400;
            text-decoration: underline;
          }
        }
      }

      .action {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 40px;
        margin-bottom: 80px;
        // justify-content: space-around;
        // justify-content: space-evenly;
        // flex-direction: column;

        .action-btn {
          display: block;

          &:nth-of-type(2), &.changeTime {
            margin: 0 20px;
          }
        }

        &-date {
          font-size: em(25);
          font-weight: 700;
          margin-bottom: 15px;
          @media screen and (max-width: $mobile) {
            display: none;
          }
        }

        &-capacity {
          font-size: em(16);
          font-weight: 400;
          // margin-bottom: 20px;
          // margin-right: 10px;
          @media screen and (max-width: $mobile) {
            display: none;
          }
          &__container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 20px;
          }
        }
        &-crucial {
          font-size: em(15);
          font-weight: 400;
          max-width: 15em;
          text-align: right;
          margin-bottom: 15px;
        }
      }
      .share {
        display: flex;
        align-items: center;
        // align-items: flex-end;
        // justify-content: space-around;
        // justify-content: space-evenly;
        justify-content: center;
        flex-direction: column;
        margin-left: auto;
        padding-top: 18px;

        // padding-top: 10px;

        // padding-bottom: 50px;

        @media screen and (max-width: $desktop) {
          padding-top: get-desktop-vw(16);
        }

        @media screen and (max-width: $mobile) {
          align-items: center;
          padding-top: get-mobile-vw(12);
        }

        &__social {
          opacity: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 24px;
          width: get-desktop-vw(150);
          transition: opacity 0.4s;

          @media screen and (max-width: $mobile) {
            display: none;
            align-items: center;
            justify-content: space-around;
            justify-content: space-evenly;
            padding-bottom: 11px;
            width: 100%;
            opacity: 0;
            height: 0;
            transition: opacity, height 0.4s;
            user-select: none;
            overflow: hidden;
          }
        }

        &__social--active {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 24px;
          width: get-desktop-vw(150);
          opacity: 1;
          transition: opacity 0.4s;

          li {
            margin: 0 8px;
          }

          @media screen and (max-width: $desktop) {
            li {
              margin: 0 get-desktop-vw(4);
            }
          }

          @media screen and (max-width: $mobile) {
            display: flex;
            align-items: center;
            justify-content: space-around;
            justify-content: space-evenly;
            padding-bottom: 11px;
            width: 100%;
            opacity: 1;
            height: 57px;
            transition: opacity, height 0.4s;
            user-select: auto;

            li {
              margin: 0 get-mobile-vw(4);
            }

            svg {
              width: 70%;
            }
          }
        }

        &__container {
          display: flex;
          align-items: center;
          cursor: pointer;
          user-select: none;
          opacity: 1;
          transition: opacity 0.4s;

          &--active {
            opacity: 0.5;
            transition: opacity 0.4s;
          }

          h2 {
            font-size: em(20);
            font-weight: 700;

            @media screen and (max-width: $mobile) {
              font-size: em(18);
            }
          }
        }

        &__icon {
          width: get-desktop-vw(25);
          margin-left: get-desktop-vw(10);

          @media screen and (max-width: $mobile) {
            width: get-mobile-vw(35);
            margin-left: get-mobile-vw(10);
          }
        }
      }
    }
  }

}

.limited  {
  margin: 0!important;
  padding-top:2%;
  &__availability {
    text-transform: capitalize;
    animation: fadein 1s ease-in-out;
    color: #E14D9A;
    font-weight: bold;
    cursor: pointer;

    position: relative;
    line-height: 22px;


    text-decoration: none;

    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 3px;
      background-color: white;
      transition: .3s width linear;
    }

    &.left:after,
    &.center:after,
    &.right:after {
      width: 0;
    }

    &.center:after {
      left: 50%;
      transform: translateX(-50%);
    }

    &.right:after  {
      left: auto;
      right: 0;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }

  }
  @media screen and (max-width: $mobile) {
    padding: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
}
  to   {
    opacity: 1;

  }
}

/*=====  End of SingleEvent  ======*/
