.relatedEvents {
  background: transparent !important;
}
.homePage {
  overflow: hidden;
}

.hoiSection {
  max-width: 1440px;
  margin: 0 auto;
}


.hoiKV {
  height: 80vh;
  width: 100%;
  background: navy;
}

.hoiNav {
  position: relative;
}

.hoiItems {
  display: flex;
  flex-wrap: wrap;
}

.hoiSvg {
  position: absolute;
  width: 3000px;
  height: 3000px;
  opacity: 0.8;
  z-index: 10;
  left: 50%;
  top: 50%;
  margin-top: -1500px;
  margin-left: -1500px;
  // position: absolute;
  // width: 100%;
  // height: 100%;
  // opacity: 0.4;
  // z-index: 10;
  // left: 50%;
  // top: 0;

  &:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background: orange;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
  }
}



.hoiItem {
  width: 50%;
  height: 0;
  padding-bottom: 45%;
  position: relative;
}

.hoiItem:nth-child(1) {
  background:red;
}
.hoiItem:nth-child(2) {
  background:blue;
}
.hoiItem:nth-child(3) {
  background:yellow;
}
.hoiItem:nth-child(4) {
  background:green;
}

/*
.hoiAnimation {
  position: fixed;
  width: 100%;
  max-width: 1440px;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  min-height: 100%;
  // background-color: purple;
  // opacity: 0.8;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, 0);

  svg {
    height: auto !important;
    // width: 100% !important;
    opacity: 50%;
    position: relative;
    // top: 50%;
    left: 50%;
    transform: translate(-50%, 0) !important;
  }
}
*/
