@import "base/variables";

// Mixins
@import "mixins/clearfix";
@import "mixins/typography";
@import "mixins/vw";

// Base
@import "base/base";
@import "base/typography";

// Helpers
@import "helpers/helpers";

.cheil-static {
  @import "components/nav";
  @import "components/find-kx";
  @import "components/social";
  @import "components/upcomingSlider";
  @import "components/book";
  @import "components/calendar";
  @import "components/loader";

  @import "components/templateScripts/eventTile";
  @import "components/templateScripts/singleEvent";

  // Pages
  @import "pages/home";
  @import "pages/discover";
  @import "pages/whatson";
  @import "pages/event";
  @import "pages/services";
  @import "pages/bookings";
  @import "pages/experience";
  @import "pages/school";
}
// Components

// Vendor
@import "vendor/jquery-ui-1.12.1.custom/jquery-ui.min";
@import "vendor/jquery-ui-1.12.1.custom/jquery-ui.structure.min";
@import "vendor/jquery-ui-1.12.1.custom/jquery-ui.theme.min";
@import "vendor/animate/animate";

@import "components/datePicker";


.star {
  visibility: hidden;
  &__recently {
    &.fadeIn {
      -webkit-animation: animat_show-recently 1.2s;
      animation: animat_show-recently 1.2s;
    }
    
  }
}



.fadeIn {
  -webkit-animation: animat_show 0.8s;
  animation: animat_show 0.8s;
  visibility: visible !important;

}

@-webkit-keyframes animat_show{
  0%{opacity:0}
  100%{opacity:1}
}
// @-webkit-keyframes animat_show-recently{
//   0%{
//     opacity:0;
//     transform: translate(-60%, -20%);
//   }
  
//   100%{
//     opacity:1;
//     transform: translate(-20%, 0);
//   }
// }
@-webkit-keyframes animat_show-recently{
  0%{
    opacity:0;
    transform: translate(0, -20%);
  }
  
  100%{
    opacity:1;
    transform: translate(-20%, 0);
  }
}