.hoiContentHeadline {
  // padding-left: $padding-desktop;
  // padding-right: $padding-desktop;
}

.hoiContentHeadline--align-left {
  text-align: left;
}

.hoiContentHeadline--align-center {
  text-align: center;
}

.hoiContentHeadline--align-right {
  text-align: right;
}
