.hoiWrapper {
  margin: $spacing-mobile;
}

// nested wrappers (probably shouldnt go more than 2 deep)
.hoiWrapper .hoiWrapper {
  margin: $spacing-mobile calc(#{$spacing-mobile} / 2);
}

@media screen and (min-width: $mobile + 1) {
  .hoiWrapper {
    max-width: 66vw;
    margin: $spacing-desktop auto;
  }
  .hoiWrapper .hoiWrapper {
    margin: $spacing-desktop calc(#{$spacing-desktop} / 2);
  }
}

@media screen and (min-width: $desktop + 1) {
  .hoiWrapper {
    padding: 0 $spacing-desktop;
  }
}

.hoiWrapper--align-left {
  text-align: left;
}

.hoiWrapper--align-center {
  text-align: center;
}

.hoiWrapper--align-right {
  text-align: right;
}
