.hoiKv {
  width: 100%;
}

.hoiKv__Media {
  display: block;
  position: relative;
}

.hoiKv__Media:after {
  content: "";
  display: block;
  padding-bottom: 56.25%;
}

.hoiKv__MediaImage {
  width: 100%;
  position: absolute;
  height: 100%;
  // transform: translate(-50%, -50%);
  // left: 50%;
  // top: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hoiKv__Components {
  padding: $spacing-mobile;
  max-width: 1000px;

  p {
    @extend .h6;
    font-weight: bold;
  }

  .hoiShare {
    margin-left: 0;
    margin-right: 0;
  }
}

.hoiKv__ComponentExtras {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .hoiShare {
    margin-right: 0.5rem;
  }

  @media screen and (max-width: $mobile) {
    display: block;
  }
}

.hoiKv__ContentTime {
  position: absolute;
  z-index: 100;
  background: black;
  display: flex;
  align-items: center;
  width: auto;
  padding: 0.5rem 0.75rem;
  bottom: 1rem;
  right: 1rem;
  border-radius: 0.5rem;
  background: rgba(0,0,0,0.6);
  font-size: 1rem;
  svg {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
  }
  @media screen and (max-width: $mobile) {
    font-size: 0.7rem;
    bottom: 0.5rem;
    right: 0.5rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
    svg {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
    }
  }
}

@media screen and (max-width: $mobile) {
  // Mobile Modfiers
  .hoiKv--m-top,
  .hoiKv--m-bottom {
    display: flex;
    flex-direction: column;
  }

  .hoiKv--m-bottom {
    .hoiKv__Components {
      order: -1
    }
  }
}

@media screen and (min-width: $mobile + 1) {

  .hoiKv__Components {
    padding: $spacing-desktop;
  }

  // Destop Modfiers
  // Left & Right Style
  .hoiKv--d-left,
  .hoiKv--d-right {
    display: flex;
    flex-direction: row;

    .hoiKv__Media,
    .hoiKv__Components {
      flex-grow: 1;
      width: 50%;
    }

    .hoiKv__Media {
      display: block;
      position: relative;
      overflow: hidden;
    }

    .hoiKv__Components {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .hoiKv__Media:after {
      padding-bottom: 90%;
    }
  }

  // Destop Right Style
  .hoiKv--d-right {
    .hoiKv__Components {
      order: -1;
    }
  }

}

// Livestream

.hoiKv--theme-livestream-chat {
  @media screen and (min-width: $mobile + 1) {
    max-height: 80vh;
  }
  .hoiKv__Components {
    width: 100%;
    // display: none;
    padding: 0;
    position: relative;
    @media screen and (min-width: $mobile + 1) {
      display: block;
      width: 20%;
      min-height: auto;
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

// Themes

.hoiKv--theme-cat-meffan {
  background-color: rgb(235,235,235);
  h2, p {
    color: black;
  }
  .hoiKv__Media:after {
    padding-bottom: 70%;
  }
  .hoiKv__MediaImage {
    background-size: 75%;
  }
  .hoiButtons {
    margin: 0;
  }
}
