.hoiIconLinks {
  display: flex;
  flex-wrap: wrap;
  margin-top: $spacing-desktop;
  @media screen and (max-width: $mobile) {
    // flex-wrap: nowrap;
    // flex-direction: column;
    justify-content: center;
  }
}

.hoiIconLinks__Link {
  text-align: center;
  margin-right: 2.5em;
  margin-bottom: 2.5em;
  img {
    width: auto;
    height: auto;
  }
  @media screen and (max-width: $mobile) {
    width: 40%;
  }
}

.hoiIconLinks__Link_Image {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// @media screen and (max-width: $mobile + 1) {
//   .hoiIconLinks {
//     justify-content: space-around;
//   }
//   .hoiIconLinks__Link {
//     margin: 0.5em;
//   }
// }
.hoiIconLinks__Link_Text {
  text-decoration: underline;
  padding: 1em;
  display: block;
}

.hoiIconLinks--fixed-size {
  .hoiIconLinks__Link_Image img {
    width: auto;
    height: 100%;
  }
}
