.hoiParagraphs p {
  margin-bottom: 1rem;

  strong {
    font-size: inherit;
  }
}

.hoiParagraphs--align-left {
  text-align: left;
}

.hoiParagraphs--align-center {
  text-align: center;
}

.hoiParagraphs--align-right {
  text-align: right;
}

.hoiParagraphs--large {
  font-size: 1.25em;
}
