// In Page Elements
.hoiGallery {
  padding: $spacing-mobile;
}

.hoiGallery__Title {
  padding: $spacing-mobile 0;
}

.hoiGallery__NavItem * {
  pointer-events: none;
}

.hoiGallery__NavItem_ImageWrap {
  position: relative;
  height: 0;
  padding-bottom: 100%;
}

// Spotlight Ovelay Elements
.hoiGallery__Spotlight {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 10000;
  pointer-events: none;
  background: black;
}

.hoiGallery__Spotlight[active=true] {
  visibility: visible;
  pointer-events: all;
}

.hoiGallery__SpotlightItems {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.hoiGallery__SpotlightItem {
  height: unset;
}

.hoiGallery__SpotlightWrap {
  display: flex;
  align-items: center;
  height: 100%;
}

.hoiGallery__SpotlightClose {
  top: $spacing-mobile / 2;
  right: $spacing-mobile / 2;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  font-size: 40px;

  &:before {
    content: '\2715';
  }
}

// current made to fit contents dimensions
.hoiGallery__Media {
  width: 100%;
  height: 100%;
  position: relative;
}

.hoiGallery__MediaBody {
  padding: $spacing-mobile;
}

@media screen and (min-width: $mobile) {
  .hoiGallery {
    padding: $spacing-desktop;
  }
  .hoiGallery__Title {
    padding: $spacing-desktop 0;
  }
  .hoiGallery__SpotlightWrap {
    padding: $padding-desktop * 2;
  }
  .hoiGallery__Spotlight {
    padding: $padding-desktop;
  }
  .hoiGallery__SpotlightClose {
    top: 0;
    right: 0;
  }
}
