.hoiBambuser {
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline: none;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hoiBambuser__Launch {
  border-radius: 28px;
  padding: 1em 2em;
  width: auto;
  flex-shrink: 0;
  font-size: 0.9rem;
  font-family: $samsung-sharp;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  span {
    font-size: 0.7rem;
    display: block;
    margin-bottom: 0.125rem;
  }


  .hoiBambuser__LaunchIcon {
    display: none;
  }

  // &--live {
  padding-right: 3rem;
  .hoiBambuser__LaunchIcon {
    display: block;
    position: absolute;
    right: 0;
    height: 101%;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0.2rem 0.4rem;
    @media screen and (min-width: $mobile + 1) {
      padding: 3%;
    }
    svg {
      transform-origin: center;
      animation: icon-pulse 0.8s ease-in-out infinite;
      path {
        transition: 0.3s ease-in-out;
      }
    }
  }

  &:hover {
    .hoiBambuser__LaunchIcon svg path {
      fill: $coral;
    }
  }
  // }
  max-width: 18rem;
}

@keyframes icon-pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}

.hoiBambuser__Body {
  position: absolute;
  width: 100%;
  top: 0;
  // right: 0;
  display: flex;
  flex-direction: column;
  padding: 10vw;
  height: 60%;
  h1 {
    font-size: 11vw;
    margin-bottom: 3vw;
    flex-shrink: 0;
    display: inline;
    margin-bottom: auto;
  }
  .hoiBambuser__LiveIcon {
    width: 19vw;
    margin-bottom: 2rem;
    flex-shrink: 0;
    margin-top: 2vw;
    margin-left: 2vw;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
  }
  .hoiBambuser__Launch {}
  h2 {
    font-size: 5.5vw;
    margin-top: auto;
  }
  h4 {
    font-size: 3.8vw;
    margin-top: auto;
    margin-bottom: 0.25em;
  }
  h4 + h2 {
    margin-top: 0;
  }
  @media screen and (min-width: $mobile + 1) {
    width: 40%;
    margin: auto 0;
    left: 0;
    padding: 4vw;
    height: 95%;
    h1 {
      font-size: 5vw;
      margin-bottom: 2vw;
    }
    .hoiBambuser__LiveIcon {
      width: 8vw;
      height: 3.5vw;
      margin-left: 0.5vw;
      margin-top: 1vw;
    }
    h2 {
      font-size: 2.5vw;
      margin-bottom: 1rem;
    }
    h4 {
      font-size: 1.8vw;
    }
    // .btn {
    //   padding: 1em 2em;
    // }
  }

  @media screen and (min-width: 1440px) {
    padding: 4rem;
    h1 {
      font-size: 4rem;
      margin-bottom: 1rem;
    }
    .hoiBambuser__LiveIcon {
      width: 8rem;
      height: 3.5rem;
    }
    h2 {
      font-size: 2.6rem;
      margin-bottom: 1rem;
    }
    h4 {
      font-size: 2rem;
    }
  }

}
