.hoiLinkList {
  margin: $spacing-mobile;
}

@media screen and (min-width: $mobile + 1) {
  .hoiLinkList {
    margin: $spacing-desktop;
  }
}


// Square list items

.hoiLinkList--size-square {
  .hoiList__Item {
    width: auto;
  }
  .hoiList__ItemImageWrap {
    padding-bottom: 100%;
  }
}

// Category Featured

.hoiLinkList--feature {
  .hoiList {
    .hoiList__Item {
      width: 100%;
      margin-bottom: 1em;
      .hoiList__ItemImageWrap {
        padding-bottom: 50%;
      }
    }

    @media screen and (min-width: $mobile + 1) {
      .hoiList__Item:first-child {
        width: 100%;
        font-size: 1.5em;
        .hoiList__ItemImageWrap {
          padding-bottom: 38%;
        }
      }
      .hoiList__Item:nth-child(1n+2) {
        width: calc(50% - 1em);
        font-size: 1.25em;
        .hoiList__ItemImageWrap {
          padding-bottom: 60%;
        }
      }
      .hoiList__Item:nth-child(1n+4) {
        width: calc(25% - 1em);
        font-size: 1.1em;
        .hoiList__ItemImageWrap {
          padding-bottom: 120%;
        }
      }
    }
  }
}

// Scrolling Style

.hoiLinkList--scroll {
  margin-left: 0;
  margin-right: 0;
  .hoiHeadline {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  .hoiList {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-left: 2.5em;
    padding-right: 2.5em;

    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    // display: block;
    white-space: nowrap;
    &::-webkit-scrollbar {
      // width: 8px; /* 1px wider than Lion. */
      height: 8px;
      /* This is more usable for users trying to click it. */
      background-color: rgba(0,0,0,0);
      -webkit-border-radius: 100px;
    }
    /* hover effect for both scrollbar area, and scrollbar 'thumb' */
    &::-webkit-scrollbar:hover {
      background-color: rgba(0, 0, 0, 0.09);
    }
    /* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
    &::-webkit-scrollbar-thumb:horizontal {
      /* This is the EXACT color of Mac OS scrollbars.
         Yes, I pulled out digital color meter */
      background: rgba(255,255,255,0.5);
      -webkit-border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb:horizontal:active {
      background: rgba(255,255,255,0.61); /* Some darker color when you click it */
      -webkit-border-radius: 100px;
    }
  }
  .hoiList__Item {
    display: inline-block;
    flex-shrink: 0;
    width: calc(45vw - #{$spacing-desktop / 2});
    @media screen and (min-width: $mobile + 1) {
      width: calc(23vw - #{$spacing-desktop / 4});
    }
    margin-right: calc(2.5em / 2);
    &--spacer {
      display: none;
    }
  }
}
