.hoiKv {
  width: 100%;
}

.hoiKv__Media {
  display: block;
  position: relative;
}

.hoiKv__Media:after {
  content: "";
  display: block;
  padding-bottom: 56.25%;
}

.hoiKv__MediaImage {
  width: 100%;
  position: absolute;
  height: 100%;
  // transform: translate(-50%, -50%);
  // left: 50%;
  // top: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hoiKv__Components {
  padding: $spacing-mobile;

  p {
    @extend .h6;
    font-weight: bold;
  }

  .hoiShare {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: $mobile) {
  // Mobile Modfiers
  .hoiKv--m-top,
  .hoiKv--m-bottom {
    display: flex;
    flex-direction: column;
  }

  .hoiKv--m-bottom {
    .hoiKv__Components {
      order: -1
    }
  }
}

@media screen and (min-width: $mobile + 1) {

  .hoiKv__Components {
    padding: $spacing-desktop;
  }

  // Destop Modfiers
  // Left & Right Style
  .hoiKv--d-left,
  .hoiKv--d-right {
    display: flex;
    flex-direction: row;

    .hoiKv__Media,
    .hoiKv__Components {
      flex-grow: 1;
      width: 50%;
    }

    .hoiKv__Media {
      display: block;
      position: relative;
      overflow: hidden;
    }

    .hoiKv__Components {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .hoiKv__Media:after {
      padding-bottom: 90%;
    }
  }

  // Destop Right Style
  .hoiKv--d-right {
    .hoiKv__Components {
      order: -1;
    }
  }

}

// Livestream

.hoiKv--theme-livestream-chat {
  @media screen and (min-width: $mobile + 1) {
    max-height: 80vh;
  }
  .hoiKv__Components {
    width: 100%;
    display: none;
    padding: 0;
    position: relative;
    @media screen and (min-width: $mobile + 1) {
      display: block;
      width: 20%;
      min-height: auto;
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

// Themes

.hoiKv--theme-cat-meffan {
  background-color: rgb(235,235,235);
  h2, p {
    color: black;
  }
  .hoiKv__Media:after {
    padding-bottom: 70%;
  }
  .hoiKv__MediaImage {
    background-size: 75%;
  }
  .hoiButtons {
    margin: 0;
  }
}
