$slide-scale: 0.95;

// discover v2 kv styles
.discoverKv {
  padding: 0;
  position: relative;

  height: calc((70vw * 1.1) * 0.52);

  @media screen and (min-width: $mobile + 1) {
    height: calc((60vw * 1.1) * 0.52); // new full width
  }
  @media screen and (min-width: 1440px + 1) {
    // ((((width - padding) / 3) * scale) * imageRatio) * 2 (doubleheight)
    height: calc( ((1440px * 0.7) * 1.1) * 0.52);
    max-width: 1440px;
    margin: 0 auto;
  }

  // initalise states
  #discover-kv-slider,
  .discoverKv__svgs,
  .discoverKv__content {
    opacity: 0;
    transition: 0.5s 0.25s ease-in-out;
  }
  .discoverKv__svgs {
    transition-delay: 0.5s;
    .discoverKv__svg {
      transition: 0.75s 0.5s ease-out;
    }
    .discoverKv__svg--left {
      transform: translate(-5%, 0);
    }
    .discoverKv__svg--right {
      transform: translate(5%, 0);
    }
  }
  .discoverKv__content {
    transition-delay: 1s;
  }
  &[ready] {
    #discover-kv-slider,
    .discoverKv__svgs,
    .discoverKv__content {
      opacity: 1;
    }
    .discoverKv__svg {
      transform: translate(0, 0);
    }
  }


  // SVGS
  .discoverKv__svgs {
    pointer-events: none;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    .discoverKv__svg {
      position: absolute;
      width: 75%;
      // (width - padding) / 3slides ) * scale) * imageRatio ) centerSlideScale)
      // top: calc(((((100vw - 40px) / 3) * 1) * 0.52) * 3);
      top: calc((70vw * #{$slide-scale}) * 0.52);
      // @media screen and (min-width: $mobile-small + 1) {
      //   top: calc(((((100vw - 80px) / 3) * 1) * 0.52) * 3);
      // }
      @media screen and (min-width: $mobile + 1) {
        width: 50%;
        top: calc((60vw * #{$slide-scale}) * 0.52);
      }
      @media screen and (min-width: $desktop + 1) {
        top: calc(((1440px * 0.6) * #{$slide-scale}) * 0.52);
      }
      &--left {
        left: 0;
      }
      &--right {
        right: 0;
        display: none;
      }
    }
    @media screen and (min-width: $mobile + 1) {
      // transform: scale($center-slide-scale);
      .discoverKv__svg--right {
        display: block;
      }
    }
  }

  // Content
  .discoverKv__content {
    height: 100%;
    @media screen and (max-width: $mobile) {
      height: 100%;
      h1 {
        // font-size: 2.5em !important;
        max-width: 50vw;
        text-align: center;
        line-height: 1.2;
      }
    }
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: none;
    align-items: center;
    justify-content: center;
  }

  // Slider
  .discoverKv__slider {
    position: relative;
    z-index: 1;
    height: 100%;
    justify-content: flex-start;
    padding: 0;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    @media screen and (max-width: $mobile) {
      pointer-events: none;
    }
    .slick-slider {
      height: 100%;
    }
    .slick-list {
      height: 100%;
    }
    .slick-track {
      padding: 0;
    }
    .slick-slide {
      transform-origin: top center;
      transition: 1s cubic-bezier(0.4, 0, 0.2, 1) !important;
      position: relative;
      width: 70vw;
      transform: scale(#{$slide-scale}) !important;

      & > div > div {
        display: block !important;
      }

      @media screen and (min-width: $mobile + 1) {
        width: 60vw;
      }

      @media screen and (min-width: $desktop + 1) {
        width: calc(1440px * 0.7);
      }

      &:before {
        content: '';
        background-color: black;
        opacity: 0.35;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 11;
        transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
    .slick-slide img {
      padding: 0;
      opacity: 1;
      transform: scale(1);
      box-shadow: none;

    }
    .slick-center {
      // transform: scale(3);
      z-index: 12;

      &:before {
        opacity: 0.2;
      }
      // @media screen and (min-width: $mobile + 1) {
        // transform: scale($center-slide-scale);
        transform: scale(1.1) !important;
      // }
      // transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
      img {
        margin: 0;
        z-index: 10;
        @media screen and (max-width: $mobile) {
          box-shadow: none;
        }
      }
    }
    .slick-arrow {
      z-index: 100;
      position: absolute;
      left: 50%;
      right: 0;
      font-size: 0;
      width: 1em;
      height: 1em;
      pointer-events: all;
      background: none;
      &:before {
        display: block;
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        background-image: url(https://images.samsung.com/is/content/samsung/assets/uk/explore/kings-cross/icon/chevron.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 2rem;
        height: 2rem;
        @media screen and (min-width: $mobile + 1) {
          width: 3rem;
          height: 3rem;
        }
      }
      &.slick-prev {
        transform: translateX(calc(-30vw - 50%)) scale(-1,1);

        @media screen and (min-width: $desktop + 1) {
          // (1440 * 0.6) / 2
          transform: translateX(calc(-432px - 50%)) scale(-1,1);
        }
      }
      &.slick-next {
        transform: translateX(calc(30vw - 50%));
        @media screen and (min-width: $desktop + 1) {
          transform: translateX(calc(432px - 50%));
        }
      }
    }
  }
}
