// experiences

$item-transition-duration: 0.5s;
$easing: cubic-bezier(0.85, 0, 0.15, 1);

.discoverExperience {
  width: 100%;
  position: relative;
  z-index: 2;
  margin: 25px 0;
}

.discoverExperience__Item {
  padding-bottom: 50%;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  cursor: pointer;

  * {
    pointer-events: none;
  }
}

.discoverExperience__ItemClose {
  transition: opacity #{$item-transition-duration / 2} $easing;
  position: absolute;
  pointer-events: none;
  top: 0;
  right: 0;
  width: 2em;
  height: 2em;
  background: black;
  font-size: 2em;
  text-align: center;
  line-height: 2em;
  opacity: 0;
  &:before {
    content: '\2715';
  }
}

.discoverExperience__ItemBody {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  width: 100%;
  h3, p {
    padding: 4vw;
  }
  &--inactive {
    transition: #{$item-transition-duration} #{$item-transition-duration} $easing;
    opacity: 1;
    transform: translate(0, 0);
  }
  &--active {
    h3 {
      padding-bottom: 2vw;
    }
    p {
      padding-top: 0;
    }
    transform: translate(0, 110%);
    transition: #{$item-transition-duration} $easing;
    opacity: 0;
  }
}

.discoverExperience__Item[active="true"] {
  .discoverExperience__ItemBody--inactive {
    transition: $item-transition-duration $easing;
    transform: translate(0, 110%);
    opacity: 0;
  }
  .discoverExperience__ItemBody--active {
    transition: #{$item-transition-duration * 2} #{$item-transition-duration / 2} $easing;
    transform: translate(0,0);
    opacity: 1;
  }
  .discoverExperience__ItemClose {
    transition: opacity #{$item-transition-duration / 2} #{$item-transition-duration} $easing;
    display: block;
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
  }
}

@media screen and (min-width: $mobile + 1) {

  .discoverExperience {
    padding-bottom: 45%;
    margin: 50px 0;
  }

  .discoverExperience__Items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .discoverExperience__Item {
    transition: $item-transition-duration $easing, opacity #{$item-transition-duration / 2} $easing;
    position: absolute;
    padding-bottom: 0;
    width: 33.3%;
    height: 33.3%;
    top: 0;
    left: 0;

    &:nth-child(1) {
      width: 66.7%;
      height: 66.7%;
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(6) {
      left: 66.7%;
    }
    &:nth-child(3) {
      top: 33.3%;
    }
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      top: 66.7%;
      width: 33.35%;
    }
    &:nth-child(5) {
      left: 33.3%;
    }
    &:nth-child(6) {
      left: 66.6%;
      width: 33.3%;
    }
  }

  .discoverExperience__ItemBody {
    h3, p {
      padding: 1rem;
    }
    p {
      max-width: 66vw;
    }

    &--active {
      h3 {
        padding: 2rem 2rem 1rem 2rem;
      }
      p {
        padding: 0rem 2rem 2rem 2rem;
      }
    }
  }

  // States
  // .discoverExperience__Item:hover {
  .discoverExperience__Item[active="true"] {
    transition: $item-transition-duration $easing, opacity 0s $easing;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: auto;
  }

  .discoverExperience__Item[active="false"] {
    opacity: 0.6;
  }

}
